n8n/Luna Open Demo WhatsApp Inbound Live Reply Pipe.json
{
  "name": "Luna Open Demo WhatsApp Inbound Live Reply Pipe",
  "active": false,
  "meta": {
    "description": "Stage 27demo-k live-reply pipe. STAGING/DEMO ONLY — INACTIVE in repo; import into staging n8n only. Never replace production Main. Meta WhatsApp webhook → normalize → guard phone_number_id 1152900101233109 → POST /staff/bot/open-demo-whatsapp-inbound-dry-run with send_live_reply_confirmed:true ONLY (no booking/Stripe/confirmation flags). Staff API owns live send gates. X-Luna-Bot-Token via Luna Bot Internal Token (staging). No graph.facebook.com. No api.stripe.com.",
    "instanceId": "stage27demo-k-live-reply-pipe"
  },
  "nodes": [
    {
      "id": "k1",
      "name": "Webhook - Open Demo Live Reply Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "open-demo-whatsapp-inbound-live-reply-27k",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a27demok-0027-4000-8000-000000000028"
    },
    {
      "id": "k1a",
      "name": "Code - Set Live Reply Pipe Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-k — live-reply pipe flags (no $env; staging n8n blocks env in expressions)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    live_reply_pipe_mode: true,\n    send_live_reply_confirmed: true,\n    demo_phone_number_id: '1152900101233109'\n  }\n}];"
      }
    },
    {
      "id": "k2",
      "name": "IF - Live Reply Pipe Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "live-reply-pipe-check",
              "leftValue": "={{ $json.live_reply_pipe_mode }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "k2b",
      "name": "Respond - Live Reply Pipe Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"live_reply_pipe_guard_blocked\", \"detail\": \"live_reply_pipe_mode is not true; refusing open demo live reply pipe\", \"sends_whatsapp\": false, \"live_send_blocked\": true }"
      }
    },
    {
      "id": "k3",
      "name": "Code - Normalize Meta WhatsApp Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-k — normalize Meta WhatsApp inbound for open demo live-reply pipe\nconst DEMO_PHONE_NUMBER_ID = '1152900101233109';\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst entry = body.entry && body.entry[0];\nconst change = entry && entry.changes && entry.changes[0];\nconst value = (change && change.value) || body;\nconst metadata = value.metadata || {};\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst contacts = value.contacts || [];\nconst profile = (contacts[0] && contacts[0].profile) || {};\n\nconst phoneNumberId = String(\n  metadata.phone_number_id || body.phone_number_id || DEMO_PHONE_NUMBER_ID\n).trim();\n\nconst fromRaw = String(msg.from || body.from || body.guest_phone || body.phone || '').trim();\nconst guestPhone = fromRaw ? (fromRaw.startsWith('+') ? fromRaw : `+${fromRaw}`) : '';\n\nconst waMessageId = String(\n  msg.id || body.wamid || body.inbound_message_id || body.raw_meta_message_id || ''\n).trim() || null;\n\nlet messageText = String(\n  (msg.text && msg.text.body)\n    || (msg.button && msg.button.text)\n    || (msg.interactive && msg.interactive.button_reply && msg.interactive.button_reply.title)\n    || (msg.interactive && msg.interactive.list_reply && msg.interactive.list_reply.title)\n    || body.message_text || body.text || body.message || ''\n).trim();\n\nif (!messageText && msg.type && msg.type !== 'text') {\n  messageText = `[non-text message: ${msg.type}]`;\n}\n\nconst ts = msg.timestamp || body.timestamp || null;\nconst receivedAt = body.received_at\n  || (ts ? new Date(Number(ts) * 1000).toISOString() : new Date().toISOString());\n\nconst contactName = String(profile.name || body.contact_name || body.guest_name || '').trim() || null;\n\nif (!guestPhone) throw new Error('Missing required field: guest_phone');\nif (!messageText) throw new Error('Missing required field: message_text');\nif (!waMessageId) throw new Error('Missing required field: wamid / inbound_message_id');\n\nreturn [{\n  json: {\n    source: 'n8n_open_demo_whatsapp_inbound',\n    client_slug: String(body.client_slug || 'wolfhouse-somo').trim(),\n    channel: 'whatsapp',\n    phone_number_id: phoneNumberId,\n    guest_phone: guestPhone,\n    message_text: messageText,\n    wamid: waMessageId,\n    inbound_message_id: waMessageId,\n    received_at: receivedAt,\n    contact_name: contactName,\n    raw_meta_message_id: waMessageId,\n    live_reply_pipe_mode: true,\n    send_live_reply_confirmed: true\n  }\n}];"
      }
    },
    {
      "id": "k4",
      "name": "IF - Demo Phone ID Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "phone-id-match",
              "leftValue": "={{ $json.phone_number_id }}",
              "rightValue": "1152900101233109",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "k4b",
      "name": "Respond - Wrong Phone Number ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"phone_number_id_blocked\", \"detail\": \"open demo live reply pipe accepts only 1152900101233109\", \"phone_number_id\": $('Code - Normalize Meta WhatsApp Inbound').first().json.phone_number_id, \"sends_whatsapp\": false, \"live_send_blocked\": true }"
      }
    },
    {
      "id": "k5",
      "name": "HTTP - Open Demo Inbound Live Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/open-demo-whatsapp-inbound-dry-run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  source: $('Code - Normalize Meta WhatsApp Inbound').first().json.source,\n  client_slug: $('Code - Normalize Meta WhatsApp Inbound').first().json.client_slug,\n  channel: $('Code - Normalize Meta WhatsApp Inbound').first().json.channel,\n  phone_number_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.phone_number_id,\n  guest_phone: $('Code - Normalize Meta WhatsApp Inbound').first().json.guest_phone,\n  message_text: $('Code - Normalize Meta WhatsApp Inbound').first().json.message_text,\n  wamid: $('Code - Normalize Meta WhatsApp Inbound').first().json.wamid,\n  inbound_message_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.inbound_message_id,\n  received_at: $('Code - Normalize Meta WhatsApp Inbound').first().json.received_at,\n  contact_name: $('Code - Normalize Meta WhatsApp Inbound').first().json.contact_name,\n  raw_meta_message_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.raw_meta_message_id,\n  send_live_reply_confirmed: true\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "k6",
      "name": "Code - Map Staff API Live Reply Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-k — map Staff API open-demo live-reply response\nconst http = $input.first().json;\nconst normalized = $('Code - Normalize Meta WhatsApp Inbound').first().json;\nconst statusCode = http.statusCode || http.status || 0;\nconst api = http.body || http;\n\nconst proposed = api.review && api.review.proposed_luna_reply\n  ? api.review.proposed_luna_reply\n  : (api.proposed_luna_reply || null);\n\nreturn [{\n  json: {\n    live_reply_pipe_mode: true,\n    send_live_reply_confirmed: true,\n    staff_api_status: statusCode,\n    staff_api_success: api.success === true,\n    sends_whatsapp: api.sends_whatsapp === true,\n    whatsapp_sent: api.whatsapp_sent === true,\n    live_send_blocked: api.live_send_blocked === true,\n    send_performed: api.send_performed === true,\n    guest_message_send_status: api.guest_message_send_status || null,\n    whatsapp_message_id: api.whatsapp_message_id || null,\n    provider_message_id: api.whatsapp_message_id || api.provider_message_id || null,\n    live_send_gate_code: api.live_send_gate_code || api.demo_live_reply_gate_code || null,\n    no_write_performed: api.no_write_performed === true,\n    review_persistence_performed: api.review_persistence_performed === true,\n    conversation_id: api.conversation_id || null,\n    proposed_luna_reply: proposed,\n    proposed_luna_reply_preview: proposed ? String(proposed).slice(0, 160) : null,\n    demo_gate_blocked: api.demo_gate_blocked === true,\n    demo_gate_code: api.demo_gate_code || null,\n    guest_phone: normalized.guest_phone,\n    wamid: normalized.wamid,\n    phone_number_id: normalized.phone_number_id,\n    message_text: normalized.message_text,\n    staff_api_endpoint: '/staff/bot/open-demo-whatsapp-inbound-dry-run',\n    note: 'Stage 27demo-k: n8n pipe only — Staff API brain; send_live_reply_confirmed only; no booking/Stripe/confirmation flags.'\n  }\n}];"
      }
    },
    {
      "id": "k7",
      "name": "Respond - Meta 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Open Demo Live Reply Inbound": {
      "main": [[{ "node": "Code - Set Live Reply Pipe Flags", "type": "main", "index": 0 }]]
    },
    "Code - Set Live Reply Pipe Flags": {
      "main": [[{ "node": "IF - Live Reply Pipe Guard", "type": "main", "index": 0 }]]
    },
    "IF - Live Reply Pipe Guard": {
      "main": [
        [{ "node": "Code - Normalize Meta WhatsApp Inbound", "type": "main", "index": 0 }],
        [{ "node": "Respond - Live Reply Pipe Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Normalize Meta WhatsApp Inbound": {
      "main": [[{ "node": "IF - Demo Phone ID Guard", "type": "main", "index": 0 }]]
    },
    "IF - Demo Phone ID Guard": {
      "main": [
        [{ "node": "HTTP - Open Demo Inbound Live Reply", "type": "main", "index": 0 }],
        [{ "node": "Respond - Wrong Phone Number ID", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Open Demo Inbound Live Reply": {
      "main": [[{ "node": "Code - Map Staff API Live Reply Response", "type": "main", "index": 0 }]]
    },
    "Code - Map Staff API Live Reply Response": {
      "main": [[{ "node": "Respond - Meta 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  }
}
