n8n/Luna Open Demo WhatsApp Stripe Test Link Pipe.json
{
  "name": "Luna Open Demo WhatsApp Stripe Test Link Pipe",
  "active": false,
  "meta": {
    "description": "Stage 27demo-m Stripe TEST link pipe. STAGING/DEMO ONLY — INACTIVE in repo. Meta WhatsApp webhook → normalize → guard phone_number_id 1152900101233109 → POST /staff/bot/open-demo-whatsapp-inbound-dry-run with create_stripe_test_link_confirmed:true (Staff API gates link create). Resolves existing draft by guest phone or optional booking_code/payment_draft_id. No send_live_reply_confirmed. No send_payment_link_whatsapp_confirmed. No booking write flags. Staff API is brain.",
    "instanceId": "stage27demo-m-stripe-test-link-pipe"
  },
  "nodes": [
    {
      "id": "m1",
      "name": "Webhook - Open Demo Stripe Test Link Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "open-demo-whatsapp-stripe-test-link-27m",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a27demom-0027-4000-8000-000000000030"
    },
    {
      "id": "m1a",
      "name": "Code - Set Stripe Test Link Pipe Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-m — stripe test link pipe flags (no $env)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    stripe_test_link_pipe_mode: true,\n    demo_phone_number_id: '1152900101233109'\n  }\n}];"
      }
    },
    {
      "id": "m2",
      "name": "IF - Stripe Test Link Pipe Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "stripe-test-link-pipe-check",
              "leftValue": "={{ $json.stripe_test_link_pipe_mode }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "m2b",
      "name": "Respond - Stripe Test Link Pipe Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"stripe_test_link_pipe_guard_blocked\", \"detail\": \"stripe_test_link_pipe_mode is not true\", \"sends_whatsapp\": false, \"live_send_blocked\": true, \"stripe_link_created\": false }"
      }
    },
    {
      "id": "m3",
      "name": "Code - Normalize Meta WhatsApp Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-m — normalize Meta inbound + optional booking refs\nconst DEMO_PHONE_NUMBER_ID = '1152900101233109';\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst entry = body.entry && body.entry[0];\nconst change = entry && entry.changes && entry.changes[0];\nconst value = (change && change.value) || body;\nconst metadata = value.metadata || {};\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst contacts = value.contacts || [];\nconst profile = (contacts[0] && contacts[0].profile) || {};\n\nconst phoneNumberId = String(metadata.phone_number_id || body.phone_number_id || DEMO_PHONE_NUMBER_ID).trim();\nconst fromRaw = String(msg.from || body.from || body.guest_phone || body.phone || '').trim();\nconst guestPhone = fromRaw ? (fromRaw.startsWith('+') ? fromRaw : `+${fromRaw}`) : '';\nconst waMessageId = String(msg.id || body.wamid || body.inbound_message_id || '').trim() || null;\n\nlet messageText = String(\n  (msg.text && msg.text.body)\n    || (msg.button && msg.button.text)\n    || body.message_text || body.text || body.message || ''\n).trim();\nif (!messageText && msg.type && msg.type !== 'text') {\n  messageText = `[non-text message: ${msg.type}]`;\n}\n\nconst ts = msg.timestamp || body.timestamp || null;\nconst receivedAt = body.received_at || (ts ? new Date(Number(ts) * 1000).toISOString() : new Date().toISOString());\nconst contactName = String(profile.name || body.contact_name || body.guest_name || '').trim() || null;\nconst guestContext = body.guest_context && typeof body.guest_context === 'object' ? body.guest_context : null;\nconst referenceDate = body.reference_date != null ? String(body.reference_date).trim() : '2026-06-08';\nconst bookingCode = body.booking_code != null ? String(body.booking_code).trim() : null;\nconst paymentDraftId = body.payment_draft_id != null ? String(body.payment_draft_id).trim() : null;\nconst bookingId = body.booking_id != null ? String(body.booking_id).trim() : null;\n\nif (!guestPhone) throw new Error('Missing guest_phone');\nif (!messageText) throw new Error('Missing message_text');\nif (!waMessageId) throw new Error('Missing wamid');\n\nreturn [{\n  json: {\n    source: 'n8n_open_demo_whatsapp_inbound',\n    client_slug: String(body.client_slug || 'wolfhouse-somo').trim(),\n    channel: 'whatsapp',\n    phone_number_id: phoneNumberId,\n    guest_phone: guestPhone,\n    message_text: messageText,\n    wamid: waMessageId,\n    inbound_message_id: waMessageId,\n    received_at: receivedAt,\n    contact_name: contactName,\n    raw_meta_message_id: waMessageId,\n    guest_context: guestContext,\n    reference_date: referenceDate,\n    booking_code: bookingCode,\n    booking_id: bookingId,\n    payment_draft_id: paymentDraftId,\n    stripe_test_link_pipe_mode: true\n  }\n}];"
      }
    },
    {
      "id": "m4",
      "name": "IF - Demo Phone ID Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "phone-id-match",
              "leftValue": "={{ $json.phone_number_id }}",
              "rightValue": "1152900101233109",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "m4b",
      "name": "Respond - Wrong Phone Number ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"phone_number_id_blocked\", \"sends_whatsapp\": false, \"live_send_blocked\": true, \"stripe_link_created\": false }"
      }
    },
    {
      "id": "m5",
      "name": "HTTP - Open Demo Stripe Test Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/open-demo-whatsapp-inbound-dry-run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  source: $('Code - Normalize Meta WhatsApp Inbound').first().json.source,\n  client_slug: $('Code - Normalize Meta WhatsApp Inbound').first().json.client_slug,\n  channel: $('Code - Normalize Meta WhatsApp Inbound').first().json.channel,\n  phone_number_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.phone_number_id,\n  guest_phone: $('Code - Normalize Meta WhatsApp Inbound').first().json.guest_phone,\n  message_text: $('Code - Normalize Meta WhatsApp Inbound').first().json.message_text,\n  wamid: $('Code - Normalize Meta WhatsApp Inbound').first().json.wamid,\n  inbound_message_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.inbound_message_id,\n  received_at: $('Code - Normalize Meta WhatsApp Inbound').first().json.received_at,\n  contact_name: $('Code - Normalize Meta WhatsApp Inbound').first().json.contact_name,\n  raw_meta_message_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.raw_meta_message_id,\n  guest_context: $('Code - Normalize Meta WhatsApp Inbound').first().json.guest_context,\n  reference_date: $('Code - Normalize Meta WhatsApp Inbound').first().json.reference_date,\n  booking_code: $('Code - Normalize Meta WhatsApp Inbound').first().json.booking_code,\n  booking_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.booking_id,\n  payment_draft_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.payment_draft_id,\n  create_stripe_test_link_confirmed: true\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "m6",
      "name": "Code - Map Staff API Stripe Test Link Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-m — map Staff API stripe test link response\nconst http = $input.first().json;\nconst normalized = $('Code - Normalize Meta WhatsApp Inbound').first().json;\nconst statusCode = http.statusCode || http.status || 0;\nconst api = http.body || http;\n\nconst proposed = api.review && api.review.proposed_luna_reply\n  ? api.review.proposed_luna_reply\n  : (api.proposed_luna_reply || null);\n\nreturn [{\n  json: {\n    stripe_test_link_pipe_mode: true,\n    staff_api_status: statusCode,\n    staff_api_success: api.success === true,\n    sends_whatsapp: api.sends_whatsapp === true,\n    whatsapp_sent: api.whatsapp_sent === true,\n    live_send_blocked: api.live_send_blocked !== false,\n    stripe_link_attempted: api.stripe_link_attempted === true,\n    stripe_link_created: api.stripe_link_created === true,\n    stripe_link_reused: api.stripe_link_reused === true,\n    stripe_mode: api.stripe_mode || 'test',\n    booking_code: api.booking_code || null,\n    booking_id: api.booking_id || null,\n    payment_draft_id: api.payment_draft_id || null,\n    stripe_checkout_session_id: api.stripe_checkout_session_id || null,\n    stripe_checkout_url: api.stripe_checkout_url || null,\n    payment_link_sent: api.payment_link_sent === true,\n    confirmation_sent: api.confirmation_sent === true,\n    payment_truth_applied: api.payment_truth_applied === true,\n    create_stripe_test_link_confirmed: api.create_stripe_test_link_confirmed === true,\n    demo_stripe_link_blocked: api.demo_stripe_link_blocked === true,\n    demo_stripe_link_gate_code: api.demo_stripe_link_gate_code || null,\n    slim_guest_context_for_next_turn: api.slim_guest_context_for_next_turn || null,\n    proposed_luna_reply_preview: proposed ? String(proposed).slice(0, 120) : null,\n    guest_phone: normalized.guest_phone,\n    wamid: normalized.wamid,\n    message_text: normalized.message_text,\n    note: 'Stage 27demo-m: n8n pipe only — Staff API brain; Stripe TEST link flag only.'\n  }\n}];"
      }
    },
    {
      "id": "m7",
      "name": "Respond - Meta 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Open Demo Stripe Test Link Inbound": {
      "main": [[{ "node": "Code - Set Stripe Test Link Pipe Flags", "type": "main", "index": 0 }]]
    },
    "Code - Set Stripe Test Link Pipe Flags": {
      "main": [[{ "node": "IF - Stripe Test Link Pipe Guard", "type": "main", "index": 0 }]]
    },
    "IF - Stripe Test Link Pipe Guard": {
      "main": [
        [{ "node": "Code - Normalize Meta WhatsApp Inbound", "type": "main", "index": 0 }],
        [{ "node": "Respond - Stripe Test Link Pipe Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Normalize Meta WhatsApp Inbound": {
      "main": [[{ "node": "IF - Demo Phone ID Guard", "type": "main", "index": 0 }]]
    },
    "IF - Demo Phone ID Guard": {
      "main": [
        [{ "node": "HTTP - Open Demo Stripe Test Link", "type": "main", "index": 0 }],
        [{ "node": "Respond - Wrong Phone Number ID", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Open Demo Stripe Test Link": {
      "main": [[{ "node": "Code - Map Staff API Stripe Test Link Response", "type": "main", "index": 0 }]]
    },
    "Code - Map Staff API Stripe Test Link Response": {
      "main": [[{ "node": "Respond - Meta 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  }
}
