n8n/Luna Open Demo WhatsApp Booking Write Pipe.json
{
  "name": "Luna Open Demo WhatsApp Booking Write Pipe",
  "active": false,
  "meta": {
    "description": "Stage 27demo-l + 28c.1 Meta-compatible booking-write pipe. STAGING/DEMO ONLY — INACTIVE in repo. Same path open-demo-whatsapp-booking-write-27l: GET hub.challenge verify (wolfhouse_verify_token) + POST Meta inbound → normalize → guard phone_number_id 1152900101233109 → POST /staff/bot/open-demo-whatsapp-inbound-dry-run with create_demo_hold_draft_confirmed:true and assign_demo_bed_confirmed:true (Staff API gates write). Multi-turn guest_context via Staff API persistence + optional harness flat fields. No Staff API→n8n bridge. No send_live_reply_confirmed. No Stripe/payment-link/confirmation. Staff API is brain.",
    "instanceId": "stage27demo-l-booking-write-pipe"
  },
  "nodes": [
    {
      "id": "l0",
      "name": "Webhook - Meta GET Hub Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 80],
      "parameters": {
        "path": "open-demo-whatsapp-booking-write-27l",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a28c1-0027-4000-8000-000000000031"
    },
    {
      "id": "l0a",
      "name": "Code - Meta Hub Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 80],
      "parameters": {
        "jsCode": "// Stage 28c.1 — Meta GET hub challenge (same path as POST inbound)\nconst raw = $input.first().json;\nconst query = raw.query || {};\nconst mode = String(query['hub.mode'] || '').trim();\nconst verifyToken = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\nconst EXPECTED = 'wolfhouse_verify_token';\n\nif (mode !== 'subscribe') {\n  throw new Error('invalid_hub_mode');\n}\nif (!verifyToken || String(verifyToken) !== EXPECTED) {\n  throw new Error('invalid_verify_token');\n}\nif (challenge == null || String(challenge).length === 0) {\n  throw new Error('missing_hub_challenge');\n}\n\nreturn [{ json: { challenge: String(challenge), meta_verify_ok: true } }];"
      }
    },
    {
      "id": "l0b",
      "name": "Respond - Meta Hub Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 80],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "l1",
      "name": "Webhook - Open Demo Booking Write Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "open-demo-whatsapp-booking-write-27l",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a27demol-0027-4000-8000-000000000029"
    },
    {
      "id": "l1a",
      "name": "Code - Set Booking Write Pipe Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-l — booking-write pipe flags (no $env)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    booking_write_pipe_mode: true,\n    demo_phone_number_id: '1152900101233109'\n  }\n}];"
      }
    },
    {
      "id": "l2",
      "name": "IF - Booking Write Pipe Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "booking-write-pipe-check",
              "leftValue": "={{ $json.booking_write_pipe_mode }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "l2b",
      "name": "Respond - Booking Write Pipe Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"booking_write_pipe_guard_blocked\", \"detail\": \"booking_write_pipe_mode is not true\", \"sends_whatsapp\": false, \"live_send_blocked\": true, \"write_status\": null }"
      }
    },
    {
      "id": "l3",
      "name": "Code - Normalize Meta WhatsApp Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-l — normalize Meta inbound + optional guest_context/guest_email for multi-turn\nconst DEMO_PHONE_NUMBER_ID = '1152900101233109';\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst entry = body.entry && body.entry[0];\nconst change = entry && entry.changes && entry.changes[0];\nconst value = (change && change.value) || body;\nconst metadata = value.metadata || {};\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst contacts = value.contacts || [];\nconst profile = (contacts[0] && contacts[0].profile) || {};\n\nconst phoneNumberId = String(metadata.phone_number_id || body.phone_number_id || DEMO_PHONE_NUMBER_ID).trim();\nconst fromRaw = String(msg.from || body.from || body.guest_phone || body.phone || '').trim();\nconst guestPhone = fromRaw ? (fromRaw.startsWith('+') ? fromRaw : `+${fromRaw}`) : '';\nconst waMessageId = String(msg.id || body.wamid || body.inbound_message_id || '').trim() || null;\n\nlet messageText = String(\n  (msg.text && msg.text.body)\n    || (msg.button && msg.button.text)\n    || body.message_text || body.text || body.message || ''\n).trim();\nif (!messageText && msg.type && msg.type !== 'text') {\n  messageText = `[non-text message: ${msg.type}]`;\n}\n\nconst ts = msg.timestamp || body.timestamp || null;\nconst receivedAt = body.received_at || (ts ? new Date(Number(ts) * 1000).toISOString() : new Date().toISOString());\nconst contactName = String(profile.name || body.contact_name || body.guest_name || '').trim() || null;\nconst guestContext = body.guest_context && typeof body.guest_context === 'object' ? body.guest_context : null;\nconst guestEmail = body.guest_email != null ? String(body.guest_email).trim() : null;\nconst referenceDate = body.reference_date != null ? String(body.reference_date).trim() : '2026-06-08';\n\nif (!guestPhone) throw new Error('Missing guest_phone');\nif (!messageText) throw new Error('Missing message_text');\nif (!waMessageId) throw new Error('Missing wamid');\n\nreturn [{\n  json: {\n    source: 'n8n_open_demo_whatsapp_inbound',\n    client_slug: String(body.client_slug || 'wolfhouse-somo').trim(),\n    channel: 'whatsapp',\n    phone_number_id: phoneNumberId,\n    guest_phone: guestPhone,\n    message_text: messageText,\n    wamid: waMessageId,\n    inbound_message_id: waMessageId,\n    received_at: receivedAt,\n    contact_name: contactName,\n    raw_meta_message_id: waMessageId,\n    guest_context: guestContext,\n    guest_email: guestEmail,\n    reference_date: referenceDate,\n    booking_write_pipe_mode: true\n  }\n}];"
      }
    },
    {
      "id": "l4",
      "name": "IF - Demo Phone ID Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "phone-id-match",
              "leftValue": "={{ $json.phone_number_id }}",
              "rightValue": "1152900101233109",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "l4b",
      "name": "Respond - Wrong Phone Number ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"phone_number_id_blocked\", \"sends_whatsapp\": false, \"live_send_blocked\": true }"
      }
    },
    {
      "id": "l5",
      "name": "HTTP - Open Demo Booking Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/open-demo-whatsapp-inbound-dry-run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  source: $('Code - Normalize Meta WhatsApp Inbound').first().json.source,\n  client_slug: $('Code - Normalize Meta WhatsApp Inbound').first().json.client_slug,\n  channel: $('Code - Normalize Meta WhatsApp Inbound').first().json.channel,\n  phone_number_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.phone_number_id,\n  guest_phone: $('Code - Normalize Meta WhatsApp Inbound').first().json.guest_phone,\n  message_text: $('Code - Normalize Meta WhatsApp Inbound').first().json.message_text,\n  wamid: $('Code - Normalize Meta WhatsApp Inbound').first().json.wamid,\n  inbound_message_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.inbound_message_id,\n  received_at: $('Code - Normalize Meta WhatsApp Inbound').first().json.received_at,\n  contact_name: $('Code - Normalize Meta WhatsApp Inbound').first().json.contact_name,\n  raw_meta_message_id: $('Code - Normalize Meta WhatsApp Inbound').first().json.raw_meta_message_id,\n  guest_context: $('Code - Normalize Meta WhatsApp Inbound').first().json.guest_context,\n  guest_email: $('Code - Normalize Meta WhatsApp Inbound').first().json.guest_email,\n  reference_date: $('Code - Normalize Meta WhatsApp Inbound').first().json.reference_date,\n  create_demo_hold_draft_confirmed: true,\n  assign_demo_bed_confirmed: true\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "l6",
      "name": "Code - Map Staff API Booking Write Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300],
      "parameters": {
        "jsCode": "// Stage 27demo-l — map Staff API booking write response\nconst http = $input.first().json;\nconst normalized = $('Code - Normalize Meta WhatsApp Inbound').first().json;\nconst statusCode = http.statusCode || http.status || 0;\nconst api = http.body || http;\n\nconst proposed = api.review && api.review.proposed_luna_reply\n  ? api.review.proposed_luna_reply\n  : (api.proposed_luna_reply || null);\n\nreturn [{\n  json: {\n    booking_write_pipe_mode: true,\n    staff_api_status: statusCode,\n    staff_api_success: api.success === true,\n    sends_whatsapp: api.sends_whatsapp === true,\n    whatsapp_sent: api.whatsapp_sent === true,\n    live_send_blocked: api.live_send_blocked !== false,\n    no_write_performed: api.no_write_performed === true,\n    write_status: api.write_status || null,\n    assignment_write_status: api.assignment_write_status || null,\n    booking_code: api.booking_code || null,\n    booking_id: api.booking_id || null,\n    payment_draft_id: api.payment_draft_id || null,\n    assigned_bed_label: api.assigned_bed_label || null,\n    assigned_room_label: api.assigned_room_label || null,\n    calendar_visible_expected: api.calendar_visible_expected === true,\n    stripe_link_created: api.stripe_link_created === true,\n    payment_link_sent: api.payment_link_sent === true,\n    confirmation_sent: api.confirmation_sent === true,\n    create_demo_hold_draft_confirmed: api.create_demo_hold_draft_confirmed === true,\n    assign_demo_bed_confirmed: api.assign_demo_bed_confirmed === true,\n    slim_guest_context_for_next_turn: api.slim_guest_context_for_next_turn || null,\n    proposed_luna_reply_preview: proposed ? String(proposed).slice(0, 120) : null,\n    guest_phone: normalized.guest_phone,\n    wamid: normalized.wamid,\n    message_text: normalized.message_text,\n    note: 'Stage 27demo-l: n8n pipe only — Staff API brain; booking write flags only.'\n  }\n}];"
      }
    },
    {
      "id": "l7",
      "name": "Respond - Meta 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Meta GET Hub Verify": {
      "main": [[{ "node": "Code - Meta Hub Verify", "type": "main", "index": 0 }]]
    },
    "Code - Meta Hub Verify": {
      "main": [[{ "node": "Respond - Meta Hub Challenge", "type": "main", "index": 0 }]]
    },
    "Webhook - Open Demo Booking Write Inbound": {
      "main": [[{ "node": "Code - Set Booking Write Pipe Flags", "type": "main", "index": 0 }]]
    },
    "Code - Set Booking Write Pipe Flags": {
      "main": [[{ "node": "IF - Booking Write Pipe Guard", "type": "main", "index": 0 }]]
    },
    "IF - Booking Write Pipe Guard": {
      "main": [
        [{ "node": "Code - Normalize Meta WhatsApp Inbound", "type": "main", "index": 0 }],
        [{ "node": "Respond - Booking Write Pipe Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Normalize Meta WhatsApp Inbound": {
      "main": [[{ "node": "IF - Demo Phone ID Guard", "type": "main", "index": 0 }]]
    },
    "IF - Demo Phone ID Guard": {
      "main": [
        [{ "node": "HTTP - Open Demo Booking Write", "type": "main", "index": 0 }],
        [{ "node": "Respond - Wrong Phone Number ID", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Open Demo Booking Write": {
      "main": [[{ "node": "Code - Map Staff API Booking Write Response", "type": "main", "index": 0 }]]
    },
    "Code - Map Staff API Booking Write Response": {
      "main": [[{ "node": "Respond - Meta 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  }
}
