n8n/Wolfhouse Booking Assistant - Message Intake Shadow.json
{
  "name": "Wolfhouse Booking Assistant - Message Intake Shadow",
  "active": false,
  "meta": {
    "description": "Phase 16a shadow intake workflow. INACTIVE / NOT IMPORTED into production n8n. Test webhook only — never activate for live WhatsApp. Path: Set shadow flags -> IF guard -> parse WhatsApp-style guest payload -> POST /staff/bot/message-intake-preview -> map extraction/validation/dry_run_plan/ask_next/safety flags -> respond (debug only). X-Luna-Bot-Token via n8n Header Auth credential Luna Bot Internal Token (staging) — bind at import, never hardcoded. No graph.facebook.com. No api.stripe.com. No booking-create. No payment-link. No Stripe webhook. No live WhatsApp send. No n8n activation.",
    "instanceId": "shadow-phase16a"
  },
  "nodes": [
    {
      "id": "m1",
      "name": "Webhook - Intake Shadow Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "luna-message-intake-shadow-16a",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "m1a",
      "name": "Set - Shadow Mode Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Phase 16a — workflow JSON shadow flags (no $env; staging n8n blocks env in expressions)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    shadow_mode: true,\n    dry_run: true,\n    live_send_enabled: false\n  }\n}];"
      }
    },
    {
      "id": "m2",
      "name": "IF - Shadow Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "shadow-check",
              "leftValue": "={{ $json.shadow_mode }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "m2b",
      "name": "Respond - Shadow Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"shadow_guard_blocked\", \"detail\": \"shadow_mode is not true; refusing message-intake-preview path\", \"whatsapp_sent\": false, \"sends_whatsapp\": false, \"calls_n8n\": false, \"no_write_performed\": true }"
      }
    },
    {
      "id": "m3",
      "name": "Code - Parse Guest Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Phase 16a — parse inbound WhatsApp-style guest message for /staff/bot/message-intake-preview\n// Expected shape: { client_slug, from, guest_name, language, message_text, channel }\n// No secrets extracted here. No DB writes. No WhatsApp send.\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst clientSlug  = String(body.client_slug || 'wolfhouse-somo').trim();\nconst from        = String(body.from || body.phone || body.guest_phone || '').trim();\nconst guestName   = String(body.guest_name || body.name || '').trim() || null;\nconst language    = String(body.language || 'en').trim();\nconst messageText = String(body.message_text || body.text || body.message || '').trim();\nconst channel     = String(body.channel || 'whatsapp').trim();\n\nif (!messageText) {\n  throw new Error('Missing required field: message_text');\n}\n\nreturn [{\n  json: {\n    client_slug: clientSlug,\n    from,\n    phone: from,\n    guest_name: guestName,\n    language,\n    message_text: messageText,\n    channel,\n    source: 'luna_whatsapp_shadow',\n    shadow_mode: true,\n    dry_run: true,\n    live_send_enabled: false\n  }\n}];"
      }
    },
    {
      "id": "m4",
      "name": "HTTP - Message Intake Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/message-intake-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code - Parse Guest Message').first().json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "m5",
      "name": "Code - Map Intake Shadow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "jsCode": "// Phase 16a — preserve Staff API intake preview fields (no WhatsApp send)\nconst api = $input.first().json;\nconst parsed = $('Code - Parse Guest Message').first().json;\nconst extraction = api.extraction || {};\n\nreturn [{\n  json: {\n    shadow_mode: true,\n    dry_run: true,\n    preview_only: api.preview_only !== false,\n    extraction_only: api.extraction_only !== false,\n    no_write_performed: api.no_write_performed !== false,\n    creates_booking: api.creates_booking === true,\n    creates_payment: api.creates_payment === true,\n    creates_stripe_link: api.creates_stripe_link === true,\n    sends_whatsapp: false,\n    calls_n8n: api.calls_n8n === true,\n    whatsapp_sent: false,\n    live_send_blocked: true,\n    extraction,\n    validation: api.validation || {},\n    dry_run_plan: api.dry_run_plan || null,\n    ask_next: extraction.ask_next || null,\n    handoff_required: extraction.handoff_required === true,\n    success: api.success !== false,\n    client_slug: parsed.client_slug,\n    from: parsed.from,\n    guest_name: parsed.guest_name,\n    language: parsed.language,\n    message_text: parsed.message_text,\n    channel: parsed.channel,\n    staff_api_endpoint: '/staff/bot/message-intake-preview',\n    note: 'Phase 16a: shadow intake — extraction logged only, no WhatsApp send.'\n  }\n}];"
      }
    },
    {
      "id": "m6",
      "name": "Respond - Intake Shadow Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1280, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ shadow_mode: $json.shadow_mode, dry_run: $json.dry_run, preview_only: $json.preview_only, extraction_only: $json.extraction_only, no_write_performed: $json.no_write_performed, creates_booking: $json.creates_booking, creates_payment: $json.creates_payment, creates_stripe_link: $json.creates_stripe_link, sends_whatsapp: $json.sends_whatsapp, calls_n8n: $json.calls_n8n, extraction: $json.extraction, validation: $json.validation, dry_run_plan: $json.dry_run_plan, ask_next: $json.ask_next, handoff_required: $json.handoff_required, success: $json.success, whatsapp_sent: false, live_send_blocked: true, staff_api_endpoint: $json.staff_api_endpoint, note: $json.note }) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Intake Shadow Trigger": {
      "main": [[{ "node": "Set - Shadow Mode Flags", "type": "main", "index": 0 }]]
    },
    "Set - Shadow Mode Flags": {
      "main": [[{ "node": "IF - Shadow Guard", "type": "main", "index": 0 }]]
    },
    "IF - Shadow Guard": {
      "main": [
        [{ "node": "Code - Parse Guest Message", "type": "main", "index": 0 }],
        [{ "node": "Respond - Shadow Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Parse Guest Message": {
      "main": [[{ "node": "HTTP - Message Intake Preview", "type": "main", "index": 0 }]]
    },
    "HTTP - Message Intake Preview": {
      "main": [[{ "node": "Code - Map Intake Shadow Response", "type": "main", "index": 0 }]]
    },
    "Code - Map Intake Shadow Response": {
      "main": [[{ "node": "Respond - Intake Shadow Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  }
}
