n8n/Wolfhouse Booking Assistant - Luna Pipe Shadow.json
{
  "name": "Wolfhouse Booking Assistant - Luna Pipe Shadow",
  "active": false,
  "meta": {
    "description": "Phase 19f.2 Luna pipe shadow workflow. INACTIVE / NOT IMPORTED into production n8n. Test webhook only — never activate for live WhatsApp. Path: Set shadow flags -> IF guard -> normalize Meta WhatsApp inbound -> POST /staff/bot/guest-reply-draft -> build send payload + idempotency_key -> IF send eligible -> POST /staff/bot/guest-reply-send (when eligible) -> respond debug. Webhook path: luna-pipe-shadow-19f (NOT booking-assistant). X-Luna-Bot-Token via n8n Header Auth credential Luna Bot Internal Token (staging) — bind at import, never hardcoded. No graph.facebook.com. No api.stripe.com. No booking-create. No payment-link. No Stripe webhook. No n8n activation. Staff API owns send decision.",
    "instanceId": "shadow-phase19f"
  },
  "nodes": [
    {
      "id": "p1",
      "name": "Webhook - Luna Pipe Shadow Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "luna-pipe-shadow-19f",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "p1a",
      "name": "Set - Shadow Mode Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Phase 19f — workflow JSON shadow/safety flags (no $env; staging n8n blocks env in expressions)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    shadow_mode: true,\n    dry_run: true,\n    live_send_enabled: false,\n    live_send_blocked: true\n  }\n}];"
      }
    },
    {
      "id": "p2",
      "name": "IF - Shadow Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "shadow-check",
              "leftValue": "={{ $json.shadow_mode }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "p2b",
      "name": "Respond - Shadow Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"shadow_guard_blocked\", \"detail\": \"shadow_mode is not true; refusing Luna pipe path\", \"draft_success\": false, \"send_attempted\": false, \"send_performed\": false, \"sends_whatsapp\": false, \"live_send_blocked\": true, \"whatsapp_message_id\": null }"
      }
    },
    {
      "id": "p3",
      "name": "Code - Normalize WhatsApp Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Phase 19f — normalize Meta WhatsApp inbound or flat test payload for Staff API draft\n// Primary: entry[0].changes[0].value.messages[0]\n// Fallback: flat { client_slug, from, message_text, ... } for manual tests\n// No secrets. No DB writes. No Graph API.\n\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst entry = body.entry && body.entry[0];\nconst change = entry && entry.changes && entry.changes[0];\nconst value = (change && change.value) || body;\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst contacts = value.contacts || [];\nconst profile = (contacts[0] && contacts[0].profile) || {};\n\nconst clientSlug = String(body.client_slug || 'wolfhouse-somo').trim();\nconst channel = 'whatsapp';\nconst from = String(msg.from || body.from || body.phone || '').trim();\nconst waMessageId = String(msg.id || body.wa_message_id || '').trim() || null;\nconst messageText = String(\n  (msg.text && msg.text.body) || body.message_text || body.text || body.message || ''\n).trim();\nconst guestName = String(profile.name || body.guest_name || body.name || '').trim() || null;\nconst timestamp = msg.timestamp || body.timestamp || null;\nconst language = body.language != null ? String(body.language).trim() : null;\n\nif (!messageText) {\n  throw new Error('Missing required field: message_text (Meta messages[0].text.body or flat message_text)');\n}\n\nreturn [{\n  json: {\n    client_slug: clientSlug,\n    channel,\n    from,\n    phone: from,\n    wa_message_id: waMessageId,\n    message_text: messageText,\n    guest_name: guestName,\n    timestamp,\n    language,\n    source: 'luna_whatsapp_pipe_shadow',\n    shadow_mode: true,\n    dry_run: true,\n    live_send_enabled: false,\n    live_send_blocked: true\n  }\n}];"
      }
    },
    {
      "id": "p4",
      "name": "HTTP - Guest Reply Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/guest-reply-draft",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code - Normalize WhatsApp Inbound').first().json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "p5",
      "name": "Code - Build Send Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "jsCode": "// Phase 19f — map draft -> send payload + stable idempotency_key\n// Primary key: luna:{client_slug}:{wa_message_id}:{send_kind}\n// Fallback (manual/test only): luna:{client_slug}:{from}:{timestamp_or_hash}:{send_kind}\n\nconst api = $input.first().json;\nconst normalized = $('Code - Normalize WhatsApp Inbound').first().json;\nconst se = api.send_eligibility || {};\nconst nextAction = api.next_action || null;\nconst suggestedReply = api.suggested_reply || null;\n\nconst SEND_KIND_MAP = {\n  ask_missing_field: 'ask_missing_field',\n  show_quote: 'show_quote'\n};\nconst BLOCKED_ACTIONS = new Set([\n  'checkin_day', 'handoff', 'handoff_to_staff', 'unsupported', 'staff_required', 'risky'\n]);\n\nlet sendKind = se.allowed_send_kind || null;\nif (!sendKind && nextAction && SEND_KIND_MAP[nextAction]) {\n  sendKind = SEND_KIND_MAP[nextAction];\n}\n\nconst requiresStaff = se.requires_staff === true;\nconst handoffBlocked = requiresStaff\n  || BLOCKED_ACTIONS.has(nextAction)\n  || sendKind === 'checkin_day'\n  || !sendKind\n  || !['ask_missing_field', 'show_quote'].includes(sendKind);\n\nlet idempotencyKey = null;\nif (sendKind && !handoffBlocked) {\n  const waId = normalized.wa_message_id;\n  if (waId) {\n    idempotencyKey = `luna:${normalized.client_slug}:${waId}:${sendKind}`;\n  } else {\n    // Fallback for manual tests only when wa_message_id absent\n    const ts = normalized.timestamp || Date.now();\n    const hash = String(ts).slice(-10);\n    idempotencyKey = `luna:${normalized.client_slug}:${normalized.from}:${hash}:${sendKind}`;\n  }\n}\n\nconst sendEligible = !handoffBlocked\n  && se.auto_send_ready === true\n  && !requiresStaff\n  && !!suggestedReply\n  && !!idempotencyKey;\n\nconst sendPayload = sendEligible ? {\n  client_slug: normalized.client_slug,\n  to: normalized.from,\n  idempotency_key: idempotencyKey,\n  send_kind: sendKind,\n  suggested_reply: suggestedReply,\n  source: 'guest_reply_draft',\n  draft: api,\n  send_eligibility: se\n} : null;\n\nreturn [{\n  json: {\n    draft_success: api.success !== false,\n    suggested_reply: suggestedReply,\n    next_action: nextAction,\n    send_eligibility: se,\n    send_kind: sendKind,\n    idempotency_key: idempotencyKey,\n    send_eligible: sendEligible,\n    send_attempted: false,\n    requires_staff: requiresStaff,\n    handoff_blocked: handoffBlocked,\n    client_slug: normalized.client_slug,\n    to: normalized.from,\n    from: normalized.from,\n    wa_message_id: normalized.wa_message_id,\n    draft: api,\n    source: 'guest_reply_draft',\n    send_payload: sendPayload,\n    shadow_mode: normalized.shadow_mode,\n    dry_run: normalized.dry_run,\n    live_send_enabled: false,\n    live_send_blocked: true\n  }\n}];"
      }
    },
    {
      "id": "p6",
      "name": "IF - Send Eligible / Has Suggested Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "send-eligible",
              "leftValue": "={{ $json.send_eligible }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "has-reply",
              "leftValue": "={{ $json.suggested_reply }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "not-requires-staff",
              "leftValue": "={{ $json.requires_staff }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "p7",
      "name": "HTTP - Guest Reply Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 200],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/guest-reply-send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code - Build Send Payload').first().json.send_payload) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "p8a",
      "name": "Code - Map Send Debug Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200],
      "parameters": {
        "jsCode": "// Phase 19f — map Staff API guest-reply-send response to debug output\nconst sendResp = $input.first().json;\nconst built = $('Code - Build Send Payload').first().json;\nconst sr = sendResp.body || sendResp;\n\nreturn [{\n  json: {\n    shadow_mode: true,\n    dry_run: built.dry_run,\n    live_send_enabled: false,\n    live_send_blocked: built.live_send_blocked,\n    draft_success: built.draft_success,\n    suggested_reply: built.suggested_reply,\n    next_action: built.next_action,\n    send_eligibility: built.send_eligibility,\n    send_kind: built.send_kind,\n    idempotency_key: built.idempotency_key,\n    wa_message_id: built.wa_message_id,\n    send_attempted: true,\n    send_performed: sr.send_performed === true,\n    sends_whatsapp: sr.sends_whatsapp === true,\n    duplicate: sr.duplicate === true,\n    idempotent_replay: sr.idempotent_replay === true,\n    blocked_reasons: sr.blocked_reasons || [],\n    whatsapp_message_id: sr.whatsapp_message_id || null,\n    requires_staff: built.requires_staff,\n    staff_api_draft_endpoint: '/staff/bot/guest-reply-draft',\n    staff_api_send_endpoint: '/staff/bot/guest-reply-send',\n    note: 'Phase 19f: pipe shadow — send route called when eligible; Staff API owns send decision.'\n  }\n}];"
      }
    },
    {
      "id": "p8b",
      "name": "Code - Map Draft Only Debug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 420],
      "parameters": {
        "jsCode": "// Phase 19f — draft-only path: handoff/risky/unsupported/requires_staff skips guest-reply-send\nconst built = $input.first().json;\n\nconst blockedReasons = [];\nif (built.requires_staff) blockedReasons.push('requires_staff');\nif (built.handoff_blocked) blockedReasons.push('handoff_or_blocked');\nif (!built.suggested_reply) blockedReasons.push('missing_suggested_reply');\nif (!built.send_eligible) blockedReasons.push('send_not_eligible');\n\nreturn [{\n  json: {\n    shadow_mode: true,\n    dry_run: built.dry_run,\n    live_send_enabled: false,\n    live_send_blocked: true,\n    draft_success: built.draft_success,\n    suggested_reply: built.suggested_reply,\n    next_action: built.next_action,\n    send_eligibility: built.send_eligibility,\n    send_kind: built.send_kind,\n    idempotency_key: built.idempotency_key,\n    wa_message_id: built.wa_message_id,\n    send_attempted: false,\n    send_performed: false,\n    sends_whatsapp: false,\n    duplicate: false,\n    idempotent_replay: false,\n    blocked_reasons: blockedReasons,\n    whatsapp_message_id: null,\n    requires_staff: built.requires_staff,\n    staff_api_draft_endpoint: '/staff/bot/guest-reply-draft',\n    staff_api_send_endpoint: null,\n    note: 'Phase 19f: send route skipped — handoff/risky/not eligible; requires_staff true does not call guest-reply-send.'\n  }\n}];"
      }
    },
    {
      "id": "p9",
      "name": "Respond - Debug Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ shadow_mode: $json.shadow_mode, dry_run: $json.dry_run, live_send_enabled: $json.live_send_enabled, live_send_blocked: $json.live_send_blocked, draft_success: $json.draft_success, suggested_reply: $json.suggested_reply, next_action: $json.next_action, send_eligibility: $json.send_eligibility, send_kind: $json.send_kind, idempotency_key: $json.idempotency_key, wa_message_id: $json.wa_message_id, send_attempted: $json.send_attempted, send_performed: $json.send_performed, sends_whatsapp: $json.sends_whatsapp, duplicate: $json.duplicate, idempotent_replay: $json.idempotent_replay, blocked_reasons: $json.blocked_reasons, whatsapp_message_id: $json.whatsapp_message_id, requires_staff: $json.requires_staff, staff_api_draft_endpoint: $json.staff_api_draft_endpoint, staff_api_send_endpoint: $json.staff_api_send_endpoint, note: $json.note }) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Luna Pipe Shadow Trigger": {
      "main": [[{ "node": "Set - Shadow Mode Flags", "type": "main", "index": 0 }]]
    },
    "Set - Shadow Mode Flags": {
      "main": [[{ "node": "IF - Shadow Guard", "type": "main", "index": 0 }]]
    },
    "IF - Shadow Guard": {
      "main": [
        [{ "node": "Code - Normalize WhatsApp Inbound", "type": "main", "index": 0 }],
        [{ "node": "Respond - Shadow Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Normalize WhatsApp Inbound": {
      "main": [[{ "node": "HTTP - Guest Reply Draft", "type": "main", "index": 0 }]]
    },
    "HTTP - Guest Reply Draft": {
      "main": [[{ "node": "Code - Build Send Payload", "type": "main", "index": 0 }]]
    },
    "Code - Build Send Payload": {
      "main": [[{ "node": "IF - Send Eligible / Has Suggested Reply", "type": "main", "index": 0 }]]
    },
    "IF - Send Eligible / Has Suggested Reply": {
      "main": [
        [{ "node": "HTTP - Guest Reply Send", "type": "main", "index": 0 }],
        [{ "node": "Code - Map Draft Only Debug", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Guest Reply Send": {
      "main": [[{ "node": "Code - Map Send Debug Result", "type": "main", "index": 0 }]]
    },
    "Code - Map Send Debug Result": {
      "main": [[{ "node": "Respond - Debug Result", "type": "main", "index": 0 }]]
    },
    "Code - Map Draft Only Debug": {
      "main": [[{ "node": "Respond - Debug Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  }
}
