n8n/Wolfhouse Booking Assistant - Return Conversation To Bot.json
{
  "name": "Wolfhouse Booking Assistant - Return Conversation To Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "return-to-bot",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -80
      ],
      "id": "819d08c3-abe4-4cbe-8e7a-ffb52d81ee6b",
      "name": "Return Conversation To Bot - Webhook",
      "webhookId": "1e645f9a-3bde-424f-b7fd-d4abaea4bb12"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tbllLFnkeriks575v",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tbllLFnkeriks575v"
        },
        "id": "={{ $json.body.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        176,
        -80
      ],
      "id": "98110f37-28e1-415a-b880-b24466e59507",
      "name": "Get Conversation - Return To Bot",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tbllLFnkeriks575v",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tbllLFnkeriks575v"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Needs Human": false,
            "Send Staff Reply": false,
            "Return To Bot": false,
            "id": "={{ $('Get Conversation - Return To Bot').first().json.id }}",
            "Bot Mode": "bot_active",
            "Conversation Stage": "active",
            "Chat Transcript": "={{\n  (\n    $('Get Conversation - Return To Bot').first().json.fields?.['Chat Transcript'] ||\n    ''\n  )\n  + '\\n\\n**💁 Booking Assistant · '\n  + new Date().toLocaleTimeString('en-GB', {\n      hour: '2-digit',\n      minute: '2-digit'\n    })\n  + '**\\n'\n  + 'Bot mode reactivated.'\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Guest Name",
              "displayName": "Guest Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session State",
              "displayName": "Session State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Message",
              "displayName": "Last Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Bot Reply",
              "displayName": "Last Bot Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Needs Human",
              "displayName": "Needs Human",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Open",
                  "value": "Open"
                },
                {
                  "name": "On Hold",
                  "value": "On Hold"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Current Hold ID",
              "displayName": "Current Hold ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation Stage",
              "displayName": "Conversation Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "booking_flow",
                  "value": "booking_flow"
                },
                {
                  "name": "payment_pending",
                  "value": "payment_pending"
                },
                {
                  "name": "human_handoff",
                  "value": "human_handoff"
                },
                {
                  "name": "existing_booking",
                  "value": "existing_booking"
                },
                {
                  "name": "general_question",
                  "value": "general_question"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                },
                {
                  "name": "existing_booking_modify",
                  "value": "existing_booking_modify"
                },
                {
                  "name": "existing_booking_status",
                  "value": "existing_booking_status"
                },
                {
                  "name": "existing_booking_cancel",
                  "value": "existing_booking_cancel"
                },
                {
                  "name": "payment_claim",
                  "value": "payment_claim"
                },
                {
                  "name": "confirmed_booking",
                  "value": "confirmed_booking"
                },
                {
                  "name": "new",
                  "value": "new"
                },
                {
                  "name": "active",
                  "value": "active"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Messages",
              "displayName": "Messages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Human Notes",
              "displayName": "Human Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation Summary",
              "displayName": "Conversation Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pending Action",
              "displayName": "Pending Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "none",
                  "value": "none"
                },
                {
                  "name": "payment_lookup",
                  "value": "payment_lookup"
                },
                {
                  "name": "alternative_date_selection",
                  "value": "alternative_date_selection"
                },
                {
                  "name": "rooming_info_needed",
                  "value": "rooming_info_needed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bot Mode",
              "displayName": "Bot Mode",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "bot_active",
                  "value": "bot_active"
                },
                {
                  "name": "human_active",
                  "value": "human_active"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Staff Reply Draft",
              "displayName": "Staff Reply Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Send Staff Reply",
              "displayName": "Send Staff Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Return To Bot",
              "displayName": "Return To Bot",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Staff Reply At",
              "displayName": "Last Staff Reply At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Internal Staff Notes",
              "displayName": "Internal Staff Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chat Transcript",
              "displayName": "Chat Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        384,
        -80
      ],
      "id": "b196fbfe-d5b7-4346-9333-2bae6667c0bc",
      "name": "Update Conversation - Bot Active",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Return Conversation To Bot - Webhook": {
      "main": [
        [
          {
            "node": "Get Conversation - Return To Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation - Return To Bot": {
      "main": [
        [
          {
            "node": "Update Conversation - Bot Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3fea1540-4fec-4b08-b6e1-d06c1f8b81ce",
  "meta": {
    "instanceId": "bb3760dba17d7b832fddd5286a2e2a3d33a2c986ba33cdcf6e30a0102f2ebb45"
  },
  "id": "g0J2BnOgUIdf7NQD",
  "tags": []
}