n8n/Wolfhouse Booking Assistant - Main - Shared Engine Dry Run.json
{
  "name": "Wolfhouse Booking Assistant - Main - Shared Engine Dry Run",
  "active": false,
  "meta": {
    "description": "Phase 12d dry-run workflow. INACTIVE / NOT IMPORTED into production n8n. Single Staff API orchestrator call: POST /staff/bot/booking-dry-run (gate + quote + availability + add-on preview in one plan). Path: Set dry_run flags -> IF guard -> parse guest payload -> HTTP booking-dry-run -> map reply_draft/planned_actions/safety flags -> respond (debug only). X-Luna-Bot-Token via n8n Header Auth credential Luna Bot Internal Token (staging) — bind at import, never hardcoded. No graph.facebook.com. No api.stripe.com. No booking-create. No payment-link. No webhook. No live WhatsApp send.",
    "instanceId": "dry-run-phase12d"
  },
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook - Dry Run Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "luna-bot-booking-dry-run-12d",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n1a",
      "name": "Set - DryRun Mode Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Phase 12d — workflow JSON dry-run flags (no $env; staging n8n blocks env in expressions)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    dry_run: true,\n    live_send_enabled: false\n  }\n}];"
      }
    },
    {
      "id": "n2",
      "name": "IF - DryRun Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "dryrun-check",
              "leftValue": "={{ $json.dry_run }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n2b",
      "name": "Respond - DryRun Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"dry_run_guard_blocked\", \"detail\": \"dry_run is not true; refusing booking-dry-run path\", \"whatsapp_sent\": false, \"sends_whatsapp\": false, \"calls_n8n\": false }"
      }
    },
    {
      "id": "n3",
      "name": "Code - Parse Booking Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Phase 12f — parse inbound guest booking payload for /staff/bot/booking-dry-run\nconst body = $input.first().json.body || $input.first().json;\n\nconst phone         = String(body.guest_phone || body.phone || body.from || '+34999000000').trim();\nconst guestName     = String(body.guest_name || body.name || '').trim() || null;\nconst email         = String(body.email || '').trim() || null;\nconst checkIn       = String(body.check_in || '').trim() || null;\nconst checkOut      = String(body.check_out || '').trim() || null;\nconst guestCount    = parseInt(body.guest_count || body.adults || body.guests || '1', 10) || 1;\nconst packageCode   = String(body.package_code || 'malibu').trim();\nconst roomType      = String(body.room_type || body.room_preference || 'shared').trim();\nconst paymentChoice = String(body.payment_choice || 'deposit').trim();\nconst addOns        = Array.isArray(body.add_ons) ? body.add_ons : [];\nconst language      = String(body.language || 'en').trim();\nconst clientSlug    = String(body.client_slug || 'wolfhouse-somo').trim();\nconst messageText   = body.message_text != null ? String(body.message_text) : null;\nconst conversationId = body.conversation_id != null ? String(body.conversation_id).trim() : null;\nconst bookingCode   = body.booking_code != null ? String(body.booking_code).trim() : null;\nconst addonRequest  = body.addon_request && typeof body.addon_request === 'object' ? body.addon_request : null;\n\nreturn [{\n  json: {\n    client_slug: clientSlug,\n    phone,\n    guest_phone: phone,\n    guest_name: guestName,\n    email,\n    check_in: checkIn,\n    check_out: checkOut,\n    guest_count: guestCount,\n    package_code: packageCode,\n    room_type: roomType,\n    payment_choice: paymentChoice,\n    add_ons: addOns,\n    language,\n    message_text: messageText,\n    conversation_id: conversationId,\n    booking_code: bookingCode,\n    addon_request: addonRequest,\n    source: 'luna_whatsapp',\n    dry_run: true,\n    live_send_enabled: false\n  }\n}];"
      }
    },
    {
      "id": "n4",
      "name": "HTTP - Bot Booking Dry Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/booking-dry-run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code - Parse Booking Fields').first().json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "n5",
      "name": "Code - Map Dry Run Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "jsCode": "// Phase 12d — preserve Staff API dry-run plan fields (no WhatsApp send)\nconst api = $input.first().json;\n\nreturn [{\n  json: {\n    dry_run: api.dry_run !== false,\n    preview_only: api.preview_only !== false,\n    no_write_performed: api.no_write_performed !== false,\n    creates_booking: api.creates_booking === true,\n    creates_payment: api.creates_payment === true,\n    creates_stripe_link: api.creates_stripe_link === true,\n    sends_whatsapp: false,\n    calls_n8n: api.calls_n8n === true,\n    planned_actions: api.planned_actions || [],\n    reply_draft: api.reply_draft || '',\n    next_action: api.next_action || null,\n    gate: api.gate || {},\n    booking_preview: api.booking_preview || {},\n    availability: api.availability || {},\n    addon_preview: api.addon_preview || {},\n    success: api.success !== false,\n    whatsapp_sent: false,\n    live_send_blocked: true,\n    staff_api_endpoint: '/staff/bot/booking-dry-run',\n    note: 'Phase 12d: single Staff API orchestrator. reply_draft is NOT sent to guest.'\n  }\n}];"
      }
    },
    {
      "id": "n6",
      "name": "Respond - DryRun Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1280, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ dry_run: $json.dry_run, preview_only: $json.preview_only, no_write_performed: $json.no_write_performed, creates_booking: $json.creates_booking, creates_payment: $json.creates_payment, creates_stripe_link: $json.creates_stripe_link, sends_whatsapp: $json.sends_whatsapp, calls_n8n: $json.calls_n8n, planned_actions: $json.planned_actions, reply_draft: $json.reply_draft, next_action: $json.next_action, gate: $json.gate, booking_preview: $json.booking_preview, availability: $json.availability, addon_preview: $json.addon_preview, whatsapp_sent: false, live_send_blocked: true, staff_api_endpoint: $json.staff_api_endpoint, note: $json.note }) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Dry Run Trigger": {
      "main": [[{ "node": "Set - DryRun Mode Flags", "type": "main", "index": 0 }]]
    },
    "Set - DryRun Mode Flags": {
      "main": [[{ "node": "IF - DryRun Guard", "type": "main", "index": 0 }]]
    },
    "IF - DryRun Guard": {
      "main": [
        [{ "node": "Code - Parse Booking Fields", "type": "main", "index": 0 }],
        [{ "node": "Respond - DryRun Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Parse Booking Fields": {
      "main": [[{ "node": "HTTP - Bot Booking Dry Run", "type": "main", "index": 0 }]]
    },
    "HTTP - Bot Booking Dry Run": {
      "main": [[{ "node": "Code - Map Dry Run Response", "type": "main", "index": 0 }]]
    },
    "Code - Map Dry Run Response": {
      "main": [[{ "node": "Respond - DryRun Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  }
}
