n8n/Wolfhouse - Cancel Bed Assignments.json
{
  "name": "Wolfhouse - Cancel Bed Assignments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancel-booking-beds",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -96
      ],
      "id": "3e13322e-12c4-4be8-b608-e245560e0cdf",
      "name": "Cancel Booking Bed Assignments - Webhook",
      "webhookId": "8ab9d454-04d3-48c1-9cf4-8b0f305e26e7"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tblYWm3zKFafe4qu7",
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
        },
        "id": "={{ $json.body.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        176,
        -96
      ],
      "id": "8ee4e571-bee7-4ce7-a064-4917befe1a95",
      "name": "Get Cancelled Booking",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const booking = $('Get Cancelled Booking').first().json;\nconst fields = booking.fields || {};\n\nconst bookingBeds = fields['Booking Beds'] || [];\n\nif (!bookingBeds.length) {\n  return [{\n    json: {\n      booking_record_id: booking.id,\n      booking_id: fields['Booking ID'] || '',\n      no_booking_beds_found: true\n    }\n  }];\n}\n\nreturn bookingBeds.map(id => ({\n  json: {\n    booking_record_id: booking.id,\n    booking_id: fields['Booking ID'] || '',\n    booking_bed_record_id: id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -96
      ],
      "id": "6dc7261f-5505-4bf2-97d4-560339aadb81",
      "name": "Code - Prepare Booking Beds To Cancel"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tblYWm3zKFafe4qu7",
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Cancelled Booking').first().json.id }}",
            "Assignment Status": "Needs Review",
            "Availability Check Status": "Needs Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Booking ID",
              "displayName": "Booking ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Guest Name",
              "displayName": "Guest Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmed",
                  "value": "Confirmed"
                },
                {
                  "name": "Deposit_Paid",
                  "value": "Deposit_Paid"
                },
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Payment_Pending",
                  "value": "Payment_Pending"
                },
                {
                  "name": "Checked_In",
                  "value": "Checked_In"
                },
                {
                  "name": "Checked_Out",
                  "value": "Checked_Out"
                },
                {
                  "name": "Expired",
                  "value": "Expired"
                },
                {
                  "name": "Needs_Review",
                  "value": "Needs_Review"
                },
                {
                  "name": "Hold",
                  "value": "Hold"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Check In",
              "displayName": "Check In",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Check Out",
              "displayName": "Check Out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Guest Count",
              "displayName": "Guest Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Package",
              "displayName": "Package",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Malibu",
                  "value": "Malibu"
                },
                {
                  "name": "Uluwatu",
                  "value": "Uluwatu"
                },
                {
                  "name": "Waimea",
                  "value": "Waimea"
                },
                {
                  "name": "Custom",
                  "value": "Custom"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hold Expires At",
              "displayName": "Hold Expires At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Expired",
              "displayName": "Expired",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "paid",
                  "value": "paid"
                },
                {
                  "name": "deposit_paid",
                  "value": "deposit_paid"
                },
                {
                  "name": "not_requested",
                  "value": "not_requested"
                },
                {
                  "name": "not_sent",
                  "value": "not_sent"
                },
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "deposit_pending",
                  "value": "deposit_pending"
                },
                {
                  "name": "payment_pending",
                  "value": "payment_pending"
                },
                {
                  "name": "pay_on_arrival",
                  "value": "pay_on_arrival"
                },
                {
                  "name": "refunded",
                  "value": "refunded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Link",
              "displayName": "Payment Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Send Confirmation",
              "displayName": "Send Confirmation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Google Calendar Event ID",
              "displayName": "Google Calendar Event ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking Source",
              "displayName": "Booking Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "AI WhatsApp",
                  "value": "AI WhatsApp"
                },
                {
                  "name": "Manual Staff",
                  "value": "Manual Staff"
                },
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Walk-in",
                  "value": "Walk-in"
                },
                {
                  "name": "Phone",
                  "value": "Phone"
                },
                {
                  "name": "Operator",
                  "value": "Operator"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Staff Notes",
              "displayName": "Staff Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Needs Calendar Sync",
              "displayName": "Needs Calendar Sync",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calendar Title",
              "displayName": "Calendar Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Booking Beds",
              "displayName": "Booking Beds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Requested Room Type",
              "displayName": "Requested Room Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "shared",
                  "value": "shared"
                },
                {
                  "name": "private",
                  "value": "private"
                },
                {
                  "name": "either",
                  "value": "either"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Guest Gender / Group Type",
              "displayName": "Guest Gender / Group Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unknown",
                  "value": "Unknown"
                },
                {
                  "name": "Female Solo",
                  "value": "Female Solo"
                },
                {
                  "name": "Male Solo",
                  "value": "Male Solo"
                },
                {
                  "name": "Female Group",
                  "value": "Female Group"
                },
                {
                  "name": "Male Group",
                  "value": "Male Group"
                },
                {
                  "name": "Mixed Group",
                  "value": "Mixed Group"
                },
                {
                  "name": "Couple",
                  "value": "Couple"
                },
                {
                  "name": "Family",
                  "value": "Family"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room ID",
              "displayName": "Room ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room Assignment Preference",
              "displayName": "Room Assignment Preference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Flexible",
                  "value": "Flexible"
                },
                {
                  "name": "Female room requested",
                  "value": "Female room requested"
                },
                {
                  "name": "Male room requested",
                  "value": "Male room requested"
                },
                {
                  "name": "Private requested",
                  "value": "Private requested"
                },
                {
                  "name": "Couple/Matrimonial requested",
                  "value": "Couple/Matrimonial requested"
                },
                {
                  "name": "Keep group together",
                  "value": "Keep group together"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assignment Status",
              "displayName": "Assignment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Partially Assigned",
                  "value": "Partially Assigned"
                },
                {
                  "name": "Assigned",
                  "value": "Assigned"
                },
                {
                  "name": "Needs Review",
                  "value": "Needs Review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Option",
              "displayName": "Payment Option",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Checked",
                  "value": "Not Checked"
                },
                {
                  "name": "Available",
                  "value": "Available"
                },
                {
                  "name": "Conflict",
                  "value": "Conflict"
                },
                {
                  "name": "Needs Review",
                  "value": "Needs Review"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deposit Required",
              "displayName": "Deposit Required",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Desposit Paid",
              "displayName": "Desposit Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Balance Due",
              "displayName": "Balance Due",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Balance Due on Arrival",
              "displayName": "Balance Due on Arrival",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Notes",
              "displayName": "Payment Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Availability Check Status",
              "displayName": "Availability Check Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Checked",
                  "value": "Not Checked"
                },
                {
                  "name": "Available",
                  "value": "Available"
                },
                {
                  "name": "Conflict",
                  "value": "Conflict"
                },
                {
                  "name": "Needs Review",
                  "value": "Needs Review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conflict Notes",
              "displayName": "Conflict Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Operator Name",
              "displayName": "Operator Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SurfWeek",
                  "value": "SurfWeek"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Block Type",
              "displayName": "Block Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Whole Room",
                  "value": "Whole Room"
                },
                {
                  "name": "Partial Beds",
                  "value": "Partial Beds"
                },
                {
                  "name": "Whole House",
                  "value": "Whole House"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room to Block",
              "displayName": "Room to Block",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room Name",
              "displayName": "Room Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Capacity",
              "displayName": "Capacity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Operator Room Release Request",
              "displayName": "Operator Room Release Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Operator Room Release Request 2",
              "displayName": "Operator Room Release Request 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Operator Room Release Request 3",
              "displayName": "Operator Room Release Request 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        752,
        -96
      ],
      "id": "f23cb28d-9389-42d8-89c7-81cd5c60fa9b",
      "name": "Update Cancelled Booking Assignment Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tblO1ByvTMXS4SalB",
          "mode": "list",
          "cachedResultName": "Booking Beds",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblO1ByvTMXS4SalB"
        },
        "id": "={{ $json.id || $json.record_id || $json.booking_bed_record_id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        576,
        -96
      ],
      "id": "70b8a528-46bb-4d44-88e0-1340ad4d91d4",
      "name": "Delete Booking Beds Assignments",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cancel Booking Bed Assignments - Webhook": {
      "main": [
        [
          {
            "node": "Get Cancelled Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cancelled Booking": {
      "main": [
        [
          {
            "node": "Code - Prepare Booking Beds To Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Booking Beds To Cancel": {
      "main": [
        [
          {
            "node": "Delete Booking Beds Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Booking Beds Assignments": {
      "main": [
        [
          {
            "node": "Update Cancelled Booking Assignment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "73efeb28-9fb7-4e5d-85a4-750604bd9d32",
  "meta": {
    "instanceId": "bb3760dba17d7b832fddd5286a2e2a3d33a2c986ba33cdcf6e30a0102f2ebb45"
  },
  "id": "dVadTXwLtwHMTIdE",
  "tags": []
}