n8n/Wolfhouse Guest Add-on Request - Dry Run.json
{
  "name": "Wolfhouse Guest Add-on Request - Dry Run",
  "active": false,
  "meta": {
    "description": "Stage 8.8.31 dry-run workflow. INACTIVE / NOT IMPORTED into production n8n. Luna guest add-on path: preview -> create (with idempotency_key) -> draft reply with Stripe link or record-only message. Dry-run guard: workflow JSON dry_run:true / live_send_enabled:false (no $env; staging blocks env access in node expressions). X-Luna-Bot-Token via n8n Header Auth credential Luna Bot Internal Token (staging) — bind at import, never hardcoded. No graph.facebook.com. No Twilio. No WhatsApp send. No api.stripe.com.",
    "instanceId": "dry-run-stage8831"
  },
  "nodes": [
    {
      "id": "g1",
      "name": "Webhook - Guest Addon DryRun Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 300],
      "parameters": {
        "path": "guest-addon-dry-run-8831",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "g1a",
      "name": "Set - DryRun Mode Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "jsCode": "// Stage 8.8.31 — workflow JSON dry-run flags (no $env; staging n8n blocks env in expressions)\nconst inbound = $input.first().json;\nreturn [{\n  json: {\n    ...inbound,\n    dry_run: true,\n    live_send_enabled: false\n  }\n}];"
      }
    },
    {
      "id": "g2",
      "name": "IF - DryRun Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "dryrun-check",
              "leftValue": "={{ $json.dry_run }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "g2b",
      "name": "Respond - DryRun Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"dry_run_guard_blocked\", \"detail\": \"dry_run is not true; refusing guest add-on dry-run\", \"whatsapp_sent\": false, \"live_send_blocked\": true }"
      }
    },
    {
      "id": "g3",
      "name": "Code - Parse Guest Addon Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Stage 8.8.31 — parse inbound guest add-on request + deterministic idempotency_key\nconst root = $input.first().json;\nconst body = root.body || root;\n\nfunction slug(v) {\n  return String(v == null ? '' : v).trim().toLowerCase();\n}\n\nconst clientSlug     = slug(body.client_slug || 'wolfhouse-somo');\nconst bookingCode    = String(body.booking_code || '').trim();\nconst guestPhone     = String(body.guest_phone || '').trim();\nconst serviceType    = slug(body.service_type || 'wetsuit');\nconst serviceDate    = String(body.service_date || '').trim();\nconst quantity       = parseInt(body.quantity, 10) || 1;\nconst paymentChoice  = slug(body.payment_choice || 'pay_now');\nconst source         = String(body.source || 'luna_whatsapp').trim();\n\nif (!bookingCode) throw new Error('Missing required field: booking_code');\nif (!serviceDate) throw new Error('Missing required field: service_date');\n\nconst idempotencyKey = [\n  bookingCode,\n  serviceType,\n  serviceDate,\n  String(quantity),\n  guestPhone.replace(/\\+/g, '')\n].join('-').slice(0, 120);\n\nreturn [{\n  json: {\n    client_slug: clientSlug,\n    booking_code: bookingCode,\n    guest_phone: guestPhone,\n    service_type: serviceType,\n    service_date: serviceDate,\n    quantity,\n    payment_choice: paymentChoice,\n    source,\n    idempotency_key: idempotencyKey,\n    dry_run: true,\n    live_send_enabled: false,\n    _dry_run: true\n  }\n}];"
      }
    },
    {
      "id": "g4",
      "name": "HTTP - Bot Addon Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/addon-request-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_slug:     $('Code - Parse Guest Addon Request').first().json.client_slug,\n  booking_code:    $('Code - Parse Guest Addon Request').first().json.booking_code,\n  guest_phone:     $('Code - Parse Guest Addon Request').first().json.guest_phone,\n  service_type:    $('Code - Parse Guest Addon Request').first().json.service_type,\n  service_date:    $('Code - Parse Guest Addon Request').first().json.service_date,\n  quantity:        $('Code - Parse Guest Addon Request').first().json.quantity,\n  payment_choice:  $('Code - Parse Guest Addon Request').first().json.payment_choice,\n  source:          $('Code - Parse Guest Addon Request').first().json.source\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "g5",
      "name": "IF - Preview Ready for Create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "ready-pay",
              "leftValue": "={{ $json.next_action }}",
              "rightValue": "ready_for_addon_create_dry_run",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "ready-record",
              "leftValue": "={{ $json.next_action }}",
              "rightValue": "ready_for_record_only",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "g5b",
      "name": "Set - Log Preview Only Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, 480],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "whatsapp_sent", "value": false, "type": "boolean" },
            { "id": "p2", "name": "dry_run", "value": true, "type": "boolean" },
            { "id": "p3", "name": "live_send_blocked", "value": true, "type": "boolean" },
            { "id": "p4", "name": "no_n8n_side_effect", "value": true, "type": "boolean" },
            { "id": "p5", "name": "preview_only", "value": true, "type": "boolean" },
            { "id": "p6", "name": "next_action", "value": "={{ $json.next_action }}", "type": "string" },
            { "id": "p7", "name": "reply_draft", "value": "={{ $json.reply_draft }}", "type": "string" },
            { "id": "p8", "name": "note", "value": "DryRun: preview returned ask/handoff — create skipped. No WhatsApp send.", "type": "string" },
            { "id": "p9", "name": "_stage", "value": "8.8.31", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "g5c",
      "name": "Respond - DryRun Preview Only",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "g6",
      "name": "HTTP - Bot Addon Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300],
      "parameters": {
        "method": "POST",
        "url": "https://staff-staging.lunafrontdesk.com/staff/bot/addon-requests/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_slug:      $('Code - Parse Guest Addon Request').first().json.client_slug,\n  booking_code:     $('Code - Parse Guest Addon Request').first().json.booking_code,\n  guest_phone:      $('Code - Parse Guest Addon Request').first().json.guest_phone,\n  service_type:     $('Code - Parse Guest Addon Request').first().json.service_type,\n  service_date:     $('Code - Parse Guest Addon Request').first().json.service_date,\n  quantity:         $('Code - Parse Guest Addon Request').first().json.quantity,\n  payment_choice:   $('Code - Parse Guest Addon Request').first().json.payment_choice,\n  source:           $('Code - Parse Guest Addon Request').first().json.source,\n  confirm:          true,\n  idempotency_key:  $('Code - Parse Guest Addon Request').first().json.idempotency_key\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Luna Bot Internal Token (staging)"
        }
      }
    },
    {
      "id": "g7",
      "name": "Code - Format DryRun Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300],
      "parameters": {
        "jsCode": "// Stage 8.8.31 — format guest add-on dry-run reply (never sent on WhatsApp)\nconst createResp = $input.first().json;\nconst parsed = $('Code - Parse Guest Addon Request').first().json;\nconst previewBody = $('HTTP - Bot Addon Preview').first().json;\n\nconst checkoutUrl = createResp.checkout_url || null;\nlet replyDraft = createResp.reply_draft || previewBody.reply_draft || '';\n\nif (!checkoutUrl && createResp.reason === 'meal_on_site_only') {\n  replyDraft = replyDraft || 'Meals are handled on site — request recorded without payment link.';\n}\n\nreturn [{\n  json: {\n    whatsapp_sent: false,\n    dry_run: true,\n    live_send_blocked: true,\n    no_n8n_side_effect: true,\n    client_slug: parsed.client_slug,\n    booking_code: parsed.booking_code,\n    guest_phone: parsed.guest_phone,\n    service_type: parsed.service_type,\n    service_date: parsed.service_date,\n    quantity: parsed.quantity,\n    payment_choice: parsed.payment_choice,\n    idempotency_key: parsed.idempotency_key,\n    preview_next_action: previewBody.next_action,\n    create_success: createResp.success === true,\n    idempotent: createResp.idempotent === true,\n    write_performed: createResp.write_performed,\n    service_record_id: createResp.service_record_id || null,\n    payment_id: createResp.payment_id || null,\n    payment_kind: createResp.payment_kind || null,\n    checkout_url: checkoutUrl,\n    payment_required: createResp.payment_required,\n    reason: createResp.reason || null,\n    reply_draft: replyDraft,\n    no_payment_truth_recorded: createResp.no_payment_truth_recorded !== false,\n    _proof_no_direct_stripe: true,\n    _stage: '8.8.31'\n  }\n}];"
      }
    },
    {
      "id": "g8",
      "name": "Respond - DryRun Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook - Guest Addon DryRun Trigger": {
      "main": [[{ "node": "Set - DryRun Mode Flags", "type": "main", "index": 0 }]]
    },
    "Set - DryRun Mode Flags": {
      "main": [[{ "node": "IF - DryRun Guard", "type": "main", "index": 0 }]]
    },
    "IF - DryRun Guard": {
      "main": [
        [{ "node": "Code - Parse Guest Addon Request", "type": "main", "index": 0 }],
        [{ "node": "Respond - DryRun Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Code - Parse Guest Addon Request": {
      "main": [[{ "node": "HTTP - Bot Addon Preview", "type": "main", "index": 0 }]]
    },
    "HTTP - Bot Addon Preview": {
      "main": [[{ "node": "IF - Preview Ready for Create", "type": "main", "index": 0 }]]
    },
    "IF - Preview Ready for Create": {
      "main": [
        [{ "node": "HTTP - Bot Addon Create", "type": "main", "index": 0 }],
        [{ "node": "Set - Log Preview Only Reply", "type": "main", "index": 0 }]
      ]
    },
    "Set - Log Preview Only Reply": {
      "main": [[{ "node": "Respond - DryRun Preview Only", "type": "main", "index": 0 }]]
    },
    "HTTP - Bot Addon Create": {
      "main": [[{ "node": "Code - Format DryRun Reply", "type": "main", "index": 0 }]]
    },
    "Code - Format DryRun Reply": {
      "main": [[{ "node": "Respond - DryRun Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
