n8n/Wolfhouse - Send Confirmation.json
{
  "name": "Wolfhouse - Send Confirmation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Wolfhouse surf hostel assistant.\n\nThe guest's payment has been verified and their booking is now confirmed.\n\nAlways welcome them to the WolfHouse Family. \nNever call it a hostel\n\nBooking details:\n{{ JSON.stringify($json.fields || $json) }}\n\nGuest language:\n{{ $('Search Conversation - Confirmation').first().json.fields?.Language || 'en' }}\n\nReply in the guest's saved language.\nAssigned room summary:\n\n{{ $('Code - Summarize Assigned Rooms').first().json.assigned_room_summary || 'Not assigned yet' }}\n\nIs multi-room:\n{{ $('Code - Summarize Assigned Rooms').first().json.is_multi_room }}\n\nLanguage rule:\nUse the saved guest language above.\nIf Guest language is \"de\", reply in German.\nIf Guest language is \"es\", reply in Spanish.\nIf Guest language is \"it\", reply in Italian.\nIf Guest language is \"fr\", reply in French.\nIf Guest language is \"pt\", reply in Portuguese.\nIf Guest language is \"en\", reply in English.\nDo not default to English unless the saved language is missing.\n\nRules:\n- Write a friendly WhatsApp confirmation\n- Mention the booking is confirmed\n- Mention booking ID\n- Mention dates\nIf Assigned room summary is available, mention it briefly.\nIf Is multi-room is true, say the group is spread across those rooms.\nIf Assigned room summary is not available, do not mention room numbers.\n- Thank the guest\n- Sound excited and welcoming\n- Keep it concise\n- Do not mention AI or internal systems\n\nReturn ONLY the WhatsApp reply text.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -704,
        176
      ],
      "id": "5714913f-c901-4aa3-bc41-8cbb42c1c378",
      "name": "Send confirmation reply"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.4,
      "position": [
        -624,
        400
      ],
      "id": "dddafaa4-5968-4cd2-a883-ac748d8e4f9d",
      "name": "Anthropic Chat Model13",
      "credentials": {
        "anthropicApi": {
          "id": "a9iPsEV9gB8jlJMt",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tblYWm3zKFafe4qu7",
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
        },
        "filterByFormula": "AND(   {Send Confirmation} = TRUE(),   {Status} = 'Payment_Pending' )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1792,
        16
      ],
      "id": "d24d2509-a8af-468f-be4b-c32ea14b1eaf",
      "name": "Search Bookings - Send Confirmation",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tblYWm3zKFafe4qu7",
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Confirmed",
            "Payment Status": "paid"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Booking ID",
              "displayName": "Booking ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Guest Name",
              "displayName": "Guest Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmed",
                  "value": "Confirmed"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Payment_Pending",
                  "value": "Payment_Pending"
                },
                {
                  "name": "Checked_In",
                  "value": "Checked_In"
                },
                {
                  "name": "Checked_Out",
                  "value": "Checked_Out"
                },
                {
                  "name": "Expired",
                  "value": "Expired"
                },
                {
                  "name": "Needs_Review",
                  "value": "Needs_Review"
                },
                {
                  "name": "Hold",
                  "value": "Hold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "paid",
                  "value": "paid"
                },
                {
                  "name": "deposit_paid",
                  "value": "deposit_paid"
                },
                {
                  "name": "waiting_payment",
                  "value": "waiting_payment"
                },
                {
                  "name": "not_requested",
                  "value": "not_requested"
                },
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "pay_on_arrival",
                  "value": "pay_on_arrival"
                },
                {
                  "name": "refunded",
                  "value": "refunded"
                },
                {
                  "name": "payment_pending",
                  "value": "payment_pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Check In",
              "displayName": "Check In",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Check Out",
              "displayName": "Check Out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Guest Count",
              "displayName": "Guest Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking Beds",
              "displayName": "Booking Beds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assignment Status",
              "displayName": "Assignment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Partially Assigned",
                  "value": "Partially Assigned"
                },
                {
                  "name": "Assigned",
                  "value": "Assigned"
                },
                {
                  "name": "Needs Review",
                  "value": "Needs Review"
                },
                {
                  "name": "Assigning",
                  "value": "Assigning"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Package",
              "displayName": "Package",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Malibu",
                  "value": "Malibu"
                },
                {
                  "name": "Uluwatu",
                  "value": "Uluwatu"
                },
                {
                  "name": "Waimea",
                  "value": "Waimea"
                },
                {
                  "name": "Custom",
                  "value": "Custom"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hold Expires At",
              "displayName": "Hold Expires At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Expired",
              "displayName": "Expired",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Link",
              "displayName": "Payment Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Send Confirmation",
              "displayName": "Send Confirmation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Guest Gender / Group Type",
              "displayName": "Guest Gender / Group Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "unknown",
                  "value": "unknown"
                },
                {
                  "name": "solo_female",
                  "value": "solo_female"
                },
                {
                  "name": "solo_male",
                  "value": "solo_male"
                },
                {
                  "name": "female_group",
                  "value": "female_group"
                },
                {
                  "name": "male_group",
                  "value": "male_group"
                },
                {
                  "name": "mixed_group",
                  "value": "mixed_group"
                },
                {
                  "name": "couple",
                  "value": "couple"
                },
                {
                  "name": "family",
                  "value": "family"
                },
                {
                  "name": "operator_group",
                  "value": "operator_group"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Google Calendar Event ID",
              "displayName": "Google Calendar Event ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking Source",
              "displayName": "Booking Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "AI WhatsApp",
                  "value": "AI WhatsApp"
                },
                {
                  "name": "Manual Staff",
                  "value": "Manual Staff"
                },
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Walk-in",
                  "value": "Walk-in"
                },
                {
                  "name": "Phone",
                  "value": "Phone"
                },
                {
                  "name": "Operator",
                  "value": "Operator"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Staff Notes",
              "displayName": "Staff Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Needs Calendar Sync",
              "displayName": "Needs Calendar Sync",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calendar Title",
              "displayName": "Calendar Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Requested Room Type",
              "displayName": "Requested Room Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "shared",
                  "value": "shared"
                },
                {
                  "name": "private",
                  "value": "private"
                },
                {
                  "name": "either",
                  "value": "either"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rooming Notes",
              "displayName": "Rooming Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rooming Confidence",
              "displayName": "Rooming Confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room ID",
              "displayName": "Room ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room Preference",
              "displayName": "Room Preference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "shared",
                  "value": "shared"
                },
                {
                  "name": "private",
                  "value": "private"
                },
                {
                  "name": "female_only",
                  "value": "female_only"
                },
                {
                  "name": "male_only",
                  "value": "male_only"
                },
                {
                  "name": "double",
                  "value": "double"
                },
                {
                  "name": "family_room",
                  "value": "family_room"
                },
                {
                  "name": "mixed_ok",
                  "value": "mixed_ok"
                },
                {
                  "name": "any",
                  "value": "any"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Needs Rooming Review",
              "displayName": "Needs Rooming Review",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Option",
              "displayName": "Payment Option",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Checked",
                  "value": "Not Checked"
                },
                {
                  "name": "Available",
                  "value": "Available"
                },
                {
                  "name": "Conflict",
                  "value": "Conflict"
                },
                {
                  "name": "Needs Review",
                  "value": "Needs Review"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deposit Required",
              "displayName": "Deposit Required",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deposit Paid",
              "displayName": "Deposit Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Balance Due",
              "displayName": "Balance Due",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Balance Due on Arrival",
              "displayName": "Balance Due on Arrival",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Notes",
              "displayName": "Payment Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Availability Check Status",
              "displayName": "Availability Check Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Checked",
                  "value": "Not Checked"
                },
                {
                  "name": "Available",
                  "value": "Available"
                },
                {
                  "name": "Conflict",
                  "value": "Conflict"
                },
                {
                  "name": "Needs Review",
                  "value": "Needs Review"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Conflict Notes",
              "displayName": "Conflict Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Operator Name",
              "displayName": "Operator Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SurfWeek",
                  "value": "SurfWeek"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Block Type",
              "displayName": "Block Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Whole Room",
                  "value": "Whole Room"
                },
                {
                  "name": "Partial Beds",
                  "value": "Partial Beds"
                },
                {
                  "name": "Whole House",
                  "value": "Whole House"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room to Block",
              "displayName": "Room to Block",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Room Name",
              "displayName": "Room Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Capacity",
              "displayName": "Capacity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Operator Room Release Request",
              "displayName": "Operator Room Release Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Operator Room Release Request 2",
              "displayName": "Operator Room Release Request 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Operator Room Release Request 3",
              "displayName": "Operator Room Release Request 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking Beds 2",
              "displayName": "Booking Beds 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking Beds 3",
              "displayName": "Booking Beds 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        32,
        -128
      ],
      "id": "12977b2d-3e35-4398-bd5c-82eaabda5e6d",
      "name": "Update Booking - Confirmed",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tbllLFnkeriks575v",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tbllLFnkeriks575v"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Needs Human": false,
            "Phone": "={{ ($json.fields || $json).Phone }}",
            "Last Bot Reply": "={{ $('Send confirmation reply').first().json.text || $('Send confirmation reply').first().json.output || $('Send confirmation reply').first().json.response || '' }}",
            "Status": "Open",
            "Conversation Stage": "confirmed_booking",
            "Language": "={{ $('Search Conversation - Confirmation').first().json.fields?.Language || 'en' }}",
            "Chat Transcript": "={{\n(\n  $('Search Conversation - Confirmation').first().json.fields?.['Chat Transcript'] ||\n  ''\n) +\n'\\n\\n**💁 Booking Assistant · ' +\nnew Date().toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' }) +\n'**\\n' +\n(\n  $('Send confirmation reply').first().json.text ||\n  $('Send confirmation reply').first().json.output ||\n  $('Send confirmation reply').first().json.response ||\n  ''\n)\n}}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Guest Name",
              "displayName": "Guest Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session State",
              "displayName": "Session State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Message",
              "displayName": "Last Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Bot Reply",
              "displayName": "Last Bot Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Needs Human",
              "displayName": "Needs Human",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Open",
                  "value": "Open"
                },
                {
                  "name": "On Hold",
                  "value": "On Hold"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Current Hold ID",
              "displayName": "Current Hold ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation Stage",
              "displayName": "Conversation Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "booking_flow",
                  "value": "booking_flow"
                },
                {
                  "name": "payment_pending",
                  "value": "payment_pending"
                },
                {
                  "name": "human_handoff",
                  "value": "human_handoff"
                },
                {
                  "name": "existing_booking",
                  "value": "existing_booking"
                },
                {
                  "name": "general_question",
                  "value": "general_question"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                },
                {
                  "name": "existing_booking_modify",
                  "value": "existing_booking_modify"
                },
                {
                  "name": "existing_booking_status",
                  "value": "existing_booking_status"
                },
                {
                  "name": "existing_booking_cancel",
                  "value": "existing_booking_cancel"
                },
                {
                  "name": "payment_claim",
                  "value": "payment_claim"
                },
                {
                  "name": "confirmed_booking",
                  "value": "confirmed_booking"
                },
                {
                  "name": "new",
                  "value": "new"
                },
                {
                  "name": "active",
                  "value": "active"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Messages",
              "displayName": "Messages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Human Notes",
              "displayName": "Human Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation Summary",
              "displayName": "Conversation Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pending Action",
              "displayName": "Pending Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "none",
                  "value": "none"
                },
                {
                  "name": "payment_lookup",
                  "value": "payment_lookup"
                },
                {
                  "name": "alternative_date_selection",
                  "value": "alternative_date_selection"
                },
                {
                  "name": "rooming_info_needed",
                  "value": "rooming_info_needed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bot Mode",
              "displayName": "Bot Mode",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "bot_active",
                  "value": "bot_active"
                },
                {
                  "name": "human_active",
                  "value": "human_active"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Staff Reply Draft",
              "displayName": "Staff Reply Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Send Staff Reply",
              "displayName": "Send Staff Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Return To Bot",
              "displayName": "Return To Bot",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Staff Reply At",
              "displayName": "Last Staff Reply At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Internal Staff Notes",
              "displayName": "Internal Staff Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chat Transcript",
              "displayName": "Chat Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        176,
        -128
      ],
      "id": "3c25265f-c8a2-4a4b-8b34-79052e2efe37",
      "name": "Create/update Conversation - Confirmed Booking",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        -80
      ],
      "id": "2e7ec672-d7fd-4022-90d9-582683e215b5",
      "name": "Merge - Booking + Confirmation Reply"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2698e014-2838-4d8d-8df3-d98032a43cbd",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1584,
        176
      ],
      "id": "9be465a2-f15c-485e-9036-49ea083beb98",
      "name": "IF - Confirmation Records Found"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1152900101233109/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAALZBG11BZCnUBRVIy9bolqFYvsHqdh5zSqIS8eAUhe9HjvydwymNmp7P9trvXH5VzXXK4VbZC6vi5RyFQ0fLzHenDVNvS2dmVa7osB3VYHZBaDTY5FjZAGtHwI5uGhiwvRrGYtZAf6z5xfsCniCboZCZB1XuMjoV1jihsErrsZBu5a0DNRmlXrt8CnQNJML3aEmIowZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: $('Search Bookings - Send Confirmation').first().json.fields.Phone.replace('+', ''),\n  type: \"text\",\n  text: {\n    body: $('Send confirmation reply').first().json.text || $('Send confirmation...').first().json.output || ''\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        128
      ],
      "id": "79700215-ddd5-48da-8fa8-d700a7f8edf5",
      "name": "Send WhatsApp Reply4"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tbllLFnkeriks575v",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tbllLFnkeriks575v"
        },
        "filterByFormula": "={{ '{Phone}=\"' + $('Search Bookings - Send Confirmation').first().json.fields?.Phone + '\"' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1328,
        160
      ],
      "id": "6467ea4f-f2d9-498d-944c-a680982d6c08",
      "name": "Search Conversation - Confirmation",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appOCWIN47Bui9CSS",
          "mode": "list",
          "cachedResultName": "Wolfhouse",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
        },
        "table": {
          "__rl": true,
          "value": "tblO1ByvTMXS4SalB",
          "mode": "list",
          "cachedResultName": "Booking Beds",
          "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblO1ByvTMXS4SalB"
        },
        "filterByFormula": "={{ `{Booking ID}=\"${$('Search Bookings - Send Confirmation').first().json.fields['Booking ID']}\"` }}",
        "options": {
          "fields": [
            "Bed",
            "Room ID",
            "Assignment Start Date",
            "Assignment End Date",
            "Status (from Booking)"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1120,
        160
      ],
      "id": "3d67f9a3-fda5-4892-9e17-c6b00af1ee1c",
      "name": "Search Booking Beds - Confirmation",
      "credentials": {
        "airtableTokenApi": {
          "id": "zJm2dgCKoyhF83m5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bookingBeds = $('Search Booking Beds - Confirmation').all();\n\nfunction getFirst(value) {\n  if (Array.isArray(value)) return value[0];\n  return value;\n}\n\nconst roomIds = [];\n\nfor (const item of bookingBeds) {\n  const fields = item.json.fields || item.json;\n\n  const status = String(fields['Status'] || '').toLowerCase();\n  if (status === 'cancelled' || status === 'canceled') continue;\n\n  const roomId = getFirst(fields['Room ID']);\n  if (roomId && !roomIds.includes(roomId)) {\n    roomIds.push(roomId);\n  }\n}\n\nroomIds.sort((a, b) => {\n  const na = Number(String(a).replace(/\\D/g, '')) || 999;\n  const nb = Number(String(b).replace(/\\D/g, '')) || 999;\n  return na - nb;\n});\n\nlet assignedRoomSummary = '';\n\nif (roomIds.length === 1) {\n  assignedRoomSummary = `Room ${String(roomIds[0]).replace('R', '')}`;\n} else if (roomIds.length > 1) {\n  assignedRoomSummary =\n    'Rooms ' + roomIds.map(id => String(id).replace('R', '')).join(', ');\n}\n\nreturn [\n  {\n    json: {\n      assigned_room_summary: assignedRoomSummary,\n      assigned_room_ids: roomIds,\n      is_multi_room: roomIds.length > 1,\n      assigned_room_count: roomIds.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        160
      ],
      "id": "81520d84-8827-4eda-a6c4-1cbc55c4b89f",
      "name": "Code - Summarize Assigned Rooms"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-confirmation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2000,
        192
      ],
      "id": "7c677399-d2f8-467f-b290-f2120881ecbe",
      "name": "Webhook - Manual Entries Queue",
      "webhookId": "a17ba7e1-7a97-4613-9f8b-d35b50460017"
    }
  ],
  "pinData": {},
  "connections": {
    "Send confirmation reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Send confirmation reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Bookings - Send Confirmation": {
      "main": [
        [
          {
            "node": "IF - Confirmation Records Found",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - Booking + Confirmation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking - Confirmed": {
      "main": [
        [
          {
            "node": "Create/update Conversation - Confirmed Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Booking + Confirmation Reply": {
      "main": [
        [
          {
            "node": "Update Booking - Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Confirmation Records Found": {
      "main": [
        [
          {
            "node": "Search Conversation - Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply4": {
      "main": [
        [
          {
            "node": "Merge - Booking + Confirmation Reply",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Conversation - Confirmation": {
      "main": [
        [
          {
            "node": "Search Booking Beds - Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Booking Beds - Confirmation": {
      "main": [
        [
          {
            "node": "Code - Summarize Assigned Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Summarize Assigned Rooms": {
      "main": [
        [
          {
            "node": "Send confirmation reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Manual Entries Queue": {
      "main": [
        [
          {
            "node": "Search Bookings - Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8d2c9418-f858-4be2-9cc1-81b840e691fc",
  "meta": {
    "instanceId": "bb3760dba17d7b832fddd5286a2e2a3d33a2c986ba33cdcf6e30a0102f2ebb45"
  },
  "id": "4DFXg5g7Fc0I6cK3",
  "tags": []
}