n8n/phase3b/Wolfhouse - Reassign Bed Assignments (local PG).n8n-import.json
[
  {
    "name": "Wolfhouse - Reassign Bed Assignments (local PG)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "reassign-booking-beds",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -80,
          -96
        ],
        "id": "8ec955a9-9e24-4a05-82ad-1c27ee39e769",
        "name": "Reassign Booking Beds - Webhook",
        "webhookId": "3b3c0001-0001-4000-8000-000000000003"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body ?? $json;\nconst errors = [];\nlet recordId = String(\n  body.record_id ?? body.RecordId ?? body.booking_record_id ?? body.airtable_record_id ?? ''\n).trim();\nlet bookingCode = String(\n  body.booking_code ?? body.BookingCode ?? body['Booking ID'] ?? ''\n).trim();\n\nfunction bookingCodeToRec(code) {\n  const s = String(code || '').trim();\n  if (!s.startsWith('WH-')) return '';\n  const rec = s.slice(3);\n  return rec.startsWith('rec') ? rec : '';\n}\nfunction recToBookingCode(rec) {\n  const s = String(rec || '').trim();\n  return s.startsWith('rec') ? 'WH-' + s : '';\n}\n\nif (recordId.startsWith('WH-')) {\n  const derived = bookingCodeToRec(recordId);\n  if (derived) recordId = derived;\n  else errors.push('invalid_WH_prefix_record_id');\n}\nif (!recordId && bookingCode) recordId = bookingCodeToRec(bookingCode);\nif (!bookingCode && recordId.startsWith('rec')) bookingCode = recToBookingCode(recordId);\n\nif (!recordId && !bookingCode) {\n  return [{\n    json: {\n      parse_ok: false,\n      errors: ['missing_record_id_or_booking_code'],\n      airtable_record_id: '',\n      record_id: '',\n      booking_code: ''\n    }\n  }];\n}\nif (recordId && !recordId.startsWith('rec')) {\n  return [{\n    json: {\n      parse_ok: false,\n      errors: ['airtable_record_id_must_start_with_rec'],\n      airtable_record_id: recordId,\n      record_id: recordId,\n      booking_code: bookingCode\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    parse_ok: true,\n    errors: errors.length ? errors : [],\n    airtable_record_id: recordId,\n    record_id: recordId,\n    booking_code: bookingCode\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          -96
        ],
        "id": "e56b47d5-fba1-4cef-8add-edae3bd2fb49",
        "name": "Code - Parse Reassign Webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "parse-ok",
                "leftValue": "={{ $json.parse_ok }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          240,
          -96
        ],
        "id": "94ae26a8-0903-4d79-8802-842f643a91e4",
        "name": "IF - Parse OK"
      },
      {
        "parameters": {
          "base": {
            "__rl": true,
            "value": "appOCWIN47Bui9CSS",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
          },
          "table": {
            "__rl": true,
            "value": "tblYWm3zKFafe4qu7",
            "mode": "list",
            "cachedResultName": "Bookings",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
          },
          "id": "={{ $('Code - Parse Reassign Webhook').first().json.airtable_record_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          208,
          -96
        ],
        "id": "0a7189f5-2fc5-4ef0-9139-4d33ff9e9dc5",
        "name": "Get Booking To Reassign",
        "credentials": {
          "airtableTokenApi": {
            "id": "tEUby6EPDxFQ5st8",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const booking = $('Get Booking To Reassign').first().json || {};\nconst fields = booking.fields || {};\n\nfunction toNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst guestCountFromBooking = toNumber(fields['Guest Count']);\n\nconst bookingBeds = Array.isArray(fields['Booking Beds'])\n  ? fields['Booking Beds']\n  : [];\n\nconst guestCountFromExistingBeds = bookingBeds.length;\n\nconst guestCountFromWebhook = toNumber(\n  $json.body?.guest_count ||\n  $json.guest_count\n);\n\nconst effectiveGuestCount =\n  guestCountFromBooking > 0\n    ? guestCountFromBooking\n    : guestCountFromExistingBeds > 0\n      ? guestCountFromExistingBeds\n      : guestCountFromWebhook > 0\n        ? guestCountFromWebhook\n        : 0;\n\nconst checkIn = fields['Check In'] || null;\nconst checkOut = fields['Check Out'] || null;\n\nconst canReassign =\n  !!booking.id &&\n  !!checkIn &&\n  !!checkOut &&\n  effectiveGuestCount > 0;\n\nreturn [\n  {\n    json: {\n      booking_record_id: booking.id,\n      booking_id: fields['Booking ID'] || $json.body?.booking_id || null,\n\n      check_in: checkIn,\n      check_out: checkOut,\n\n      guest_count: effectiveGuestCount,\n      original_guest_count: guestCountFromBooking,\n      existing_booking_bed_count: guestCountFromExistingBeds,\n\n      room_preference:\n        $json.body?.room_preference ||\n        fields['Room Preference'] ||\n        'shared',\n\n      guest_gender_group_type:\n        $json.body?.guest_gender_group_type ||\n        fields['Guest Gender / Group Type'] ||\n        'unknown',\n\n      requested_room_type:\n        fields['Requested Room Type'] ||\n        'shared',\n\n      status: fields['Status'] || null,\n      payment_status: fields['Payment Status'] || null,\n\n      booking_beds: bookingBeds,\n      can_reassign: canReassign,\n\n      error: canReassign\n        ? null\n        : 'Cannot reassign because booking id, check-in, check-out, or guest count is missing.'\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          -96
        ],
        "id": "49a723dd-4a29-41a4-b01b-14e93a3f79a6",
        "name": "Code - Normalize Reassignment Booking"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5bebe016-90de-460f-bb5f-698d8bd43fb7",
                "leftValue": "={{ $json.can_reassign }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          528,
          -96
        ],
        "id": "a6c2fb4d-07d7-448f-b584-639e7157b716",
        "name": "IF - Can Reassign Booking"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS airtable_record_id,\n    NULLIF(trim($2), '__NULL__') AS booking_code\n),\nresolved AS (\n  SELECT\n    b.id,\n    b.booking_code,\n    b.payment_status::text AS payment_status,\n    c.id AS client_id\n  FROM bookings b\n  INNER JOIN clients c ON c.id = b.client_id\n  CROSS JOIN params p\n  WHERE c.slug = 'wolfhouse-somo'\n    AND (\n      (p.airtable_record_id IS NOT NULL AND b.airtable_record_id = p.airtable_record_id)\n      OR (p.booking_code IS NOT NULL AND b.booking_code = p.booking_code)\n    )\n  LIMIT 2\n),\nresolved_count AS (\n  SELECT COUNT(*)::int AS c FROM resolved\n),\nguard AS (\n  SELECT r.*\n  FROM resolved r\n  WHERE (SELECT c FROM resolved_count) = 1\n),\nbeds_before AS (\n  SELECT COUNT(*)::int AS c\n  FROM booking_beds bb\n  INNER JOIN guard r ON bb.booking_id = r.id AND bb.client_id = r.client_id\n),\ndeleted AS (\n  DELETE FROM booking_beds bb\n  USING guard r\n  WHERE bb.booking_id = r.id AND bb.client_id = r.client_id\n  RETURNING bb.id\n)\nSELECT\n  rc.c AS booking_rows_resolved,\n  r.booking_code,\n  r.id::text AS booking_id,\n  r.payment_status AS payment_status_before,\n  (SELECT payment_status::text FROM bookings WHERE id = r.id) AS payment_status_after,\n  (SELECT c FROM beds_before) AS beds_before_count,\n  (SELECT COUNT(*)::int FROM deleted) AS pg_deleted_count,\n  (SELECT COUNT(*)::int FROM payments p INNER JOIN guard g ON p.booking_id = g.id) AS payments_count\nFROM resolved_count rc\nLEFT JOIN guard r ON true",
          "options": {
            "queryReplacement": "={{ (($('Code - Parse Reassign Webhook').first().json.airtable_record_id) != null && String($('Code - Parse Reassign Webhook').first().json.airtable_record_id).trim() !== '') ? String($('Code - Parse Reassign Webhook').first().json.airtable_record_id).trim() : '__NULL__' }},={{ (($('Code - Parse Reassign Webhook').first().json.booking_code) != null && String($('Code - Parse Reassign Webhook').first().json.booking_code).trim() !== '') ? String($('Code - Parse Reassign Webhook').first().json.booking_code).trim() : '__NULL__' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          880,
          -96
        ],
        "id": "df3e2d4a-e68b-458b-8063-56304df38680",
        "name": "Postgres - Delete All Booking Beds",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const parsed = $('Code - Parse Reassign Webhook').first().json;\nconst pgItems = $('Postgres - Delete All Booking Beds').all();\nconst pgItem = pgItems[0];\nconst pgErr = pgItem?.error;\nconst pg = pgItem?.json || {};\n\nif (pgErr) {\n  const msg = String(pgErr.message || pgErr);\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [msg.includes('no parameter') ? 'postgres_query_param_missing' : 'postgres_reassign_delete_failed'],\n      airtable_record_id: parsed.airtable_record_id,\n      record_id: parsed.record_id || parsed.airtable_record_id,\n      booking_code: parsed.booking_code,\n      pg_deleted_count: 0,\n      partial_failure: 'pg_query_failed',\n      message: msg\n    }\n  }];\n}\n\nconst resolved = Number(pg.booking_rows_resolved ?? 0);\nif (resolved !== 1) {\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [resolved === 0 ? 'booking_not_found_in_postgres' : 'booking_ambiguous_in_postgres'],\n      airtable_record_id: parsed.airtable_record_id,\n      record_id: parsed.record_id || parsed.airtable_record_id,\n      booking_code: parsed.booking_code,\n      pg_deleted_count: 0,\n      partial_failure: 'pg_resolve_failed',\n      message: 'Postgres could not resolve exactly one booking — Airtable reset skipped'\n    }\n  }];\n}\n\nconst errors = [];\nconst before = String(pg.payment_status_before || '');\nconst after = String(pg.payment_status_after || '');\nif (before && after && before !== after) {\n  errors.push('payment_status_changed_during_pg_reassign_delete');\n}\n\nreturn [{\n  json: {\n    pg_ok: true,\n    errors,\n    ...pg,\n    airtable_record_id: parsed.airtable_record_id,\n    record_id: parsed.record_id || parsed.airtable_record_id,\n    booking_code: pg.booking_code || parsed.booking_code,\n    pg_deleted_count: Number(pg.pg_deleted_count ?? 0)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -96
        ],
        "id": "98696157-0c62-42ce-8098-8ad5217f420c",
        "name": "Code - Validate PG Reassign Delete"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "pg-delete-ok",
                "leftValue": "={{ $json.pg_ok }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1200,
          -96
        ],
        "id": "b8cf14f2-698d-461c-82a4-37a27c942283",
        "name": "IF - PG Delete OK"
      },
      {
        "parameters": {
          "jsCode": "const booking = $('Get Booking To Reassign').first().json;\nconst fields = booking.fields || {};\n\nconst bookingBeds = fields['Booking Beds'] || [];\n\nif (!bookingBeds.length) {\n  return [{\n    json: {\n      booking_record_id: booking.id,\n      booking_id: fields['Booking ID'] || '',\n      no_booking_beds_found: true\n    }\n  }];\n}\n\nreturn bookingBeds.map(id => ({\n  json: {\n    booking_record_id: booking.id,\n    booking_id: fields['Booking ID'] || '',\n    booking_bed_record_id: id\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          -96
        ],
        "id": "3fa8213c-031f-4a60-ba0e-502bb7b044e8",
        "name": "Code - Prepare Existing Booking Beds To Cancel"
      },
      {
        "parameters": {
          "operation": "deleteRecord",
          "base": {
            "__rl": true,
            "value": "appOCWIN47Bui9CSS",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
          },
          "table": {
            "__rl": true,
            "value": "tblO1ByvTMXS4SalB",
            "mode": "list",
            "cachedResultName": "Booking Beds",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblO1ByvTMXS4SalB"
          },
          "id": "={{ $json.id || $json.record_id || $json.booking_bed_record_id }}"
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1120,
          -96
        ],
        "id": "01b6d765-9ba7-4994-8a23-cb12d8c8d7ee",
        "name": "Cancel Old Booking Bed",
        "credentials": {
          "airtableTokenApi": {
            "id": "tEUby6EPDxFQ5st8",
            "name": "Airtable Personal Access Token account"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appOCWIN47Bui9CSS",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
          },
          "table": {
            "__rl": true,
            "value": "tblYWm3zKFafe4qu7",
            "mode": "list",
            "cachedResultName": "Bookings",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $('Get Booking To Reassign').first().json.id }}",
              "Assignment Status": "Unassigned",
              "Availability Check Status": "Not Checked"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Booking ID",
                "displayName": "Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Guest Name",
                "displayName": "Guest Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmed",
                    "value": "Confirmed"
                  },
                  {
                    "name": "Cancelled",
                    "value": "Cancelled"
                  },
                  {
                    "name": "Payment_Pending",
                    "value": "Payment_Pending"
                  },
                  {
                    "name": "Checked_In",
                    "value": "Checked_In"
                  },
                  {
                    "name": "Checked_Out",
                    "value": "Checked_Out"
                  },
                  {
                    "name": "Expired",
                    "value": "Expired"
                  },
                  {
                    "name": "Needs_Review",
                    "value": "Needs_Review"
                  },
                  {
                    "name": "Hold",
                    "value": "Hold"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Status",
                "displayName": "Payment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "paid",
                    "value": "paid"
                  },
                  {
                    "name": "deposit_paid",
                    "value": "deposit_paid"
                  },
                  {
                    "name": "waiting_payment",
                    "value": "waiting_payment"
                  },
                  {
                    "name": "not_requested",
                    "value": "not_requested"
                  },
                  {
                    "name": "failed",
                    "value": "failed"
                  },
                  {
                    "name": "pay_on_arrival",
                    "value": "pay_on_arrival"
                  },
                  {
                    "name": "refunded",
                    "value": "refunded"
                  },
                  {
                    "name": "payment_pending",
                    "value": "payment_pending"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Check In",
                "displayName": "Check In",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Check Out",
                "displayName": "Check Out",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Guest Count",
                "displayName": "Guest Count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds",
                "displayName": "Booking Beds",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Assignment Status",
                "displayName": "Assignment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Unassigned",
                    "value": "Unassigned"
                  },
                  {
                    "name": "Partially Assigned",
                    "value": "Partially Assigned"
                  },
                  {
                    "name": "Assigned",
                    "value": "Assigned"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  },
                  {
                    "name": "Assigning",
                    "value": "Assigning"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Package",
                "displayName": "Package",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Malibu",
                    "value": "Malibu"
                  },
                  {
                    "name": "Uluwatu",
                    "value": "Uluwatu"
                  },
                  {
                    "name": "Waimea",
                    "value": "Waimea"
                  },
                  {
                    "name": "Custom",
                    "value": "Custom"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Hold Expires At",
                "displayName": "Hold Expires At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Created At",
                "displayName": "Created At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Expired",
                "displayName": "Expired",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Link",
                "displayName": "Payment Link",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Send Confirmation",
                "displayName": "Send Confirmation",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Guest Gender / Group Type",
                "displayName": "Guest Gender / Group Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "unknown",
                    "value": "unknown"
                  },
                  {
                    "name": "solo_female",
                    "value": "solo_female"
                  },
                  {
                    "name": "solo_male",
                    "value": "solo_male"
                  },
                  {
                    "name": "female_group",
                    "value": "female_group"
                  },
                  {
                    "name": "male_group",
                    "value": "male_group"
                  },
                  {
                    "name": "mixed_group",
                    "value": "mixed_group"
                  },
                  {
                    "name": "couple",
                    "value": "couple"
                  },
                  {
                    "name": "family",
                    "value": "family"
                  },
                  {
                    "name": "operator_group",
                    "value": "operator_group"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Google Calendar Event ID",
                "displayName": "Google Calendar Event ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Source",
                "displayName": "Booking Source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "AI WhatsApp",
                    "value": "AI WhatsApp"
                  },
                  {
                    "name": "Manual Staff",
                    "value": "Manual Staff"
                  },
                  {
                    "name": "Website",
                    "value": "Website"
                  },
                  {
                    "name": "Walk-in",
                    "value": "Walk-in"
                  },
                  {
                    "name": "Phone",
                    "value": "Phone"
                  },
                  {
                    "name": "Operator",
                    "value": "Operator"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Staff Notes",
                "displayName": "Staff Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Needs Calendar Sync",
                "displayName": "Needs Calendar Sync",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Calendar Title",
                "displayName": "Calendar Title",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Requested Room Type",
                "displayName": "Requested Room Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "either",
                    "value": "either"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Rooming Notes",
                "displayName": "Rooming Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Rooming Confidence",
                "displayName": "Rooming Confidence",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room ID",
                "displayName": "Room ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room Preference",
                "displayName": "Room Preference",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "female_only",
                    "value": "female_only"
                  },
                  {
                    "name": "male_only",
                    "value": "male_only"
                  },
                  {
                    "name": "double",
                    "value": "double"
                  },
                  {
                    "name": "family_room",
                    "value": "family_room"
                  },
                  {
                    "name": "mixed_ok",
                    "value": "mixed_ok"
                  },
                  {
                    "name": "any",
                    "value": "any"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Needs Rooming Review",
                "displayName": "Needs Rooming Review",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Option",
                "displayName": "Payment Option",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Deposit Required",
                "displayName": "Deposit Required",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Deposit Paid",
                "displayName": "Deposit Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Balance Due",
                "displayName": "Balance Due",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Balance Due on Arrival",
                "displayName": "Balance Due on Arrival",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Total Amount",
                "displayName": "Total Amount",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Amount Paid",
                "displayName": "Amount Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Notes",
                "displayName": "Payment Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Availability Check Status",
                "displayName": "Availability Check Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Conflict Notes",
                "displayName": "Conflict Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Name",
                "displayName": "Operator Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "SurfWeek",
                    "value": "SurfWeek"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Block Type",
                "displayName": "Block Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Whole Room",
                    "value": "Whole Room"
                  },
                  {
                    "name": "Partial Beds",
                    "value": "Partial Beds"
                  },
                  {
                    "name": "Whole House",
                    "value": "Whole House"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room to Block",
                "displayName": "Room to Block",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room Name",
                "displayName": "Room Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Capacity",
                "displayName": "Capacity",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Operator Room Release Request",
                "displayName": "Operator Room Release Request",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Room Release Request 2",
                "displayName": "Operator Room Release Request 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Room Release Request 3",
                "displayName": "Operator Room Release Request 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds 2",
                "displayName": "Booking Beds 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds 3",
                "displayName": "Booking Beds 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1328,
          -96
        ],
        "id": "a158c630-7bf7-4866-8dd8-a1cb3052f101",
        "name": "Mark Booking Ready For Reassignment",
        "credentials": {
          "airtableTokenApi": {
            "id": "tEUby6EPDxFQ5st8",
            "name": "Airtable Personal Access Token account"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS airtable_record_id,\n    NULLIF(trim($2), '__NULL__') AS booking_code\n),\nresolved AS (\n  SELECT b.id, b.booking_code, c.id AS client_id\n  FROM bookings b\n  INNER JOIN clients c ON c.id = b.client_id\n  CROSS JOIN params p\n  WHERE c.slug = 'wolfhouse-somo'\n    AND (\n      (p.airtable_record_id IS NOT NULL AND b.airtable_record_id = p.airtable_record_id)\n      OR (p.booking_code IS NOT NULL AND b.booking_code = p.booking_code)\n    )\n  LIMIT 2\n),\nresolved_count AS (\n  SELECT COUNT(*)::int AS c FROM resolved\n),\nguard AS (\n  SELECT r.*\n  FROM resolved r\n  WHERE (SELECT c FROM resolved_count) = 1\n),\nupdated AS (\n  UPDATE bookings b\n  SET\n    assignment_status = 'unassigned',\n    availability_check_status = 'unknown'\n  FROM guard r\n  WHERE b.id = r.id AND b.client_id = r.client_id\n  RETURNING b.id\n)\nSELECT\n  rc.c AS booking_rows_resolved,\n  (SELECT booking_code FROM guard LIMIT 1) AS booking_code,\n  (SELECT COUNT(*)::int FROM updated) AS pg_reassign_ready_count,\n  (SELECT assignment_status::text FROM bookings b INNER JOIN guard g ON b.id = g.id) AS assignment_status_after,\n  (SELECT availability_check_status::text FROM bookings b INNER JOIN guard g ON b.id = g.id) AS availability_check_status_after\nFROM resolved_count rc",
          "options": {
            "queryReplacement": "={{ (($('Code - Parse Reassign Webhook').first().json.airtable_record_id) != null && String($('Code - Parse Reassign Webhook').first().json.airtable_record_id).trim() !== '') ? String($('Code - Parse Reassign Webhook').first().json.airtable_record_id).trim() : '__NULL__' }},={{ (($('Code - Parse Reassign Webhook').first().json.booking_code) != null && String($('Code - Parse Reassign Webhook').first().json.booking_code).trim() !== '') ? String($('Code - Parse Reassign Webhook').first().json.booking_code).trim() : '__NULL__' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1680,
          -96
        ],
        "id": "8da637c2-ae09-4721-8291-f8cbcf64bb82",
        "name": "Postgres - Mirror Reassign Ready Status",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const parsed = $('Code - Parse Reassign Webhook').first().json;\nconst pgItems = $('Postgres - Mirror Reassign Ready Status').all();\nconst pgItem = pgItems[0];\nconst pgErr = pgItem?.error;\nconst pg = pgItem?.json || {};\n\nif (pgErr) {\n  return [{\n    json: {\n      pg_mirror_ok: false,\n      errors: ['postgres_mirror_reassign_ready_failed'],\n      pg_reassign_ready: false,\n      message: String(pgErr.message || pgErr)\n    }\n  }];\n}\n\nconst readyCount = Number(pg.pg_reassign_ready_count ?? 0);\nreturn [{\n  json: {\n    pg_mirror_ok: readyCount > 0,\n    pg_reassign_ready: readyCount > 0,\n    assignment_status_after: pg.assignment_status_after,\n    availability_check_status_after: pg.availability_check_status_after,\n    errors: readyCount > 0 ? [] : ['pg_reassign_ready_update_zero_rows']\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          -96
        ],
        "id": "3d4e9168-1aa5-4e55-8c69-05cfbae137fa",
        "name": "Code - Validate PG Reassign Mirror"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n-main:5678/webhook/assign-beds-to-booking",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ record_id: $('Code - Parse Reassign Webhook').first().json.airtable_record_id, booking_code: $('Code - Parse Reassign Webhook').first().json.booking_code || undefined }) }}",
          "options": {
            "timeout": 120000,
            "response": {
              "response": {
                "fullResponse": false,
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2080,
          -96
        ],
        "id": "18a133f4-7eb3-4cf9-87bd-5a802a26612f",
        "name": "HTTP Request - Trigger Local Assign",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const http = $('HTTP Request - Trigger Local Assign').first();\nif (http?.error) {\n  return [{\n    json: {\n      assign_parse_ok: false,\n      assign_http_error: String(http.error.message || http.error),\n      assign_response: {}\n    }\n  }];\n}\n\nlet body = http?.json;\nif (body == null) {\n  return [{\n    json: {\n      assign_parse_ok: false,\n      assign_http_error: 'assign_http_empty_response',\n      assign_response: {}\n    }\n  }];\n}\n\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch (e) {\n    return [{\n      json: {\n        assign_parse_ok: false,\n        assign_http_error: 'assign_http_non_json',\n        assign_response: { raw: body }\n      }\n    }];\n  }\n}\n\nif (body.body !== undefined) {\n  body = typeof body.body === 'string' ? JSON.parse(body.body) : body.body;\n}\nif (Array.isArray(body)) body = body[0] || {};\n\nreturn [{\n  json: {\n    assign_parse_ok: true,\n    assign_http_error: null,\n    assign_response: body && typeof body === 'object' ? body : {}\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          -96
        ],
        "id": "85f51b98-9407-4dac-86c2-790f00009cdf",
        "name": "Code - Parse Assign HTTP Response"
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appOCWIN47Bui9CSS",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS"
          },
          "table": {
            "__rl": true,
            "value": "tblYWm3zKFafe4qu7",
            "mode": "list",
            "cachedResultName": "Bookings",
            "cachedResultUrl": "https://airtable.com/appOCWIN47Bui9CSS/tblYWm3zKFafe4qu7"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Expired": false,
              "Send Confirmation": false,
              "Needs Calendar Sync": false,
              "Needs Rooming Review": false,
              "Balance Due on Arrival": false,
              "Assignment Status": "Needs Review",
              "Conflict Notes": "Cannot reassign because guest count was missing or zero.",
              "Guest Count": 0,
              "Rooming Confidence": 0,
              "Deposit Required": 0,
              "Balance Due": 0,
              "Total Amount": 0,
              "Amount Paid": 0,
              "Deposit Paid": 0
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Booking ID",
                "displayName": "Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Name",
                "displayName": "Guest Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmed",
                    "value": "Confirmed"
                  },
                  {
                    "name": "Cancelled",
                    "value": "Cancelled"
                  },
                  {
                    "name": "Payment_Pending",
                    "value": "Payment_Pending"
                  },
                  {
                    "name": "Checked_In",
                    "value": "Checked_In"
                  },
                  {
                    "name": "Checked_Out",
                    "value": "Checked_Out"
                  },
                  {
                    "name": "Expired",
                    "value": "Expired"
                  },
                  {
                    "name": "Needs_Review",
                    "value": "Needs_Review"
                  },
                  {
                    "name": "Hold",
                    "value": "Hold"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Status",
                "displayName": "Payment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "paid",
                    "value": "paid"
                  },
                  {
                    "name": "deposit_paid",
                    "value": "deposit_paid"
                  },
                  {
                    "name": "waiting_payment",
                    "value": "waiting_payment"
                  },
                  {
                    "name": "not_requested",
                    "value": "not_requested"
                  },
                  {
                    "name": "failed",
                    "value": "failed"
                  },
                  {
                    "name": "pay_on_arrival",
                    "value": "pay_on_arrival"
                  },
                  {
                    "name": "refunded",
                    "value": "refunded"
                  },
                  {
                    "name": "payment_pending",
                    "value": "payment_pending"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check In",
                "displayName": "Check In",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check Out",
                "displayName": "Check Out",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Count",
                "displayName": "Guest Count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds",
                "displayName": "Booking Beds",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Assignment Status",
                "displayName": "Assignment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Unassigned",
                    "value": "Unassigned"
                  },
                  {
                    "name": "Partially Assigned",
                    "value": "Partially Assigned"
                  },
                  {
                    "name": "Assigned",
                    "value": "Assigned"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  },
                  {
                    "name": "Assigning",
                    "value": "Assigning"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Package",
                "displayName": "Package",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Malibu",
                    "value": "Malibu"
                  },
                  {
                    "name": "Uluwatu",
                    "value": "Uluwatu"
                  },
                  {
                    "name": "Waimea",
                    "value": "Waimea"
                  },
                  {
                    "name": "Custom",
                    "value": "Custom"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hold Expires At",
                "displayName": "Hold Expires At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Created At",
                "displayName": "Created At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Expired",
                "displayName": "Expired",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Link",
                "displayName": "Payment Link",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Send Confirmation",
                "displayName": "Send Confirmation",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Gender / Group Type",
                "displayName": "Guest Gender / Group Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "unknown",
                    "value": "unknown"
                  },
                  {
                    "name": "solo_female",
                    "value": "solo_female"
                  },
                  {
                    "name": "solo_male",
                    "value": "solo_male"
                  },
                  {
                    "name": "female_group",
                    "value": "female_group"
                  },
                  {
                    "name": "male_group",
                    "value": "male_group"
                  },
                  {
                    "name": "mixed_group",
                    "value": "mixed_group"
                  },
                  {
                    "name": "couple",
                    "value": "couple"
                  },
                  {
                    "name": "family",
                    "value": "family"
                  },
                  {
                    "name": "operator_group",
                    "value": "operator_group"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Google Calendar Event ID",
                "displayName": "Google Calendar Event ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Source",
                "displayName": "Booking Source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "AI WhatsApp",
                    "value": "AI WhatsApp"
                  },
                  {
                    "name": "Manual Staff",
                    "value": "Manual Staff"
                  },
                  {
                    "name": "Website",
                    "value": "Website"
                  },
                  {
                    "name": "Walk-in",
                    "value": "Walk-in"
                  },
                  {
                    "name": "Phone",
                    "value": "Phone"
                  },
                  {
                    "name": "Operator",
                    "value": "Operator"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Staff Notes",
                "displayName": "Staff Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Needs Calendar Sync",
                "displayName": "Needs Calendar Sync",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Calendar Title",
                "displayName": "Calendar Title",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Requested Room Type",
                "displayName": "Requested Room Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "either",
                    "value": "either"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Rooming Notes",
                "displayName": "Rooming Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Rooming Confidence",
                "displayName": "Rooming Confidence",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room ID",
                "displayName": "Room ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room Preference",
                "displayName": "Room Preference",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "female_only",
                    "value": "female_only"
                  },
                  {
                    "name": "male_only",
                    "value": "male_only"
                  },
                  {
                    "name": "double",
                    "value": "double"
                  },
                  {
                    "name": "family_room",
                    "value": "family_room"
                  },
                  {
                    "name": "mixed_ok",
                    "value": "mixed_ok"
                  },
                  {
                    "name": "any",
                    "value": "any"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Needs Rooming Review",
                "displayName": "Needs Rooming Review",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Option",
                "displayName": "Payment Option",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Deposit Required",
                "displayName": "Deposit Required",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Deposit Paid",
                "displayName": "Deposit Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Balance Due",
                "displayName": "Balance Due",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Balance Due on Arrival",
                "displayName": "Balance Due on Arrival",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Total Amount",
                "displayName": "Total Amount",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Amount Paid",
                "displayName": "Amount Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Notes",
                "displayName": "Payment Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Availability Check Status",
                "displayName": "Availability Check Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Conflict Notes",
                "displayName": "Conflict Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Operator Name",
                "displayName": "Operator Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "SurfWeek",
                    "value": "SurfWeek"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Block Type",
                "displayName": "Block Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Whole Room",
                    "value": "Whole Room"
                  },
                  {
                    "name": "Partial Beds",
                    "value": "Partial Beds"
                  },
                  {
                    "name": "Whole House",
                    "value": "Whole House"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room to Block",
                "displayName": "Room to Block",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room Name",
                "displayName": "Room Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Capacity",
                "displayName": "Capacity",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Operator Room Release Request",
                "displayName": "Operator Room Release Request",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Operator Room Release Request 2",
                "displayName": "Operator Room Release Request 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Operator Room Release Request 3",
                "displayName": "Operator Room Release Request 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds 2",
                "displayName": "Booking Beds 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds 3",
                "displayName": "Booking Beds 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          688,
          216
        ],
        "id": "4e09883e-5ad5-471c-bace-c7259d35846e",
        "name": "Update record1",
        "credentials": {
          "airtableTokenApi": {
            "id": "tEUby6EPDxFQ5st8",
            "name": "Airtable Personal Access Token account"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "function mergeErrors(...lists) {\n  const out = [];\n  for (const list of lists) {\n    if (!list) continue;\n    for (const e of list) {\n      const s = String(e || '').trim();\n      if (s && !out.includes(s)) out.push(s);\n    }\n  }\n  return out;\n}\n\nfunction emptyAssign() {\n  return {\n    pg_inserted_count: 0,\n    pg_skipped_count: 0,\n    pg_conflict_count: 0,\n    airtable_create_ok: false,\n    airtable_update_ok: false,\n    assign_ok: false,\n    skipped_reason: null\n  };\n}\n\nconst parsed = $('Code - Parse Reassign Webhook').first()?.json || {};\nconst record_id = parsed.record_id || parsed.airtable_record_id || '';\n\nif (!parsed.parse_ok) {\n  return [{\n    json: {\n      ok: false,\n      booking_code: parsed.booking_code || '',\n      record_id,\n      pg_deleted_count: 0,\n      pg_reassign_ready: false,\n      airtable_delete_ok: false,\n      airtable_reset_ok: false,\n      assign_triggered: false,\n      ...emptyAssign(),\n      partial_failure: 'parse_failed',\n      idempotent: false,\n      errors: mergeErrors(parsed.errors, ['parse_failed']),\n      message: 'Invalid webhook payload'\n    }\n  }];\n}\n\nlet normalize = null;\ntry {\n  normalize = $('Code - Normalize Reassignment Booking').first()?.json;\n} catch (e) {}\n\nif (normalize && normalize.can_reassign === false) {\n  let gateUpd = null;\n  try { gateUpd = $('Update record1').first(); } catch (e) {}\n  const gateOk = !!(gateUpd?.json?.id || gateUpd?.json?.fields) && !gateUpd?.error;\n  return [{\n    json: {\n      ok: false,\n      booking_code: normalize.booking_id || parsed.booking_code || '',\n      record_id,\n      pg_deleted_count: 0,\n      pg_reassign_ready: false,\n      airtable_delete_ok: false,\n      airtable_reset_ok: gateOk,\n      assign_triggered: false,\n      ...emptyAssign(),\n      partial_failure: 'reassign_gate_failed',\n      idempotent: false,\n      errors: mergeErrors(normalize.errors, ['can_reassign_false']),\n      message: 'Booking failed reassign gate (dates/guest count)'\n    }\n  }];\n}\n\nlet validateDelete;\ntry {\n  validateDelete = $('Code - Validate PG Reassign Delete').first().json;\n} catch (e) {\n  validateDelete = { pg_ok: false, errors: ['validate_pg_delete_not_run'] };\n}\n\nif (!validateDelete.pg_ok) {\n  return [{\n    json: {\n      ok: false,\n      booking_code: validateDelete.booking_code || parsed.booking_code || '',\n      record_id: validateDelete.record_id || record_id,\n      pg_deleted_count: Number(validateDelete.pg_deleted_count ?? 0),\n      pg_reassign_ready: false,\n      airtable_delete_ok: false,\n      airtable_reset_ok: false,\n      assign_triggered: false,\n      ...emptyAssign(),\n      partial_failure: validateDelete.partial_failure || 'pg_reset_failed',\n      idempotent: false,\n      errors: mergeErrors(validateDelete.errors, [validateDelete.message]),\n      message: validateDelete.message || 'Postgres reassign delete did not complete'\n    }\n  }];\n}\n\nconst pgDeleted = Number(validateDelete.pg_deleted_count ?? 0);\n\nlet deleteItems = [];\nlet markReady = null;\nlet prep = null;\ntry { deleteItems = $('Cancel Old Booking Bed').all(); } catch (e) {}\ntry { markReady = $('Mark Booking Ready For Reassignment').first(); } catch (e) {}\ntry { prep = $('Code - Prepare Existing Booking Beds To Cancel').first()?.json; } catch (e) {}\n\nconst atDeleteErrors = [];\nlet atDeleteAttempts = 0;\nfor (const item of deleteItems) {\n  if (item.error) {\n    atDeleteErrors.push(String(item.error.message || item.error));\n    continue;\n  }\n  atDeleteAttempts += 1;\n}\nconst noBedsInAt = !!prep?.no_booking_beds_found;\nconst atDeleteOk = atDeleteErrors.length === 0;\nconst atResetOk =\n  !!(markReady?.json?.id || markReady?.json?.fields) && !markReady?.error && !markReady?.json?.error;\n\nlet mirror = { pg_reassign_ready: false, pg_mirror_ok: false, errors: [] };\ntry {\n  mirror = $('Code - Validate PG Reassign Mirror').first().json;\n} catch (e) {\n  mirror.errors = ['validate_pg_mirror_not_run'];\n}\n\nconst pgReassignReady = mirror.pg_reassign_ready === true;\n\nlet assign = emptyAssign();\nlet assignTriggered = false;\nlet assignHttpError = null;\ntry {\n  const parsedAssign = $('Code - Parse Assign HTTP Response').first()?.json || {};\n  assignTriggered = !parsedAssign.assign_http_error || !!parsedAssign.assign_response;\n  if (parsedAssign.assign_http_error) {\n    assignHttpError = parsedAssign.assign_http_error;\n  }\n  const body = parsedAssign.assign_response || {};\n  assign = {\n    pg_inserted_count: Number(body.pg_inserted_count ?? 0),\n    pg_skipped_count: Number(body.pg_skipped_count ?? 0),\n    pg_conflict_count: Number(body.pg_conflict_count ?? 0),\n    airtable_create_ok: body.airtable_create_ok === true,\n    airtable_update_ok: body.airtable_update_ok === true,\n    assign_ok: body.ok === true,\n    skipped_reason: body.skipped_reason || null,\n    assign_partial_failure: body.partial_failure || null,\n    assign_errors: body.errors || []\n  };\n} catch (e) {\n  assignHttpError = 'assign_http_not_run';\n}\n\nconst errors = mergeErrors(\n  validateDelete.errors,\n  mirror.errors,\n  atDeleteErrors,\n  assign.assign_errors,\n  assignHttpError ? [assignHttpError] : []\n);\n\nlet partial_failure = null;\nif (!atResetOk || !atDeleteOk) {\n  partial_failure = 'pg_ok_airtable_reset_failed';\n} else if (!pgReassignReady) {\n  partial_failure = 'pg_mirror_reassign_ready_failed';\n} else if (!assignTriggered) {\n  partial_failure = 'assign_not_triggered';\n} else if (assignHttpError) {\n  partial_failure = 'assign_failed_after_reset';\n} else if (assign.skipped_reason) {\n  partial_failure = 'assign_skipped_after_reset';\n} else if (!assign.assign_ok) {\n  partial_failure = assign.assign_partial_failure || 'assign_failed_after_reset';\n}\n\nconst ok =\n  atDeleteOk &&\n  atResetOk &&\n  pgReassignReady &&\n  assignTriggered &&\n  assign.assign_ok &&\n  !partial_failure;\n\nreturn [{\n  json: {\n    ok,\n    booking_code: validateDelete.booking_code || parsed.booking_code || '',\n    record_id: validateDelete.record_id || record_id,\n    pg_deleted_count: pgDeleted,\n    pg_reassign_ready: pgReassignReady,\n    airtable_delete_ok: atDeleteOk,\n    airtable_reset_ok: atResetOk,\n    assign_triggered: assignTriggered,\n    pg_inserted_count: assign.pg_inserted_count,\n    pg_skipped_count: assign.pg_skipped_count,\n    pg_conflict_count: assign.pg_conflict_count,\n    airtable_create_ok: assign.airtable_create_ok,\n    airtable_update_ok: assign.airtable_update_ok,\n    partial_failure,\n    idempotent: false,\n    errors,\n    payments_count: Number(validateDelete.payments_count ?? 0),\n    no_booking_beds_found_in_at: noBedsInAt,\n    at_delete_attempts: atDeleteAttempts,\n    skipped_reason: assign.skipped_reason,\n    message: ok\n      ? 'reassign_complete'\n      : partial_failure || 'reassign_incomplete'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          -96
        ],
        "id": "2027e6f2-52bf-4991-87ae-3a589465436b",
        "name": "Code - Build Reassign Response"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2580,
          -96
        ],
        "id": "bc2f8db5-b181-47dc-8504-bd85bf4783d5",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Reassign Booking Beds - Webhook": {
        "main": [
          [
            {
              "node": "Code - Parse Reassign Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Parse Reassign Webhook": {
        "main": [
          [
            {
              "node": "IF - Parse OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Parse OK": {
        "main": [
          [
            {
              "node": "Get Booking To Reassign",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Build Reassign Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Booking To Reassign": {
        "main": [
          [
            {
              "node": "Code - Normalize Reassignment Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Normalize Reassignment Booking": {
        "main": [
          [
            {
              "node": "IF - Can Reassign Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Can Reassign Booking": {
        "main": [
          [
            {
              "node": "Postgres - Delete All Booking Beds",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update record1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update record1": {
        "main": [
          [
            {
              "node": "Code - Build Reassign Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Delete All Booking Beds": {
        "main": [
          [
            {
              "node": "Code - Validate PG Reassign Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate PG Reassign Delete": {
        "main": [
          [
            {
              "node": "IF - PG Delete OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - PG Delete OK": {
        "main": [
          [
            {
              "node": "Code - Prepare Existing Booking Beds To Cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Build Reassign Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Prepare Existing Booking Beds To Cancel": {
        "main": [
          [
            {
              "node": "Cancel Old Booking Bed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Old Booking Bed": {
        "main": [
          [
            {
              "node": "Mark Booking Ready For Reassignment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Booking Ready For Reassignment": {
        "main": [
          [
            {
              "node": "Postgres - Mirror Reassign Ready Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Mirror Reassign Ready Status": {
        "main": [
          [
            {
              "node": "Code - Validate PG Reassign Mirror",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate PG Reassign Mirror": {
        "main": [
          [
            {
              "node": "HTTP Request - Trigger Local Assign",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Trigger Local Assign": {
        "main": [
          [
            {
              "node": "Code - Parse Assign HTTP Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Parse Assign HTTP Response": {
        "main": [
          [
            {
              "node": "Code - Build Reassign Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build Reassign Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "active": true,
    "id": "B3c3ReassignLocal01",
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "tags": [
      {
        "name": "phase3b"
      },
      {
        "name": "local-only"
      }
    ]
  }
]
