n8n/phase3b/Wolfhouse - Manual Entries Queue Processor (local PG).n8n-import.json
[
  {
    "name": "Wolfhouse - Manual Entries Queue Processor (local PG)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "wolfhouse-manual-entries-queue",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -16,
          -16
        ],
        "id": "29204d93-bdc9-4e8c-aec5-f0b3606b2168",
        "name": "Webhook - Manual Entries Queue",
        "webhookId": "b3c4c001-0004-4000-8000-000000000004"
      },
      {
        "parameters": {
          "url": "https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values/Manual%20Entries!A1:R1000",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          0
        ],
        "id": "9dab0ac8-59a9-4376-a210-4aa4fed27ac8",
        "name": "HTTP - Read Manual Entries",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const values = $json.values || [];\n\nif (!values.length) {\n  return [];\n}\n\nconst headers = values[0].map(header => String(header || '').trim());\nconst rows = values.slice(1);\n\nfunction get(row, headerName) {\n  const index = headers.indexOf(headerName);\n  if (index === -1) return '';\n  return row[index] || '';\n}\n\nfunction clean(value) {\n  return String(value || '').trim();\n}\n\nfunction normalizeStatus(value) {\n  return clean(value).toLowerCase();\n}\n\nfunction normalizePackage(value) {\n  const raw = clean(value);\n\n  if (!raw) {\n    return null;\n  }\n\n  const map = {\n    malibu: 'Malibu',\n    uluwatu: 'Uluwatu',\n    waimea: 'Waimea',\n    custom: 'Custom'\n  };\n\n  return map[raw.toLowerCase()] || raw;\n}\n\nfunction parseBeds(value) {\n  return String(value || '')\n    .split(',')\n    .map(part => part.trim().toUpperCase())\n    .filter(Boolean);\n}\n\nfunction escapeAirtableString(value) {\n  return String(value || '')\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"');\n}\n\nfunction buildBedFormula(bedIds) {\n  if (!bedIds.length) {\n    return '';\n  }\n\n  if (bedIds.length === 1) {\n    return `{Bed ID}=\"${escapeAirtableString(bedIds[0])}\"`;\n  }\n\n  return `OR(${bedIds.map(id => `{Bed ID}=\"${escapeAirtableString(id)}\"`).join(',')})`;\n}\n\nfunction actionFromSyncStatus(syncStatus) {\n  const normalized = normalizeStatus(syncStatus);\n\n  if (normalized === 'delete ready' || normalized === 'delete processing') {\n    return 'delete';\n  }\n\n  if (normalized === 'update ready' || normalized === 'update processing') {\n    return 'update';\n  }\n\n  if (normalized === 'ready' || normalized === 'processing') {\n    return 'create';\n  }\n\n  return '';\n}\n\nfunction buildItem(row, rowNumber, action) {\n  const bedIds = parseBeds(get(row, 'Room / Bed'));\n\n  return {\n    action,\n    manual_entry_id: clean(get(row, 'Manual Entry ID')),\n    row_number: rowNumber,\n    created_at: clean(get(row, 'Created At')),\n    created_by: clean(get(row, 'Created By')),\n    guest_name: clean(get(row, 'Guest Name')),\n    package: normalizePackage(get(row, 'Package')),\n    deposit_paid: clean(get(row, 'Deposit Paid')),\n    phone: clean(get(row, 'Phone')),\n    email: clean(get(row, 'Email')),\n    check_in: clean(get(row, 'Check In')).slice(0, 10),\n    check_out: clean(get(row, 'Check Out')).slice(0, 10),\n    guest_count: Number(get(row, 'Guest Count') || 1),\n    room_bed: clean(get(row, 'Room / Bed')),\n    bed_ids: bedIds,\n    bed_filter_formula: buildBedFormula(bedIds),\n    status: clean(get(row, 'Status')) || (action === 'delete' ? 'Cancelled' : 'Confirmed'),\n    payment_status: clean(get(row, 'Payment Status')) || 'waiting_payment',\n    notes: clean(get(row, 'Notes')),\n    sync_status: clean(get(row, 'Sync Status')),\n    airtable_booking_record_id: clean(get(row, 'Airtable Booking ID')),\n    error: clean(get(row, 'Error'))\n  };\n}\n\n// Priority order matters.\n// This also lets reruns resume stuck processing rows.\nconst priority = [\n  'delete processing',\n  'delete ready',\n  'update processing',\n  'update ready',\n  'processing',\n  'ready'\n];\n\nlet selected = null;\n\nfor (const wantedStatus of priority) {\n  for (let i = 0; i < rows.length; i++) {\n    const row = rows[i];\n    const syncStatus = normalizeStatus(get(row, 'Sync Status'));\n\n    if (syncStatus === wantedStatus) {\n      const action = actionFromSyncStatus(syncStatus);\n      selected = buildItem(row, i + 2, action);\n      break;\n    }\n  }\n\n  if (selected) {\n    break;\n  }\n}\n\nif (!selected) {\n  return [];\n}\n\nif (!selected.manual_entry_id) {\n  throw new Error(`Manual Entry ID missing on row ${selected.row_number}`);\n}\n\nif (!selected.guest_name && selected.action !== 'delete') {\n  throw new Error(`Guest Name missing on row ${selected.row_number}`);\n}\n\nif (!selected.check_in || !selected.check_out) {\n  throw new Error(`Check In / Check Out missing on row ${selected.row_number}`);\n}\n\nif (selected.action === 'create' && !selected.bed_ids.length) {\n  throw new Error(`Room / Bed missing on row ${selected.row_number}`);\n}\n\nif ((selected.action === 'update' || selected.action === 'delete') && !selected.airtable_booking_record_id) {\n  throw new Error(`Airtable Booking ID missing on row ${selected.row_number}`);\n}\n\nif (\n  (selected.action === 'update' || selected.action === 'delete') &&\n  !selected.airtable_booking_record_id.startsWith('rec')\n) {\n  throw new Error(\n    `Airtable Booking ID on row ${selected.row_number} does not look like an Airtable record ID: ${selected.airtable_booking_record_id}`\n  );\n}\n\nreturn [\n  {\n    json: selected\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          0
        ],
        "id": "e68408aa-be35-4363-826c-ce1cac921fe2",
        "name": "Code - Pick Next Manual Queue Item"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "create",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "73196665-32b0-4dad-8c38-d87a50e4391f"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "91ef089b-9835-413c-9d9d-6009979de514",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "update",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "cb83de92-b2be-47ca-9075-35490e284d8c",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "delete",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          624,
          0
        ],
        "id": "3bd078ec-6fa7-427e-8bb8-5ca8c22631a9",
        "name": "Switch - Queue Action"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values/Manual%20Entries!P{{$json.row_number}}:R{{$json.row_number}}?valueInputOption=USER_ENTERED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    values: [\n      [\n        'Processing',\n        $json.airtable_booking_record_id || '',\n        ''\n      ]\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          848,
          -160
        ],
        "id": "126c2dc6-73a0-46ec-9c02-9cb9aa43c1bf",
        "name": "HTTP - Mark Create Processing",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblEkF4SG4TLaNmW4",
            "mode": "list",
            "cachedResultName": "Beds",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblEkF4SG4TLaNmW4"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1056,
          -160
        ],
        "id": "9fa5374f-9b6d-4bdd-bc18-12e2d665ccfd",
        "name": "Search Beds - Create",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Pick Next Manual Queue Item').first().json;\nconst bedItems = $input.all();\n\nfunction getFields(item) {\n  return item.json.fields || item.json;\n}\n\nfunction getRecordId(item) {\n  return item.json.id || item.json.record_id || item.json.Record_ID || '';\n}\n\nconst foundBeds = bedItems.map(item => {\n  const fields = getFields(item);\n\n  return {\n    record_id: getRecordId(item),\n    bed_id: String(fields['Bed ID'] || '').trim().toUpperCase(),\n    room_id: Array.isArray(fields['Room ID']) ? fields['Room ID'][0] : fields['Room ID'],\n    fields\n  };\n}).filter(bed => bed.record_id && bed.bed_id);\n\nconst foundByBedId = {};\n\nfor (const bed of foundBeds) {\n  foundByBedId[bed.bed_id] = bed;\n}\n\nconst missing = manual.bed_ids.filter(bedId => !foundByBedId[bedId]);\n\nif (missing.length) {\n  throw new Error(`Missing Airtable bed record(s): ${missing.join(', ')}`);\n}\n\nconst orderedBeds = manual.bed_ids.map(bedId => foundByBedId[bedId]);\n\nreturn [\n  {\n    json: {\n      ...manual,\n      beds: orderedBeds,\n      bed_record_ids: orderedBeds.map(bed => bed.record_id)\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          -160
        ],
        "id": "b02fe813-f1e6-4cfe-aa3b-d9c60a47498c",
        "name": "Code - Validate Beds For Create"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblYWm3zKFafe4qu7",
            "mode": "list",
            "cachedResultName": "Bookings",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblYWm3zKFafe4qu7"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Guest Count": "={{ $json.guest_count }}",
              "Deposit Paid": "={{ Number($json.deposit_paid || 0) || null }}",
              "Guest Name": "={{ $json.guest_name }}",
              "Check In": "={{ $json.check_in ? $json.check_in + 'T00:00:00.000Z' : null }}",
              "Check Out": "={{ $json.check_out ? $json.check_out + 'T00:00:00.000Z' : null }}",
              "Status": "={{ $json.status || 'Confirmed' }}",
              "Payment Status": "={{ $json.payment_status || 'waiting_payment' }}",
              "Phone": "={{ $json.phone || '' }}",
              "Email": "={{ $json.email || '' }}",
              "Booking Source": "Manual Staff",
              "Staff Notes": "={{ 'Manual sheet booking. Manual Entry ID: ' + $json.manual_entry_id + ($json.notes ? '\\n\\n' + $json.notes : '') }}",
              "Package": "={{ $('Code - Pick Next Manual Queue Item').first().json.package || null }}",
              "Assignment Status": "Assigned"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Booking ID",
                "displayName": "Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Name",
                "displayName": "Guest Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmed",
                    "value": "Confirmed"
                  },
                  {
                    "name": "Cancelled",
                    "value": "Cancelled"
                  },
                  {
                    "name": "Payment_Pending",
                    "value": "Payment_Pending"
                  },
                  {
                    "name": "Checked_In",
                    "value": "Checked_In"
                  },
                  {
                    "name": "Checked_Out",
                    "value": "Checked_Out"
                  },
                  {
                    "name": "Expired",
                    "value": "Expired"
                  },
                  {
                    "name": "Needs_Review",
                    "value": "Needs_Review"
                  },
                  {
                    "name": "Hold",
                    "value": "Hold"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Status",
                "displayName": "Payment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "paid",
                    "value": "paid"
                  },
                  {
                    "name": "deposit_paid",
                    "value": "deposit_paid"
                  },
                  {
                    "name": "waiting_payment",
                    "value": "waiting_payment"
                  },
                  {
                    "name": "not_requested",
                    "value": "not_requested"
                  },
                  {
                    "name": "failed",
                    "value": "failed"
                  },
                  {
                    "name": "pay_on_arrival",
                    "value": "pay_on_arrival"
                  },
                  {
                    "name": "refunded",
                    "value": "refunded"
                  },
                  {
                    "name": "payment_pending",
                    "value": "payment_pending"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check In",
                "displayName": "Check In",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check Out",
                "displayName": "Check Out",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Count",
                "displayName": "Guest Count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds",
                "displayName": "Booking Beds",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Assignment Status",
                "displayName": "Assignment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Unassigned",
                    "value": "Unassigned"
                  },
                  {
                    "name": "Partially Assigned",
                    "value": "Partially Assigned"
                  },
                  {
                    "name": "Assigned",
                    "value": "Assigned"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  },
                  {
                    "name": "Assigning",
                    "value": "Assigning"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Package",
                "displayName": "Package",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Malibu",
                    "value": "Malibu"
                  },
                  {
                    "name": "Uluwatu",
                    "value": "Uluwatu"
                  },
                  {
                    "name": "Waimea",
                    "value": "Waimea"
                  },
                  {
                    "name": "Custom",
                    "value": "Custom"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hold Expires At",
                "displayName": "Hold Expires At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Created At",
                "displayName": "Created At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Expired",
                "displayName": "Expired",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Link",
                "displayName": "Payment Link",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Send Confirmation",
                "displayName": "Send Confirmation",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Guest Gender / Group Type",
                "displayName": "Guest Gender / Group Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "unknown",
                    "value": "unknown"
                  },
                  {
                    "name": "solo_female",
                    "value": "solo_female"
                  },
                  {
                    "name": "solo_male",
                    "value": "solo_male"
                  },
                  {
                    "name": "female_group",
                    "value": "female_group"
                  },
                  {
                    "name": "male_group",
                    "value": "male_group"
                  },
                  {
                    "name": "mixed_group",
                    "value": "mixed_group"
                  },
                  {
                    "name": "couple",
                    "value": "couple"
                  },
                  {
                    "name": "family",
                    "value": "family"
                  },
                  {
                    "name": "operator_group",
                    "value": "operator_group"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Google Calendar Event ID",
                "displayName": "Google Calendar Event ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Source",
                "displayName": "Booking Source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "AI WhatsApp",
                    "value": "AI WhatsApp"
                  },
                  {
                    "name": "Manual Staff",
                    "value": "Manual Staff"
                  },
                  {
                    "name": "Website",
                    "value": "Website"
                  },
                  {
                    "name": "Walk-in",
                    "value": "Walk-in"
                  },
                  {
                    "name": "Phone",
                    "value": "Phone"
                  },
                  {
                    "name": "Operator",
                    "value": "Operator"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Staff Notes",
                "displayName": "Staff Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Needs Calendar Sync",
                "displayName": "Needs Calendar Sync",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Calendar Title",
                "displayName": "Calendar Title",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Requested Room Type",
                "displayName": "Requested Room Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "either",
                    "value": "either"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Rooming Notes",
                "displayName": "Rooming Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Rooming Confidence",
                "displayName": "Rooming Confidence",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room ID",
                "displayName": "Room ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room Preference",
                "displayName": "Room Preference",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "female_only",
                    "value": "female_only"
                  },
                  {
                    "name": "male_only",
                    "value": "male_only"
                  },
                  {
                    "name": "double",
                    "value": "double"
                  },
                  {
                    "name": "family_room",
                    "value": "family_room"
                  },
                  {
                    "name": "mixed_ok",
                    "value": "mixed_ok"
                  },
                  {
                    "name": "any",
                    "value": "any"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Needs Rooming Review",
                "displayName": "Needs Rooming Review",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Option",
                "displayName": "Payment Option",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Deposit Required",
                "displayName": "Deposit Required",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Deposit Paid",
                "displayName": "Deposit Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Balance Due",
                "displayName": "Balance Due",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Balance Due on Arrival",
                "displayName": "Balance Due on Arrival",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Total Amount",
                "displayName": "Total Amount",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Amount Paid",
                "displayName": "Amount Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Notes",
                "displayName": "Payment Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Availability Check Status",
                "displayName": "Availability Check Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Conflict Notes",
                "displayName": "Conflict Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Name",
                "displayName": "Operator Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "SurfWeek",
                    "value": "SurfWeek"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Block Type",
                "displayName": "Block Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Whole Room",
                    "value": "Whole Room"
                  },
                  {
                    "name": "Partial Beds",
                    "value": "Partial Beds"
                  },
                  {
                    "name": "Whole House",
                    "value": "Whole House"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room to Block",
                "displayName": "Room to Block",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room Name",
                "displayName": "Room Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Capacity",
                "displayName": "Capacity",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Operator Room Release Request",
                "displayName": "Operator Room Release Request",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Room Release Request 2",
                "displayName": "Operator Room Release Request 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Room Release Request 3",
                "displayName": "Operator Room Release Request 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds 2",
                "displayName": "Booking Beds 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds 3",
                "displayName": "Booking Beds 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1456,
          -176
        ],
        "id": "8d22bb51-1b1e-4ba7-b6a2-f5676d182cd7",
        "name": "Create Airtable Booking - Queue",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Validate Beds For Create').first().json;\nconst createdBooking = $('Create Airtable Booking - Queue').first().json;\n\nconst bookingRecordId =\n  createdBooking.id ||\n  createdBooking.record_id ||\n  createdBooking['Record ID'] ||\n  '';\n\nif (!bookingRecordId) {\n  throw new Error('Could not find created Airtable Booking record ID.');\n}\n\nconst bookingDisplayId =\n  createdBooking.fields?.['Booking ID'] ||\n  createdBooking['Booking ID'] ||\n  bookingRecordId;\n\nconst output = [];\n\nfor (const bed of manual.beds) {\n  output.push({\n    json: {\n      manual_entry_id: manual.manual_entry_id,\n      row_number: manual.row_number,\n      booking_record_id: bookingRecordId,\n      booking_id: bookingDisplayId,\n      bed_record_id: bed.record_id,\n      bed_id: bed.bed_id,\n      check_in: manual.check_in,\n      check_out: manual.check_out,\n      guest_name: manual.guest_name,\n      guest_count: manual.guest_count,\n      package: manual.package,\n      deposit_paid: manual.deposit_paid,\n      status: manual.status,\n      payment_status: manual.payment_status,\n      notes: manual.notes\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1664,
          -160
        ],
        "id": "945bb769-bc5f-44b0-acf0-5df7cd89413c",
        "name": "Code - Build Booking Beds For Create"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblO1ByvTMXS4SalB",
            "mode": "list",
            "cachedResultName": "Booking Beds",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblO1ByvTMXS4SalB"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Booking": "={{ [$json.booking_record_id] }}",
              "Bed": "={{ [$json.bed_record_id] }}",
              "Assignment Start Date": "={{ $json.check_in ? $json.check_in + 'T00:00:00.000Z' : null }}",
              "Assignment End Date": "={{ $json.check_out ? $json.check_out + 'T00:00:00.000Z' : null }}",
              "Assignment Notes": "={{ 'Manual sheet booking. Manual Entry ID: ' + $json.manual_entry_id + '. Bed: ' + $json.bed_id + '. Guest count: ' + $json.guest_count + ($json.notes ? '\\n\\n' + $json.notes : '') }}",
              "Assignment Type": "Manual Staff"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Assignment ID",
                "displayName": "Assignment ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Booking ID",
                "displayName": "Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Guest Name",
                "displayName": "Guest Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Room",
                "displayName": "Room",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Bed",
                "displayName": "Bed",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Bed Label",
                "displayName": "Bed Label",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Check In",
                "displayName": "Check In",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Check Out",
                "displayName": "Check Out",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Held",
                    "value": "Held"
                  },
                  {
                    "name": "Confirmed",
                    "value": "Confirmed"
                  },
                  {
                    "name": "Cancelled",
                    "value": "Cancelled"
                  },
                  {
                    "name": "Expired",
                    "value": "Expired"
                  },
                  {
                    "name": "Checked_In",
                    "value": "Checked_In"
                  },
                  {
                    "name": "Checked_Out",
                    "value": "Checked_Out"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Assignment Type",
                "displayName": "Assignment Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Auto Assigned",
                    "value": "Auto Assigned"
                  },
                  {
                    "name": "Manual Staff",
                    "value": "Manual Staff"
                  },
                  {
                    "name": "Private Room Assignment",
                    "value": "Private Room Assignment"
                  },
                  {
                    "name": "Manual Staff Assignment",
                    "value": "Manual Staff Assignment"
                  },
                  {
                    "name": "Auto Assigned - Multi Room",
                    "value": "Auto Assigned - Multi Room"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking",
                "displayName": "Booking",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room ID",
                "displayName": "Room ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Assignment Start Date",
                "displayName": "Assignment Start Date",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Assignment End Date",
                "displayName": "Assignment End Date",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Planning Row Label",
                "displayName": "Planning Row Label",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Assignment Notes",
                "displayName": "Assignment Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Gender / Group Type",
                "displayName": "Guest Gender / Group Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "unknown",
                    "value": "unknown"
                  },
                  {
                    "name": "solo_female",
                    "value": "solo_female"
                  },
                  {
                    "name": "solo_male",
                    "value": "solo_male"
                  },
                  {
                    "name": "female_group",
                    "value": "female_group"
                  },
                  {
                    "name": "male_group",
                    "value": "male_group"
                  },
                  {
                    "name": "mixed_group",
                    "value": "mixed_group"
                  },
                  {
                    "name": "couple",
                    "value": "couple"
                  },
                  {
                    "name": "family",
                    "value": "family"
                  },
                  {
                    "name": "operator_group",
                    "value": "operator_group"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Rooming Notes",
                "displayName": "Rooming Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room Preference",
                "displayName": "Room Preference",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "female_only",
                    "value": "female_only"
                  },
                  {
                    "name": "male_only",
                    "value": "male_only"
                  },
                  {
                    "name": "double",
                    "value": "double"
                  },
                  {
                    "name": "family_room",
                    "value": "family_room"
                  },
                  {
                    "name": "mixed_ok",
                    "value": "mixed_ok"
                  },
                  {
                    "name": "any",
                    "value": "any"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Bookings",
                "displayName": "Bookings",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Package (from Bookings)",
                "displayName": "Package (from Bookings)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Payment Status (from Bookings)",
                "displayName": "Payment Status (from Bookings)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Deposit Paid (from Bookings 3)",
                "displayName": "Deposit Paid (from Bookings 3)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1856,
          -160
        ],
        "id": "461adab6-dcf5-4fce-a560-efa9c70f9770",
        "name": "Create Airtable Booking Bed - Queue",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Validate Beds For Create').first().json;\nconst createdBooking = $('Create Airtable Booking - Queue').first().json;\n\nconst bookingRecordId =\n  createdBooking.id ||\n  createdBooking.record_id ||\n  createdBooking['Record ID'] ||\n  '';\n\nif (!bookingRecordId) {\n  throw new Error('Could not find created Airtable Booking record ID.');\n}\n\nreturn [\n  {\n    json: {\n      manual_entry_id: manual.manual_entry_id,\n      row_number: manual.row_number,\n      airtable_booking_record_id: bookingRecordId,\n      synced_at: new Date().toISOString()\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2064,
          -160
        ],
        "id": "7daa8737-82a4-4700-b2dd-791e4ebb687a",
        "name": "Code - One Item After Create"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Synced',\n            $json.airtable_booking_record_id,\n            ''\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2272,
          -160
        ],
        "id": "6fdc1f03-e2b5-4dfb-9982-081f09916c4c",
        "name": "HTTP - Mark Queue Item Synced",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values/Manual%20Entries!P{{$json.row_number}}:R{{$json.row_number}}?valueInputOption=USER_ENTERED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    values: [\n      [\n        'Update Processing',\n        $json.airtable_booking_record_id,\n        ''\n      ]\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          848,
          32
        ],
        "id": "a44376e2-999f-4363-bae4-117965cceb2e",
        "name": "HTTP - Mark Update Processing",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblYWm3zKFafe4qu7",
            "mode": "list",
            "cachedResultName": "Bookings",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblYWm3zKFafe4qu7"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id }}",
              "Guest Name": "={{ $('Code - Pick Next Manual Queue Item').first().json.guest_name }}",
              "Status": "={{ $('Code - Pick Next Manual Queue Item').first().json.status }}",
              "Payment Status": "={{ $('Code - Pick Next Manual Queue Item').first().json.payment_status }}",
              "Check In": "={{ $('Code - Pick Next Manual Queue Item').first().json.check_in ? $('Code - Pick Next Manual Queue Item').first().json.check_in + 'T00:00:00.000Z' : null }}",
              "Check Out": "={{ $('Code - Pick Next Manual Queue Item').first().json.check_out ? $('Code - Pick Next Manual Queue Item').first().json.check_out + 'T00:00:00.000Z' : null }}",
              "Guest Count": "={{ $('Code - Pick Next Manual Queue Item').first().json.guest_count }}",
              "Phone": "={{ $('Code - Pick Next Manual Queue Item').first().json.phone || '' }}",
              "Email": "={{ $('Code - Pick Next Manual Queue Item').first().json.email || '' }}",
              "Package": "={{ $('Code - Pick Next Manual Queue Item').first().json.package || null }}",
              "Staff Notes": "={{ 'Updated from Planning manual entry. Manual Entry ID: ' + $('Code - Pick Next Manual Queue Item').first().json.manual_entry_id + ($('Code - Pick Next Manual Queue Item').first().json.notes ? '\\n\\n' + $('Code - Pick Next Manual Queue Item').first().json.notes : '') }}",
              "Deposit Paid": "={{ Number($('Code - Pick Next Manual Queue Item').first().json.deposit_paid || 0) || null }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Booking ID",
                "displayName": "Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Guest Name",
                "displayName": "Guest Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmed",
                    "value": "Confirmed"
                  },
                  {
                    "name": "Cancelled",
                    "value": "Cancelled"
                  },
                  {
                    "name": "Payment_Pending",
                    "value": "Payment_Pending"
                  },
                  {
                    "name": "Checked_In",
                    "value": "Checked_In"
                  },
                  {
                    "name": "Checked_Out",
                    "value": "Checked_Out"
                  },
                  {
                    "name": "Expired",
                    "value": "Expired"
                  },
                  {
                    "name": "Needs_Review",
                    "value": "Needs_Review"
                  },
                  {
                    "name": "Hold",
                    "value": "Hold"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Status",
                "displayName": "Payment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "paid",
                    "value": "paid"
                  },
                  {
                    "name": "deposit_paid",
                    "value": "deposit_paid"
                  },
                  {
                    "name": "waiting_payment",
                    "value": "waiting_payment"
                  },
                  {
                    "name": "not_requested",
                    "value": "not_requested"
                  },
                  {
                    "name": "failed",
                    "value": "failed"
                  },
                  {
                    "name": "pay_on_arrival",
                    "value": "pay_on_arrival"
                  },
                  {
                    "name": "refunded",
                    "value": "refunded"
                  },
                  {
                    "name": "payment_pending",
                    "value": "payment_pending"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check In",
                "displayName": "Check In",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check Out",
                "displayName": "Check Out",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Count",
                "displayName": "Guest Count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds",
                "displayName": "Booking Beds",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Assignment Status",
                "displayName": "Assignment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Unassigned",
                    "value": "Unassigned"
                  },
                  {
                    "name": "Partially Assigned",
                    "value": "Partially Assigned"
                  },
                  {
                    "name": "Assigned",
                    "value": "Assigned"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  },
                  {
                    "name": "Assigning",
                    "value": "Assigning"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Package",
                "displayName": "Package",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Malibu",
                    "value": "Malibu"
                  },
                  {
                    "name": "Uluwatu",
                    "value": "Uluwatu"
                  },
                  {
                    "name": "Waimea",
                    "value": "Waimea"
                  },
                  {
                    "name": "Custom",
                    "value": "Custom"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hold Expires At",
                "displayName": "Hold Expires At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Created At",
                "displayName": "Created At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Expired",
                "displayName": "Expired",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Link",
                "displayName": "Payment Link",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Send Confirmation",
                "displayName": "Send Confirmation",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Guest Gender / Group Type",
                "displayName": "Guest Gender / Group Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "unknown",
                    "value": "unknown"
                  },
                  {
                    "name": "solo_female",
                    "value": "solo_female"
                  },
                  {
                    "name": "solo_male",
                    "value": "solo_male"
                  },
                  {
                    "name": "female_group",
                    "value": "female_group"
                  },
                  {
                    "name": "male_group",
                    "value": "male_group"
                  },
                  {
                    "name": "mixed_group",
                    "value": "mixed_group"
                  },
                  {
                    "name": "couple",
                    "value": "couple"
                  },
                  {
                    "name": "family",
                    "value": "family"
                  },
                  {
                    "name": "operator_group",
                    "value": "operator_group"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Google Calendar Event ID",
                "displayName": "Google Calendar Event ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Source",
                "displayName": "Booking Source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "AI WhatsApp",
                    "value": "AI WhatsApp"
                  },
                  {
                    "name": "Manual Staff",
                    "value": "Manual Staff"
                  },
                  {
                    "name": "Website",
                    "value": "Website"
                  },
                  {
                    "name": "Walk-in",
                    "value": "Walk-in"
                  },
                  {
                    "name": "Phone",
                    "value": "Phone"
                  },
                  {
                    "name": "Operator",
                    "value": "Operator"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Staff Notes",
                "displayName": "Staff Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Needs Calendar Sync",
                "displayName": "Needs Calendar Sync",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Calendar Title",
                "displayName": "Calendar Title",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Requested Room Type",
                "displayName": "Requested Room Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "either",
                    "value": "either"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Rooming Notes",
                "displayName": "Rooming Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Rooming Confidence",
                "displayName": "Rooming Confidence",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room ID",
                "displayName": "Room ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room Preference",
                "displayName": "Room Preference",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "female_only",
                    "value": "female_only"
                  },
                  {
                    "name": "male_only",
                    "value": "male_only"
                  },
                  {
                    "name": "double",
                    "value": "double"
                  },
                  {
                    "name": "family_room",
                    "value": "family_room"
                  },
                  {
                    "name": "mixed_ok",
                    "value": "mixed_ok"
                  },
                  {
                    "name": "any",
                    "value": "any"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Needs Rooming Review",
                "displayName": "Needs Rooming Review",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Option",
                "displayName": "Payment Option",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Deposit Required",
                "displayName": "Deposit Required",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Deposit Paid",
                "displayName": "Deposit Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Balance Due",
                "displayName": "Balance Due",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Balance Due on Arrival",
                "displayName": "Balance Due on Arrival",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Total Amount",
                "displayName": "Total Amount",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Amount Paid",
                "displayName": "Amount Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Payment Notes",
                "displayName": "Payment Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Availability Check Status",
                "displayName": "Availability Check Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Conflict Notes",
                "displayName": "Conflict Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Name",
                "displayName": "Operator Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "SurfWeek",
                    "value": "SurfWeek"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Block Type",
                "displayName": "Block Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Whole Room",
                    "value": "Whole Room"
                  },
                  {
                    "name": "Partial Beds",
                    "value": "Partial Beds"
                  },
                  {
                    "name": "Whole House",
                    "value": "Whole House"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room to Block",
                "displayName": "Room to Block",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Room Name",
                "displayName": "Room Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Capacity",
                "displayName": "Capacity",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Operator Room Release Request",
                "displayName": "Operator Room Release Request",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Room Release Request 2",
                "displayName": "Operator Room Release Request 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Operator Room Release Request 3",
                "displayName": "Operator Room Release Request 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds 2",
                "displayName": "Booking Beds 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Booking Beds 3",
                "displayName": "Booking Beds 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1040,
          32
        ],
        "id": "6397cb14-05c5-4d2e-b6c1-ba493ea36f61",
        "name": "Update Airtable Booking - Queue",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Synced',\n            $json.airtable_booking_record_id,\n            ''\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1456,
          48
        ],
        "id": "95a8fad9-e782-4322-a2f9-d48a5d08378b",
        "name": "HTTP - Mark Queue Item Synced After Update",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Pick Next Manual Queue Item').first().json;\nconst updatedBooking = $('Update Airtable Booking - Queue').first().json;\n\nconst bookingRecordId =\n  updatedBooking.id ||\n  updatedBooking.record_id ||\n  updatedBooking['Record ID'] ||\n  manual.airtable_booking_record_id ||\n  '';\n\nif (!bookingRecordId) {\n  throw new Error('Could not find updated Airtable Booking record ID.');\n}\n\nreturn [\n  {\n    json: {\n      manual_entry_id: manual.manual_entry_id,\n      row_number: manual.row_number,\n      airtable_booking_record_id: bookingRecordId,\n      updated_at: new Date().toISOString()\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          48
        ],
        "id": "590f9354-4c99-400f-b765-feabc1c17718",
        "name": "Code - One Item After Update"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Delete Processing',\n            $json.airtable_booking_record_id,\n            ''\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          848,
          224
        ],
        "id": "a9218edc-2307-41d1-954b-650b6d30e5a5",
        "name": "HTTP - Mark Delete Processing",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblO1ByvTMXS4SalB",
            "mode": "list",
            "cachedResultName": "Booking Beds",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblO1ByvTMXS4SalB"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1056,
          224
        ],
        "id": "486f7164-8aff-4c8d-8a55-df96c04b7efe",
        "name": "Search Booking Beds For Delete",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Pick Next Manual Queue Item').first().json;\nconst bookingBedItems = $input.all();\n\nfunction getRecordId(item) {\n  return item.json.id || item.json.record_id || item.json.Record_ID || '';\n}\n\nfunction getFields(item) {\n  return item.json.fields || item.json;\n}\n\nfunction linkedIds(value) {\n  if (!value) return [];\n\n  if (Array.isArray(value)) {\n    return value.map(v => String(v || '').trim()).filter(Boolean);\n  }\n\n  return [String(value || '').trim()].filter(Boolean);\n}\n\nconst targetBookingRecordId = manual.airtable_booking_record_id;\nconst matches = [];\n\nfor (const item of bookingBedItems) {\n  const fields = getFields(item);\n  const recordId = getRecordId(item);\n\n  const linkedBookingIds = [\n    ...linkedIds(fields['Booking']),\n    ...linkedIds(fields['Bookings'])\n  ];\n\n  if (recordId && linkedBookingIds.includes(targetBookingRecordId)) {\n    matches.push({\n      json: {\n        manual_entry_id: manual.manual_entry_id,\n        row_number: manual.row_number,\n        airtable_booking_record_id: targetBookingRecordId,\n        booking_bed_record_id: recordId,\n        guest_name: manual.guest_name,\n        check_in: manual.check_in,\n        check_out: manual.check_out,\n        no_booking_beds_found: false\n      }\n    });\n  }\n}\n\nif (!matches.length) {\n  return [\n    {\n      json: {\n        manual_entry_id: manual.manual_entry_id,\n        row_number: manual.row_number,\n        airtable_booking_record_id: targetBookingRecordId,\n        booking_bed_record_id: '',\n        guest_name: manual.guest_name,\n        check_in: manual.check_in,\n        check_out: manual.check_out,\n        no_booking_beds_found: true,\n        message: 'No Booking Beds found for this booking. Will still mark Booking as Cancelled.'\n      }\n    }\n  ];\n}\n\nreturn matches;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          224
        ],
        "id": "984f815e-ff2e-4a7b-92e3-23c4e453b19e",
        "name": "Code - Filter Booking Beds For Delete"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e63cbcee-1088-40b1-9b00-c90a858a7860",
                "leftValue": "={{ $json.no_booking_beds_found }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1472,
          240
        ],
        "id": "4e0bcf20-c38a-49b8-9b93-666614780ce1",
        "name": "IF - Has Booking Beds To Delete"
      },
      {
        "parameters": {
          "operation": "deleteRecord",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblO1ByvTMXS4SalB",
            "mode": "list",
            "cachedResultName": "Booking Beds",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblO1ByvTMXS4SalB"
          },
          "id": "={{ $json.booking_bed_record_id }}"
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1712,
          160
        ],
        "id": "40a57286-1008-4788-88e9-cfe0ea4b6650",
        "name": "Delete Airtable Booking Beds - Queue",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Pick Next Manual Queue Item').first().json;\n\nreturn [\n  {\n    json: {\n      manual_entry_id: manual.manual_entry_id,\n      row_number: manual.row_number,\n      airtable_booking_record_id: manual.airtable_booking_record_id,\n      guest_name: manual.guest_name,\n      cancelled_at: new Date().toISOString()\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1968,
          304
        ],
        "id": "2c734887-82f9-4fd6-97b6-9c6ccf200e7b",
        "name": "Code - One Item After Delete"
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appiyO4FmkKsyHZdK",
            "mode": "list",
            "cachedResultName": "Wolfhouse",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK"
          },
          "table": {
            "__rl": true,
            "value": "tblYWm3zKFafe4qu7",
            "mode": "list",
            "cachedResultName": "Bookings",
            "cachedResultUrl": "https://airtable.com/appiyO4FmkKsyHZdK/tblYWm3zKFafe4qu7"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Expired": false,
              "Send Confirmation": false,
              "Needs Calendar Sync": false,
              "Needs Rooming Review": false,
              "Balance Due on Arrival": false,
              "Status": "Cancelled",
              "id": "={{ $json.airtable_booking_record_id }}",
              "Staff Notes": "={{ 'Cancelled from Planning manual delete. Manual Entry ID: ' + $json.manual_entry_id + '. Cancelled at: ' + $json.cancelled_at }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Booking ID",
                "displayName": "Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Name",
                "displayName": "Guest Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmed",
                    "value": "Confirmed"
                  },
                  {
                    "name": "Cancelled",
                    "value": "Cancelled"
                  },
                  {
                    "name": "Payment_Pending",
                    "value": "Payment_Pending"
                  },
                  {
                    "name": "Checked_In",
                    "value": "Checked_In"
                  },
                  {
                    "name": "Checked_Out",
                    "value": "Checked_Out"
                  },
                  {
                    "name": "Expired",
                    "value": "Expired"
                  },
                  {
                    "name": "Needs_Review",
                    "value": "Needs_Review"
                  },
                  {
                    "name": "Hold",
                    "value": "Hold"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Status",
                "displayName": "Payment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "paid",
                    "value": "paid"
                  },
                  {
                    "name": "deposit_paid",
                    "value": "deposit_paid"
                  },
                  {
                    "name": "waiting_payment",
                    "value": "waiting_payment"
                  },
                  {
                    "name": "not_requested",
                    "value": "not_requested"
                  },
                  {
                    "name": "failed",
                    "value": "failed"
                  },
                  {
                    "name": "pay_on_arrival",
                    "value": "pay_on_arrival"
                  },
                  {
                    "name": "refunded",
                    "value": "refunded"
                  },
                  {
                    "name": "payment_pending",
                    "value": "payment_pending"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check In",
                "displayName": "Check In",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Check Out",
                "displayName": "Check Out",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Count",
                "displayName": "Guest Count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds",
                "displayName": "Booking Beds",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Assignment Status",
                "displayName": "Assignment Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Unassigned",
                    "value": "Unassigned"
                  },
                  {
                    "name": "Partially Assigned",
                    "value": "Partially Assigned"
                  },
                  {
                    "name": "Assigned",
                    "value": "Assigned"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  },
                  {
                    "name": "Assigning",
                    "value": "Assigning"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Package",
                "displayName": "Package",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Malibu",
                    "value": "Malibu"
                  },
                  {
                    "name": "Uluwatu",
                    "value": "Uluwatu"
                  },
                  {
                    "name": "Waimea",
                    "value": "Waimea"
                  },
                  {
                    "name": "Custom",
                    "value": "Custom"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hold Expires At",
                "displayName": "Hold Expires At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Created At",
                "displayName": "Created At",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Expired",
                "displayName": "Expired",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Link",
                "displayName": "Payment Link",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Send Confirmation",
                "displayName": "Send Confirmation",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Guest Gender / Group Type",
                "displayName": "Guest Gender / Group Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "unknown",
                    "value": "unknown"
                  },
                  {
                    "name": "solo_female",
                    "value": "solo_female"
                  },
                  {
                    "name": "solo_male",
                    "value": "solo_male"
                  },
                  {
                    "name": "female_group",
                    "value": "female_group"
                  },
                  {
                    "name": "male_group",
                    "value": "male_group"
                  },
                  {
                    "name": "mixed_group",
                    "value": "mixed_group"
                  },
                  {
                    "name": "couple",
                    "value": "couple"
                  },
                  {
                    "name": "family",
                    "value": "family"
                  },
                  {
                    "name": "operator_group",
                    "value": "operator_group"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Google Calendar Event ID",
                "displayName": "Google Calendar Event ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Source",
                "displayName": "Booking Source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "AI WhatsApp",
                    "value": "AI WhatsApp"
                  },
                  {
                    "name": "Manual Staff",
                    "value": "Manual Staff"
                  },
                  {
                    "name": "Website",
                    "value": "Website"
                  },
                  {
                    "name": "Walk-in",
                    "value": "Walk-in"
                  },
                  {
                    "name": "Phone",
                    "value": "Phone"
                  },
                  {
                    "name": "Operator",
                    "value": "Operator"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Staff Notes",
                "displayName": "Staff Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Needs Calendar Sync",
                "displayName": "Needs Calendar Sync",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Calendar Title",
                "displayName": "Calendar Title",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Requested Room Type",
                "displayName": "Requested Room Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "either",
                    "value": "either"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Rooming Notes",
                "displayName": "Rooming Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Rooming Confidence",
                "displayName": "Rooming Confidence",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room ID",
                "displayName": "Room ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room Preference",
                "displayName": "Room Preference",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "shared",
                    "value": "shared"
                  },
                  {
                    "name": "private",
                    "value": "private"
                  },
                  {
                    "name": "female_only",
                    "value": "female_only"
                  },
                  {
                    "name": "male_only",
                    "value": "male_only"
                  },
                  {
                    "name": "double",
                    "value": "double"
                  },
                  {
                    "name": "family_room",
                    "value": "family_room"
                  },
                  {
                    "name": "mixed_ok",
                    "value": "mixed_ok"
                  },
                  {
                    "name": "any",
                    "value": "any"
                  },
                  {
                    "name": "unknown",
                    "value": "unknown"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Needs Rooming Review",
                "displayName": "Needs Rooming Review",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Option",
                "displayName": "Payment Option",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Deposit Required",
                "displayName": "Deposit Required",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Deposit Paid",
                "displayName": "Deposit Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Balance Due",
                "displayName": "Balance Due",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Balance Due on Arrival",
                "displayName": "Balance Due on Arrival",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Total Amount",
                "displayName": "Total Amount",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Amount Paid",
                "displayName": "Amount Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Payment Notes",
                "displayName": "Payment Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Availability Check Status",
                "displayName": "Availability Check Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Not Checked",
                    "value": "Not Checked"
                  },
                  {
                    "name": "Available",
                    "value": "Available"
                  },
                  {
                    "name": "Conflict",
                    "value": "Conflict"
                  },
                  {
                    "name": "Needs Review",
                    "value": "Needs Review"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Conflict Notes",
                "displayName": "Conflict Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Operator Name",
                "displayName": "Operator Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "SurfWeek",
                    "value": "SurfWeek"
                  },
                  {
                    "name": "Other",
                    "value": "Other"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Block Type",
                "displayName": "Block Type",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Whole Room",
                    "value": "Whole Room"
                  },
                  {
                    "name": "Partial Beds",
                    "value": "Partial Beds"
                  },
                  {
                    "name": "Whole House",
                    "value": "Whole House"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room to Block",
                "displayName": "Room to Block",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Room Name",
                "displayName": "Room Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Capacity",
                "displayName": "Capacity",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Operator Room Release Request",
                "displayName": "Operator Room Release Request",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Operator Room Release Request 2",
                "displayName": "Operator Room Release Request 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Operator Room Release Request 3",
                "displayName": "Operator Room Release Request 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds 2",
                "displayName": "Booking Beds 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Booking Beds 3",
                "displayName": "Booking Beds 3",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          2176,
          304
        ],
        "id": "81240931-aca9-445b-b0a5-50ab7267dc72",
        "name": "Update Airtable Booking - Cancelled Queue",
        "credentials": {
          "airtableTokenApi": {
            "id": "zJm2dgCKoyhF83m5",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const manual = $('Code - Pick Next Manual Queue Item').first().json;\n\nreturn [\n  {\n    json: {\n      manual_entry_id: manual.manual_entry_id,\n      row_number: manual.row_number,\n      airtable_booking_record_id: manual.airtable_booking_record_id,\n      deleted_at: new Date().toISOString()\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2384,
          304
        ],
        "id": "5a961046-caab-4ebd-9d0b-f83eedd51d3b",
        "name": "Code - One Item After Cancel Booking"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Deleted',\n            $json.airtable_booking_record_id,\n            ''\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2592,
          304
        ],
        "id": "d0d554d7-1df9-4544-a53c-7e31f5410d9e",
        "name": "HTTP - Mark Queue Item Deleted",
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS airtable_record_id,\n    NULLIF(trim($2), '__NULL__') AS booking_code,\n    NULLIF(trim($3), '__NULL__') AS manual_entry_id\n),\nresolved AS (\n  SELECT\n    b.id,\n    b.booking_code,\n    b.status::text AS status,\n    b.payment_status::text AS payment_status,\n    c.id AS client_id\n  FROM bookings b\n  INNER JOIN clients c ON c.id = b.client_id\n  CROSS JOIN params p\n  WHERE c.slug = 'wolfhouse-somo'\n    AND (\n      (p.airtable_record_id IS NOT NULL AND b.airtable_record_id = p.airtable_record_id)\n      OR (p.booking_code IS NOT NULL AND b.booking_code = p.booking_code)\n      OR (p.manual_entry_id IS NOT NULL AND b.metadata->>'manual_entry_id' = p.manual_entry_id)\n    )\n  LIMIT 2\n),\nresolved_count AS (\n  SELECT COUNT(*)::int AS c FROM resolved\n),\nguard AS (\n  SELECT r.*\n  FROM resolved r\n  WHERE (SELECT c FROM resolved_count) = 1\n),\npayments_before AS (\n  SELECT COUNT(*)::int AS c\n  FROM payments p\n  INNER JOIN guard g ON p.booking_id = g.id AND p.client_id = g.client_id\n),\nbeds_before AS (\n  SELECT COUNT(*)::int AS c\n  FROM booking_beds bb\n  INNER JOIN guard g ON bb.booking_id = g.id AND bb.client_id = g.client_id\n),\ndeleted AS (\n  DELETE FROM booking_beds bb\n  USING guard g\n  WHERE bb.booking_id = g.id AND bb.client_id = g.client_id\n  RETURNING bb.id\n),\nupdated AS (\n  UPDATE bookings b\n  SET\n    status = 'cancelled'::booking_status,\n    assignment_status = 'needs_review'::assignment_status,\n    availability_check_status = 'needs_review'::availability_check_status\n  FROM guard g\n  WHERE b.id = g.id AND b.client_id = g.client_id\n  RETURNING b.id, b.status::text AS status_after\n)\nSELECT\n  rc.c AS booking_rows_resolved,\n  g.booking_code,\n  g.id::text AS booking_id,\n  g.status AS status_before,\n  COALESCE((SELECT status_after FROM updated LIMIT 1), g.status) AS status_after,\n  g.payment_status AS payment_status_before,\n  (SELECT payment_status::text FROM bookings WHERE id = g.id) AS payment_status_after,\n  (SELECT c FROM beds_before) AS beds_before_count,\n  (SELECT COUNT(*)::int FROM deleted) AS pg_deleted_count,\n  (SELECT COUNT(*)::int FROM updated) AS pg_booking_updated_count,\n  (SELECT c FROM payments_before) AS payments_count\nFROM resolved_count rc\nLEFT JOIN guard g ON true",
          "options": {
            "queryReplacement": "={{ (($('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id) != null && String($('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id).trim() : '__NULL__' }},={{ '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id) != null && String($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id).trim() : '__NULL__' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          920,
          224
        ],
        "id": "55d2091b-7e3e-4893-8732-13ddc3ebd4d4",
        "name": "Postgres - Manual Entry Delete",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\nconst pgItems = $('Postgres - Manual Entry Delete').all();\nconst pgItem = pgItems[0];\nconst pgErr = pgItem?.error;\nconst pg = pgItem?.json || {};\n\nif (pgErr) {\n  const msg = String(pgErr.message || pgErr);\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [msg.includes('no parameter') ? 'postgres_query_param_missing' : 'postgres_manual_entry_delete_failed'],\n      manual_entry_id: pick.manual_entry_id,\n      airtable_booking_record_id: pick.airtable_booking_record_id,\n      pg_deleted_count: 0,\n      partial_failure: 'pg_query_failed',\n      message: msg\n    }\n  }];\n}\n\nconst resolved = Number(pg.booking_rows_resolved ?? 0);\n\nif (resolved !== 1) {\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [resolved === 0 ? 'booking_not_found_in_postgres' : 'booking_ambiguous_in_postgres'],\n      manual_entry_id: pick.manual_entry_id,\n      airtable_booking_record_id: pick.airtable_booking_record_id,\n      pg_deleted_count: 0,\n      partial_failure: 'pg_resolve_failed',\n      message: 'Postgres could not resolve exactly one booking — Airtable delete steps skipped'\n    }\n  }];\n}\n\nconst errors = [];\nconst payBefore = String(pg.payment_status_before || '');\nconst payAfter = String(pg.payment_status_after || '');\nif (payBefore && payAfter && payBefore !== payAfter) {\n  errors.push('payment_status_changed_during_pg_delete');\n}\n\nreturn [{\n  json: {\n    pg_ok: true,\n    errors,\n    ...pg,\n    manual_entry_id: pick.manual_entry_id,\n    airtable_booking_record_id: pick.airtable_booking_record_id,\n    booking_code: pg.booking_code || pick.booking_code || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          224
        ],
        "id": "40d47bde-4f6b-4654-8e13-3fbae4089d2c",
        "name": "Code - Validate PG Delete"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "pg-delete-ok",
                "leftValue": "={{ $json.pg_ok }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1064,
          224
        ],
        "id": "b8cf14f2-698d-461c-82a4-37a27c942283",
        "name": "IF - PG Delete OK"
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\nconst v = $('Code - Validate PG Delete').first().json;\nconst errParts = Array.isArray(v.errors) ? v.errors.filter(Boolean) : [];\nconst errMsg = errParts.length\n  ? errParts.join('; ')\n  : String(v.message || v.partial_failure || 'pg_delete_failed');\nreturn [{\n  json: {\n    manual_entry_id: pick.manual_entry_id,\n    row_number: pick.row_number,\n    airtable_booking_record_id:\n      pick.airtable_booking_record_id || v.airtable_booking_record_id || '',\n    sheet_error: String(errMsg).slice(0, 500)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          360
        ],
        "id": "73b6c16a-7c32-426c-80a7-0ac59fa82f53",
        "name": "Code - Build PG Delete Sheet Error"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Error',\n            $json.airtable_booking_record_id,\n            $json.sheet_error\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1280,
          360
        ],
        "id": "a1c53b76-d809-4bfa-85ad-ee1903b0ccdd",
        "name": "HTTP - Mark Queue Item PG Delete Error",
        "continueOnFail": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS airtable_record_id,\n    NULLIF(trim($2), '__NULL__') AS booking_code,\n    NULLIF(trim($3), '__NULL__') AS manual_entry_id,\n    NULLIF(trim($4), '__NULL__') AS guest_name,\n    NULLIF(trim($5), '__NULL__')::date AS check_in,\n    NULLIF(trim($6), '__NULL__')::date AS check_out,\n    NULLIF(NULLIF(trim($7), '__NULL__'), '')::int AS guest_count,\n    NULLIF(trim($8), '__NULL__') AS status,\n    NULLIF(trim($9), '__NULL__') AS payment_status,\n    NULLIF(trim($10), '__NULL__') AS package_code,\n    NULLIF(trim($11), '__NULL__') AS phone,\n    NULLIF(trim($12), '__NULL__') AS email,\n    NULLIF(trim($13), '__NULL__') AS notes\n),\nresolved AS (\n  SELECT\n    b.id,\n    b.booking_code,\n    b.guest_name,\n    b.check_in,\n    b.check_out,\n    b.guest_count,\n    b.status::text AS status,\n    b.payment_status::text AS payment_status,\n    b.package_code,\n    b.phone,\n    b.email,\n    b.staff_notes,\n    c.id AS client_id\n  FROM bookings b\n  INNER JOIN clients c ON c.id = b.client_id\n  CROSS JOIN params p\n  WHERE c.slug = 'wolfhouse-somo'\n    AND (\n      (p.airtable_record_id IS NOT NULL AND b.airtable_record_id = p.airtable_record_id)\n      OR (p.booking_code IS NOT NULL AND b.booking_code = p.booking_code)\n      OR (p.manual_entry_id IS NOT NULL AND b.metadata->>'manual_entry_id' = p.manual_entry_id)\n    )\n  LIMIT 2\n),\nresolved_count AS (\n  SELECT COUNT(*)::int AS c FROM resolved\n),\nguard AS (\n  SELECT r.*, p.manual_entry_id AS p_manual_entry_id\n  FROM resolved r\n  CROSS JOIN params p\n  WHERE (SELECT c FROM resolved_count) = 1\n),\npayments_before AS (\n  SELECT COUNT(*)::int AS c\n  FROM payments pay\n  INNER JOIN guard g ON pay.booking_id = g.id AND pay.client_id = g.client_id\n),\ndiff AS (\n  SELECT\n    g.id AS booking_id,\n    g.client_id,\n    g.booking_code,\n    g.p_manual_entry_id,\n    g.payment_status AS payment_status_before,\n    (p.guest_name IS NOT NULL AND p.guest_name IS DISTINCT FROM g.guest_name) AS ch_guest_name,\n    (p.check_in IS NOT NULL AND p.check_in IS DISTINCT FROM g.check_in) AS ch_check_in,\n    (p.check_out IS NOT NULL AND p.check_out IS DISTINCT FROM g.check_out) AS ch_check_out,\n    (p.guest_count IS NOT NULL AND p.guest_count IS DISTINCT FROM g.guest_count) AS ch_guest_count,\n    (p.status IS NOT NULL AND p.status IS DISTINCT FROM g.status) AS ch_status,\n    (p.payment_status IS NOT NULL AND p.payment_status IS DISTINCT FROM g.payment_status) AS ch_payment_status,\n    (p.package_code IS NOT NULL AND p.package_code IS DISTINCT FROM g.package_code) AS ch_package_code,\n    (p.phone IS NOT NULL AND p.phone IS DISTINCT FROM COALESCE(g.phone, '')) AS ch_phone,\n    (p.email IS NOT NULL AND p.email IS DISTINCT FROM COALESCE(g.email, '')) AS ch_email,\n    (p.notes IS NOT NULL AND trim(p.notes) <> '') AS ch_notes\n  FROM guard g\n  CROSS JOIN params p\n),\nhas_change AS (\n  SELECT\n    d.*,\n    (\n      d.ch_guest_name OR d.ch_check_in OR d.ch_check_out OR d.ch_guest_count\n      OR d.ch_status OR d.ch_payment_status OR d.ch_package_code\n      OR d.ch_phone OR d.ch_email OR d.ch_notes\n    ) AS any_change\n  FROM diff d\n),\nupdated AS (\n  UPDATE bookings b\n  SET\n    guest_name = CASE WHEN h.ch_guest_name THEN p.guest_name ELSE b.guest_name END,\n    check_in = CASE WHEN h.ch_check_in THEN p.check_in ELSE b.check_in END,\n    check_out = CASE WHEN h.ch_check_out THEN p.check_out ELSE b.check_out END,\n    guest_count = CASE WHEN h.ch_guest_count THEN p.guest_count ELSE b.guest_count END,\n    status = CASE WHEN h.ch_status THEN p.status::booking_status ELSE b.status END,\n    payment_status = CASE WHEN h.ch_payment_status THEN p.payment_status::payment_status ELSE b.payment_status END,\n    package_code = CASE WHEN h.ch_package_code THEN p.package_code ELSE b.package_code END,\n    phone = CASE WHEN h.ch_phone THEN p.phone ELSE b.phone END,\n    email = CASE WHEN h.ch_email THEN p.email ELSE b.email END,\n    staff_notes = CASE\n      WHEN h.ch_notes THEN\n        trim(\n          both E'\\n' from (\n            COALESCE(b.staff_notes, '')\n            || CASE\n              WHEN COALESCE(b.staff_notes, '') LIKE '%' || COALESCE(h.p_manual_entry_id, '') || '%' THEN ''\n              ELSE E'\\nManual Entry ID: ' || COALESCE(h.p_manual_entry_id, '')\n            END\n            || E'\\n'\n            || p.notes\n          )\n        )\n      ELSE b.staff_notes\n    END\n  FROM has_change h\n  CROSS JOIN params p\n  WHERE b.id = h.booking_id AND b.client_id = h.client_id AND h.any_change\n  RETURNING b.id, b.booking_code, b.payment_status::text AS payment_status_after\n)\nSELECT\n  rc.c AS booking_rows_resolved,\n  h.booking_code,\n  h.booking_id::text AS booking_id,\n  h.payment_status_before,\n  COALESCE((SELECT payment_status_after FROM updated LIMIT 1), h.payment_status_before) AS payment_status_after,\n  (SELECT COUNT(*)::int FROM updated) AS pg_booking_updated_count,\n  CASE\n    WHEN h.booking_id IS NOT NULL AND NOT COALESCE(h.any_change, false) THEN true\n    ELSE false\n  END AS idempotent,\n  (SELECT c FROM payments_before) AS payments_count,\n  (SELECT COUNT(*)::int FROM payments pay INNER JOIN guard g ON pay.booking_id = g.id) AS payments_count_after\nFROM resolved_count rc\nLEFT JOIN has_change h ON true",
          "options": {
            "queryReplacement": "={{ (($('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id) != null && String($('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.airtable_booking_record_id).trim() : '__NULL__' }},={{ '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id) != null && String($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id).trim() : '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.guest_name) != null && String($('Code - Pick Next Manual Queue Item').first().json.guest_name).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.guest_name).trim() : '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.check_in) != null && String($('Code - Pick Next Manual Queue Item').first().json.check_in).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.check_in).trim() : '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.check_out) != null && String($('Code - Pick Next Manual Queue Item').first().json.check_out).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.check_out).trim() : '__NULL__' }},={{ ($('Code - Pick Next Manual Queue Item').first().json.guest_count != null && String($('Code - Pick Next Manual Queue Item').first().json.guest_count).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.guest_count).trim() : '__NULL__' }},={{ (() => { const raw = $('Code - Pick Next Manual Queue Item').first().json.status; if (raw == null || String(raw).trim() === '') return '__NULL__'; const s = String(raw).trim().toLowerCase().replace(/\\s+/g, '_'); const m = { confirmed: 'confirmed', cancelled: 'cancelled', expired: 'expired', pending: 'pending' }; return m[s] || s; })() }},={{ (() => { const raw = $('Code - Pick Next Manual Queue Item').first().json.payment_status; if (raw == null || String(raw).trim() === '') return '__NULL__'; const s = String(raw).trim().toLowerCase().replace(/\\s+/g, '_'); const m = { waiting_payment: 'waiting_payment', deposit_paid: 'deposit_paid', paid_in_full: 'paid_in_full', refunded: 'refunded', failed: 'failed' }; return m[s] || s; })() }},={{ (() => { const raw = $('Code - Pick Next Manual Queue Item').first().json.package; if (raw == null || String(raw).trim() === '') return '__NULL__'; const s = String(raw).trim().toLowerCase().replace(/\\s+/g, '_'); const m = { malibu: 'malibu', uluwatu: 'uluwatu', waimea: 'waimea', custom: 'custom' }; return m[s] || s; })() }},={{ (($('Code - Pick Next Manual Queue Item').first().json.phone) != null && String($('Code - Pick Next Manual Queue Item').first().json.phone).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.phone).trim() : '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.email) != null && String($('Code - Pick Next Manual Queue Item').first().json.email).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.email).trim() : '__NULL__' }},={{ (($('Code - Pick Next Manual Queue Item').first().json.notes) != null && String($('Code - Pick Next Manual Queue Item').first().json.notes).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.notes).trim() : '__NULL__' }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          920,
          32
        ],
        "id": "f9d1af3e-abcb-4db8-83c7-2725a7ac941e",
        "name": "Postgres - Manual Entry Update",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\nconst pgItems = $('Postgres - Manual Entry Update').all();\nconst pgItem = pgItems[0];\nconst pgErr = pgItem?.error;\nconst pg = pgItem?.json || {};\n\nif (pgErr) {\n  const msg = String(pgErr.message || pgErr);\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [msg.includes('no parameter') ? 'postgres_query_param_missing' : 'postgres_manual_entry_update_failed'],\n      manual_entry_id: pick.manual_entry_id,\n      airtable_booking_record_id: pick.airtable_booking_record_id,\n      pg_booking_updated_count: 0,\n      partial_failure: 'pg_query_failed',\n      message: msg\n    }\n  }];\n}\n\nconst resolved = Number(pg.booking_rows_resolved ?? 0);\n\nif (resolved !== 1) {\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [resolved === 0 ? 'booking_not_found_in_postgres' : 'booking_ambiguous_in_postgres'],\n      manual_entry_id: pick.manual_entry_id,\n      airtable_booking_record_id: pick.airtable_booking_record_id,\n      pg_booking_updated_count: 0,\n      partial_failure: 'pg_resolve_failed',\n      message: 'Postgres could not resolve exactly one booking — Airtable update skipped'\n    }\n  }];\n}\n\nconst errors = [];\nconst payBefore = Number(pg.payments_count ?? 0);\nconst payAfter = Number(pg.payments_count_after ?? 0);\nif (payBefore !== payAfter) {\n  errors.push('payments_count_changed_during_pg_update');\n}\n\nreturn [{\n  json: {\n    pg_ok: errors.length === 0,\n    errors,\n    ...pg,\n    manual_entry_id: pick.manual_entry_id,\n    airtable_booking_record_id: pick.airtable_booking_record_id,\n    booking_code: pg.booking_code || pick.booking_code || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          32
        ],
        "id": "da32a2cb-1b17-4df7-8406-c99ed25828c9",
        "name": "Code - Validate PG Update"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "pg-update-ok",
                "leftValue": "={{ $json.pg_ok }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1064,
          32
        ],
        "id": "65bf5e2e-23e5-4ea6-85ae-6ea558205783",
        "name": "IF - PG Update OK"
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\nconst v = $('Code - Validate PG Update').first().json;\nconst errParts = Array.isArray(v.errors) ? v.errors.filter(Boolean) : [];\nconst errMsg = errParts.length\n  ? errParts.join('; ')\n  : String(v.message || v.partial_failure || 'pg_update_failed');\nreturn [{\n  json: {\n    manual_entry_id: pick.manual_entry_id,\n    row_number: pick.row_number,\n    airtable_booking_record_id:\n      pick.airtable_booking_record_id || v.airtable_booking_record_id || '',\n    sheet_error: String(errMsg).slice(0, 500)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          120
        ],
        "id": "8d52ae87-572c-4f5f-8961-f8f509ac9817",
        "name": "Code - Build PG Update Sheet Error"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Error',\n            $json.airtable_booking_record_id,\n            $json.sheet_error\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1280,
          120
        ],
        "id": "77f98e7b-290f-4c69-8176-24ed2761a86e",
        "name": "HTTP - Mark Queue Item PG Update Error",
        "continueOnFail": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\n\nfunction normStatus(raw) {\n  if (raw == null || String(raw).trim() === '') return 'confirmed';\n  const s = String(raw).trim().toLowerCase().replace(/\\s+/g, '_');\n  const m = { confirmed: 'confirmed', cancelled: 'cancelled', expired: 'expired', pending: 'pending' };\n  return m[s] || s;\n}\n\nfunction normPayment(raw) {\n  if (raw == null || String(raw).trim() === '') return 'waiting_payment';\n  const s = String(raw).trim().toLowerCase().replace(/\\s+/g, '_');\n  const m = {\n    waiting_payment: 'waiting_payment',\n    deposit_paid: 'deposit_paid',\n    paid_in_full: 'paid_in_full',\n    refunded: 'refunded',\n    failed: 'failed'\n  };\n  return m[s] || s;\n}\n\nfunction normPackage(raw) {\n  if (raw == null || String(raw).trim() === '') return null;\n  const s = String(raw).trim().toLowerCase().replace(/\\s+/g, '_');\n  const m = { malibu: 'malibu', uluwatu: 'uluwatu', waimea: 'waimea', custom: 'custom' };\n  return m[s] || s;\n}\n\nconst bedIds = Array.isArray(pick.bed_ids) ? pick.bed_ids : [];\nconst beds = bedIds\n  .map((code) => String(code || '').trim().toUpperCase())\n  .filter(Boolean)\n  .map((bed_code) => ({\n    bed_code,\n    assignment_start_date: pick.check_in,\n    assignment_end_date: pick.check_out\n  }));\n\nreturn [{\n  json: {\n    manual_entry_id: pick.manual_entry_id,\n    row_number: pick.row_number,\n    guest_name: pick.guest_name,\n    check_in: pick.check_in,\n    check_out: pick.check_out,\n    guest_count: pick.guest_count,\n    status: normStatus(pick.status),\n    payment_status: normPayment(pick.payment_status),\n    package_code: normPackage(pick.package),\n    phone: pick.phone || '',\n    email: pick.email || '',\n    notes: pick.notes || '',\n    beds_json: JSON.stringify(beds)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          -160
        ],
        "id": "de06e4e8-befd-4fac-8d47-f42f771637ca",
        "name": "Code - Build PG Create Payload"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS manual_entry_id,\n    NULLIF(trim($2), '__NULL__') AS guest_name,\n    NULLIF(trim($3), '__NULL__')::date AS check_in,\n    NULLIF(trim($4), '__NULL__')::date AS check_out,\n    COALESCE(NULLIF(NULLIF(trim($5), '__NULL__'), '')::int, 1) AS guest_count,\n    NULLIF(trim($6), '__NULL__') AS status,\n    NULLIF(trim($7), '__NULL__') AS payment_status,\n    NULLIF(trim($8), '__NULL__') AS package_code,\n    NULLIF(trim($9), '__NULL__') AS phone,\n    NULLIF(trim($10), '__NULL__') AS email,\n    NULLIF(trim($11), '__NULL__') AS notes,\n    COALESCE($12::jsonb, '[]'::jsonb) AS beds_json,\n    (\n      'WH-pending-'\n      || regexp_replace(\n        substring(COALESCE(NULLIF(trim($1), '__NULL__'), 'unknown') from 1 for 80),\n        '[^[:alnum:]_-]',\n        '_',\n        'g'\n      )\n    ) AS provisional_booking_code\n),\nclient AS (\n  SELECT id AS client_id FROM clients WHERE slug = 'wolfhouse-somo' LIMIT 1\n),\nclient_count AS (\n  SELECT COUNT(*)::int AS c FROM client\n),\ndup_meta AS (\n  SELECT b.id, b.booking_code, b.status::text AS status, b.payment_status::text AS payment_status\n  FROM bookings b\n  INNER JOIN client c ON c.client_id = b.client_id\n  CROSS JOIN params p\n  WHERE p.manual_entry_id IS NOT NULL\n    AND b.metadata->>'manual_entry_id' = p.manual_entry_id\n),\ndup_meta_count AS (\n  SELECT COUNT(*)::int AS c FROM dup_meta\n),\nexisting_booking AS (\n  SELECT b.id, b.client_id, b.booking_code, b.status::text AS status, b.payment_status::text AS payment_status,\n         b.staff_notes\n  FROM bookings b\n  INNER JOIN client c ON c.client_id = b.client_id\n  CROSS JOIN params p\n  WHERE (\n    (p.manual_entry_id IS NOT NULL AND b.metadata->>'manual_entry_id' = p.manual_entry_id)\n    OR b.booking_code = p.provisional_booking_code\n  )\n  LIMIT 2\n),\nexisting_count AS (\n  SELECT COUNT(*)::int AS c FROM existing_booking\n),\noverlap_booking_id AS (\n  SELECT COALESCE(\n    (SELECT id FROM dup_meta LIMIT 1),\n    (SELECT id FROM existing_booking LIMIT 1),\n    '00000000-0000-0000-0000-000000000000'::uuid\n  ) AS id\n),\nbeds_input AS (\n  SELECT\n    upper(trim(elem->>'bed_code')) AS bed_code,\n    (elem->>'assignment_start_date')::date AS start_d,\n    (elem->>'assignment_end_date')::date AS end_d\n  FROM params p\n  CROSS JOIN jsonb_array_elements(p.beds_json) elem\n  WHERE upper(trim(COALESCE(elem->>'bed_code', ''))) <> ''\n),\nbeds_input_count AS (\n  SELECT COUNT(*)::int AS c FROM beds_input\n),\nunknown_beds AS (\n  SELECT bi.bed_code\n  FROM beds_input bi\n  CROSS JOIN client c\n  LEFT JOIN beds bd ON bd.client_id = c.client_id AND upper(bd.bed_code) = bi.bed_code\n  WHERE bd.id IS NULL\n),\nunknown_count AS (\n  SELECT COUNT(*)::int AS c FROM unknown_beds\n),\noverlap_beds AS (\n  SELECT DISTINCT bi.bed_code\n  FROM beds_input bi\n  CROSS JOIN client c\n  CROSS JOIN overlap_booking_id ob\n  INNER JOIN beds bd ON bd.client_id = c.client_id AND upper(bd.bed_code) = bi.bed_code\n  INNER JOIN booking_beds bb ON bb.bed_id = bd.id AND bb.client_id = bd.client_id\n  INNER JOIN bookings otb ON otb.id = bb.booking_id AND otb.client_id = bb.client_id\n  WHERE bb.booking_id <> ob.id\n    AND otb.status NOT IN ('cancelled', 'expired')\n    AND bb.assignment_start_date < bi.end_d\n    AND bb.assignment_end_date > bi.start_d\n),\noverlap_count AS (\n  SELECT COUNT(*)::int AS c FROM overlap_beds\n),\nprecheck_ok AS (\n  SELECT\n    (SELECT c FROM client_count) = 1\n    AND (SELECT c FROM dup_meta_count) <= 1\n    AND (SELECT c FROM existing_count) <= 1\n    AND (SELECT c FROM unknown_count) = 0\n    AND (SELECT c FROM overlap_count) = 0\n    AND (SELECT c FROM beds_input_count) > 0\n    AND p.manual_entry_id IS NOT NULL\n    AND p.guest_name IS NOT NULL\n    AND p.check_in IS NOT NULL\n    AND p.check_out IS NOT NULL AS ok\n  FROM params p\n),\nbooking_updated AS (\n  UPDATE bookings b\n  SET\n    guest_name = COALESCE(p.guest_name, b.guest_name),\n    check_in = COALESCE(p.check_in, b.check_in),\n    check_out = COALESCE(p.check_out, b.check_out),\n    guest_count = COALESCE(p.guest_count, b.guest_count),\n    status = COALESCE(p.status::booking_status, b.status),\n    payment_status = COALESCE(p.payment_status::payment_status, b.payment_status),\n    package_code = COALESCE(p.package_code, b.package_code),\n    phone = COALESCE(p.phone, b.phone),\n    email = COALESCE(p.email, b.email),\n    staff_notes = trim(\n      both E'\\n' from (\n        COALESCE(b.staff_notes, '')\n        || CASE\n          WHEN COALESCE(b.staff_notes, '') LIKE '%' || p.manual_entry_id || '%' THEN ''\n          ELSE E'\\nManual Entry ID: ' || p.manual_entry_id\n        END\n        || CASE WHEN p.notes IS NOT NULL AND trim(p.notes) <> '' THEN E'\\n' || p.notes ELSE '' END\n      )\n    ),\n    booking_source = 'manual_staff',\n    metadata = COALESCE(b.metadata, '{}'::jsonb) || jsonb_build_object('manual_entry_id', p.manual_entry_id),\n    assignment_status = 'assigned'::assignment_status,\n    availability_check_status = 'available'::availability_check_status\n  FROM existing_booking eb\n  CROSS JOIN params p\n  WHERE (SELECT ok FROM precheck_ok)\n    AND (SELECT c FROM existing_count) = 1\n    AND eb.status NOT IN ('cancelled', 'expired')\n    AND b.id = eb.id\n    AND b.client_id = eb.client_id\n  RETURNING b.id, b.client_id, b.booking_code, b.status::text AS status, b.payment_status::text AS payment_status,\n    false AS created\n),\nbooking_inserted AS (\n  INSERT INTO bookings (\n    client_id,\n    booking_code,\n    guest_name,\n    phone,\n    email,\n    status,\n    payment_status,\n    assignment_status,\n    availability_check_status,\n    check_in,\n    check_out,\n    guest_count,\n    package_code,\n    booking_source,\n    staff_notes,\n    metadata\n  )\n  SELECT\n    c.client_id,\n    p.provisional_booking_code,\n    p.guest_name,\n    p.phone,\n    p.email,\n    COALESCE(p.status, 'confirmed')::booking_status,\n    COALESCE(p.payment_status, 'waiting_payment')::payment_status,\n    'assigned'::assignment_status,\n    'available'::availability_check_status,\n    p.check_in,\n    p.check_out,\n    p.guest_count,\n    p.package_code,\n    'manual_staff',\n    trim(\n      both E'\\n' from (\n        'Manual Entry ID: ' || p.manual_entry_id\n        || CASE WHEN p.notes IS NOT NULL AND trim(p.notes) <> '' THEN E'\\n' || p.notes ELSE '' END\n      )\n    ),\n    jsonb_build_object('manual_entry_id', p.manual_entry_id)\n  FROM params p\n  CROSS JOIN client c\n  WHERE (SELECT ok FROM precheck_ok)\n    AND (SELECT c FROM existing_count) = 0\n  RETURNING id, client_id, booking_code, status::text AS status, payment_status::text AS payment_status,\n    true AS created\n),\nbooking_final AS (\n  SELECT * FROM booking_updated\n  UNION ALL\n  SELECT * FROM booking_inserted\n),\nguard AS (\n  SELECT bf.* FROM booking_final bf LIMIT 1\n),\npayments_before AS (\n  SELECT COUNT(*)::int AS c\n  FROM payments pay\n  INNER JOIN guard g ON pay.booking_id = g.id AND pay.client_id = g.client_id\n),\nexisting_skip AS (\n  SELECT bi.bed_code\n  FROM beds_input bi\n  CROSS JOIN guard g\n  INNER JOIN booking_beds bb ON bb.booking_id = g.id AND bb.client_id = g.client_id\n  WHERE upper(bb.bed_code) = bi.bed_code\n    AND bb.assignment_start_date = bi.start_d\n    AND bb.assignment_end_date = bi.end_d\n),\nskip_count AS (\n  SELECT COUNT(*)::int AS c FROM existing_skip\n),\nto_insert AS (\n  SELECT\n    bi.bed_code,\n    bi.start_d,\n    bi.end_d,\n    bd.id AS bed_id,\n    CASE\n      WHEN bi.bed_code ~ '^(R[0-9]+)-' THEN upper(substring(bi.bed_code from '^(R[0-9]+)'))\n      ELSE NULL\n    END AS room_code\n  FROM beds_input bi\n  CROSS JOIN guard g\n  INNER JOIN beds bd ON bd.client_id = g.client_id AND upper(bd.bed_code) = bi.bed_code\n  WHERE (SELECT ok FROM precheck_ok)\n    AND NOT EXISTS (SELECT 1 FROM existing_skip es WHERE es.bed_code = bi.bed_code)\n),\ninserted AS (\n  INSERT INTO booking_beds (\n    client_id,\n    booking_id,\n    bed_id,\n    bed_code,\n    room_code,\n    assignment_start_date,\n    assignment_end_date,\n    assignment_type,\n    assignment_notes,\n    guest_name,\n    airtable_record_id\n  )\n  SELECT\n    g.client_id,\n    g.id,\n    ti.bed_id,\n    ti.bed_code,\n    ti.room_code,\n    ti.start_d,\n    ti.end_d,\n    'Manual Staff',\n    'Mirrored via manual-entry-postgres (3b.4c local fork)',\n    p.guest_name,\n    NULL\n  FROM to_insert ti\n  CROSS JOIN guard g\n  CROSS JOIN params p\n  RETURNING id\n),\npayments_after AS (\n  SELECT COUNT(*)::int AS c\n  FROM payments pay\n  INNER JOIN guard g ON pay.booking_id = g.id AND pay.client_id = g.client_id\n)\nSELECT\n  (SELECT c FROM dup_meta_count) AS duplicate_manual_entry_count,\n  (SELECT c FROM existing_count) AS existing_booking_count,\n  (SELECT c FROM beds_input_count) AS beds_requested_count,\n  (SELECT COUNT(*)::int FROM inserted) AS pg_inserted_count,\n  (SELECT c FROM skip_count) AS pg_skipped_count,\n  (SELECT c FROM overlap_count) AS pg_conflict_count,\n  (SELECT c FROM unknown_count) AS pg_unknown_count,\n  COALESCE((SELECT jsonb_agg(ub.bed_code ORDER BY ub.bed_code) FROM unknown_beds ub), '[]'::jsonb) AS unknown_bed_codes,\n  g.booking_code,\n  g.id::text AS booking_id,\n  g.status AS booking_status,\n  COALESCE(g.created, false) AS pg_booking_created,\n  CASE WHEN g.id IS NOT NULL AND NOT COALESCE(g.created, false) THEN true ELSE false END AS pg_booking_updated,\n  (\n    (SELECT ok FROM precheck_ok)\n    AND (SELECT c FROM dup_meta_count) <= 1\n    AND (SELECT c FROM existing_count) <= 1\n    AND g.id IS NOT NULL\n    AND g.status NOT IN ('cancelled', 'expired')\n  ) AS pg_ok,\n  CASE\n    WHEN g.id IS NOT NULL AND (SELECT COUNT(*)::int FROM inserted) = 0 AND (SELECT c FROM skip_count) > 0 THEN true\n    ELSE false\n  END AS idempotent,\n  (SELECT c FROM payments_before) AS payments_count,\n  (SELECT c FROM payments_after) AS payments_count_after\nFROM params p\nLEFT JOIN guard g ON true",
          "options": {
            "queryReplacement": "={{ (($('Code - Build PG Create Payload').first().json.manual_entry_id) != null && String($('Code - Build PG Create Payload').first().json.manual_entry_id).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.manual_entry_id).trim() : '__NULL__' }},={{ (($('Code - Build PG Create Payload').first().json.guest_name) != null && String($('Code - Build PG Create Payload').first().json.guest_name).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.guest_name).trim() : '__NULL__' }},={{ (($('Code - Build PG Create Payload').first().json.check_in) != null && String($('Code - Build PG Create Payload').first().json.check_in).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.check_in).trim() : '__NULL__' }},={{ (($('Code - Build PG Create Payload').first().json.check_out) != null && String($('Code - Build PG Create Payload').first().json.check_out).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.check_out).trim() : '__NULL__' }},={{ ($('Code - Build PG Create Payload').first().json.guest_count != null && String($('Code - Build PG Create Payload').first().json.guest_count).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.guest_count).trim() : '__NULL__' }},={{ $('Code - Build PG Create Payload').first().json.status || '__NULL__' }},={{ $('Code - Build PG Create Payload').first().json.payment_status || '__NULL__' }},={{ $('Code - Build PG Create Payload').first().json.package_code ? $('Code - Build PG Create Payload').first().json.package_code : '__NULL__' }},={{ (($('Code - Build PG Create Payload').first().json.phone) != null && String($('Code - Build PG Create Payload').first().json.phone).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.phone).trim() : '__NULL__' }},={{ (($('Code - Build PG Create Payload').first().json.email) != null && String($('Code - Build PG Create Payload').first().json.email).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.email).trim() : '__NULL__' }},={{ (($('Code - Build PG Create Payload').first().json.notes) != null && String($('Code - Build PG Create Payload').first().json.notes).trim() !== '') ? String($('Code - Build PG Create Payload').first().json.notes).trim() : '__NULL__' }},={{ $('Code - Build PG Create Payload').first().json.beds_json }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          992,
          -160
        ],
        "id": "0e5ef6db-1979-4aae-8071-884f54f455fd",
        "name": "Postgres - Manual Entry Create",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\nconst pgItems = $('Postgres - Manual Entry Create').all();\nconst pgItem = pgItems[0];\nconst pgErr = pgItem?.error;\nconst pg = pgItem?.json || {};\n\nif (pgErr) {\n  const msg = String(pgErr.message || pgErr);\n  return [{\n    json: {\n      pg_ok: false,\n      errors: [msg.includes('no parameter') ? 'postgres_query_param_missing' : 'postgres_manual_entry_create_failed'],\n      manual_entry_id: pick.manual_entry_id,\n      airtable_booking_record_id: pick.airtable_booking_record_id || '',\n      pg_inserted_count: 0,\n      partial_failure: 'pg_query_failed',\n      message: msg\n    }\n  }];\n}\n\nconst errors = [];\nif (Number(pg.duplicate_manual_entry_count ?? 0) > 1) {\n  errors.push('duplicate_manual_entry_id');\n}\nif (Number(pg.pg_unknown_count ?? 0) > 0) {\n  errors.push('unknown_bed_codes');\n}\nif (Number(pg.pg_conflict_count ?? 0) > 0) {\n  errors.push('postgres_overlap_conflicts');\n}\nconst bookingStatus = String(pg.booking_status || '');\nif (bookingStatus === 'cancelled' || bookingStatus === 'expired') {\n  errors.push('booking_not_assignable');\n}\nif (!pg.booking_id && pg.pg_ok !== true) {\n  if (!errors.length) errors.push('postgres_manual_entry_create_failed');\n}\nconst payBefore = Number(pg.payments_count ?? 0);\nconst payAfter = Number(pg.payments_count_after ?? 0);\nif (payBefore !== payAfter) {\n  errors.push('payments_count_changed_during_pg_create');\n}\n\nconst pgOk = pg.pg_ok === true && errors.length === 0;\n\nreturn [{\n  json: {\n    pg_ok: pgOk,\n    errors,\n    ...pg,\n    manual_entry_id: pick.manual_entry_id,\n    airtable_booking_record_id: pick.airtable_booking_record_id || '',\n    booking_code: pg.booking_code || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1064,
          -160
        ],
        "id": "8b74f7f1-1e3c-4685-8a92-73c5982da492",
        "name": "Code - Validate PG Create"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "pg-create-ok",
                "leftValue": "={{ $json.pg_ok }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1136,
          -160
        ],
        "id": "5be72cfd-1b35-4078-88f6-3238b689b9c7",
        "name": "IF - PG Create OK"
      },
      {
        "parameters": {
          "jsCode": "const pick = $('Code - Pick Next Manual Queue Item').first().json;\nconst v = $('Code - Validate PG Create').first().json;\nconst errParts = Array.isArray(v.errors) ? v.errors.filter(Boolean) : [];\nconst errMsg = errParts.length\n  ? errParts.join('; ')\n  : String(v.message || v.partial_failure || 'pg_create_failed');\nreturn [{\n  json: {\n    manual_entry_id: pick.manual_entry_id,\n    row_number: pick.row_number,\n    airtable_booking_record_id: pick.airtable_booking_record_id || '',\n    sheet_error: String(errMsg).slice(0, 500)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -40
        ],
        "id": "e34f0945-53ab-42ea-85bc-806fcadbbe2b",
        "name": "Code - Build PG Create Sheet Error"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JIY22nrtHXWEi6gPWvvpDfgG8Xe0jT6hmGGzkNXRs10/values:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    valueInputOption: 'USER_ENTERED',\n    data: [\n      {\n        range: 'Manual Entries!P' + $json.row_number + ':R' + $json.row_number,\n        values: [\n          [\n            'Error',\n            $json.airtable_booking_record_id,\n            $json.sheet_error\n          ]\n        ]\n      }\n    ]\n  }\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1360,
          -40
        ],
        "id": "83d33d4d-fe7e-42ed-895a-1af56d8806d2",
        "name": "HTTP - Mark Queue Item PG Create Error",
        "continueOnFail": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleOAuth2Api": {
            "id": "fl7l9Qi45dHCxx6W",
            "name": "Google account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS airtable_record_id,\n    NULLIF(trim($2), '__NULL__') AS manual_entry_id,\n    NULLIF(trim($3), '__NULL__') AS booking_code_candidate\n),\nguard AS (\n  SELECT b.id, b.client_id, b.booking_code, b.airtable_record_id\n  FROM bookings b\n  INNER JOIN clients c ON c.id = b.client_id\n  CROSS JOIN params p\n  WHERE c.slug = 'wolfhouse-somo'\n    AND p.manual_entry_id IS NOT NULL\n    AND b.metadata->>'manual_entry_id' = p.manual_entry_id\n  LIMIT 1\n),\npayments_before AS (\n  SELECT COUNT(*)::int AS c\n  FROM payments pay\n  INNER JOIN guard g ON pay.booking_id = g.id AND pay.client_id = g.client_id\n),\nupdated AS (\n  UPDATE bookings b\n  SET\n    airtable_record_id = p.airtable_record_id,\n    booking_code = CASE\n      WHEN p.booking_code_candidate IS NOT NULL\n        AND p.booking_code_candidate ~ '^WH-rec'\n      THEN p.booking_code_candidate\n      ELSE b.booking_code\n    END\n  FROM guard g\n  CROSS JOIN params p\n  WHERE b.id = g.id\n    AND b.client_id = g.client_id\n    AND p.airtable_record_id IS NOT NULL\n  RETURNING b.id, b.booking_code, b.airtable_record_id\n),\npayments_after AS (\n  SELECT COUNT(*)::int AS c\n  FROM payments pay\n  INNER JOIN guard g ON pay.booking_id = g.id AND pay.client_id = g.client_id\n)\nSELECT\n  (SELECT COUNT(*)::int FROM guard) AS booking_rows_matched,\n  (SELECT COUNT(*)::int FROM updated) AS pg_booking_backfill_count,\n  (SELECT booking_code FROM guard LIMIT 1) AS booking_code_before,\n  (SELECT booking_code FROM updated LIMIT 1) AS booking_code_after,\n  (SELECT airtable_record_id FROM updated LIMIT 1) AS airtable_record_id,\n  CASE\n    WHEN (SELECT COUNT(*)::int FROM guard) <> 1 THEN false\n    WHEN (SELECT COUNT(*)::int FROM updated) <> 1 THEN false\n    ELSE true\n  END AS pg_backfill_ok,\n  CASE\n    WHEN p.booking_code_candidate IS NULL OR p.booking_code_candidate !~ '^WH-rec' THEN true\n    ELSE false\n  END AS booking_code_left_pending,\n  (SELECT c FROM payments_before) AS payments_count_before,\n  (SELECT c FROM payments_after) AS payments_count_after\nFROM params p",
          "options": {
            "queryReplacement": "={{ (() => { const c = $('Create Airtable Booking - Queue').first().json; const id = c?.id || c?.record_id || c?.Record_ID || ''; return id ? String(id).trim() : '__NULL__'; })() }},={{ (($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id) != null && String($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id).trim() !== '') ? String($('Code - Pick Next Manual Queue Item').first().json.manual_entry_id).trim() : '__NULL__' }},={{ (() => { const c = $('Create Airtable Booking - Queue').first().json; const f = c?.fields || c || {}; const code = String(f['Booking ID'] || c['Booking ID'] || '').trim(); return /^WH-rec/i.test(code) ? code : '__NULL__'; })() }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1552,
          -176
        ],
        "id": "8d981dd0-7d53-4e23-88d1-d37124062347",
        "name": "Postgres - Backfill Manual Entry Booking AT Id",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const buildItems = $('Code - Build Booking Beds For Create').all();\nconst creates = $('Create Airtable Booking Bed - Queue').all();\nconst createdBooking = $('Create Airtable Booking - Queue').first().json;\nconst bookingRecordId =\n  createdBooking?.id || createdBooking?.record_id || createdBooking?.Record_ID || '';\nconst pgCreate = $('Postgres - Manual Entry Create').first()?.json || {};\nconst bookingCode = String(pgCreate.booking_code || '').trim();\n\nconst pairs = [];\nconst errors = [];\n\nfor (const createItem of creates) {\n  if (createItem.error) {\n    errors.push('airtable_booking_bed_create_failed');\n    continue;\n  }\n  const atId =\n    createItem.json?.id || createItem.json?.record_id || createItem.json?.Record_ID || '';\n  if (!atId) {\n    errors.push('missing_airtable_booking_bed_record_id');\n    continue;\n  }\n  const bedRec = createItem.json?.fields?.Bed ?? createItem.json?.Bed;\n  const bedRecordId = Array.isArray(bedRec) ? bedRec[0] : bedRec;\n  const match = buildItems.find(\n    (b) => String(b.json?.bed_record_id || '').trim() === String(bedRecordId || '').trim()\n  );\n  const bedCode = String(match?.json?.bed_id || '').trim().toUpperCase();\n  if (!bedCode) {\n    errors.push('missing_bed_code');\n    continue;\n  }\n  pairs.push({ bed_code: bedCode, airtable_record_id: String(atId).trim() });\n}\n\nlet pgBackfillError = null;\nif (!pairs.length) {\n  pgBackfillError = errors[0] || 'no_booking_bed_pairs';\n}\n\nreturn [{\n  json: {\n    pairs_json: JSON.stringify(pairs),\n    pair_count: pairs.length,\n    airtable_record_id: bookingRecordId,\n    booking_code: bookingCode || '__NULL__',\n    bed_codes: pairs.map((p) => p.bed_code),\n    pg_backfill_error: pgBackfillError\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1928,
          -160
        ],
        "id": "840b1e2e-9759-44a5-8f3d-f49f5db3588f",
        "name": "Code - Build PG Booking Bed Backfill Pairs"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH params AS (\n  SELECT\n    NULLIF(trim($1), '__NULL__') AS airtable_record_id,\n    NULLIF(trim($2), '__NULL__') AS booking_code,\n    COALESCE($3::jsonb, '[]'::jsonb) AS pairs_json\n),\nguard AS (\n  SELECT b.id, b.client_id, b.booking_code\n  FROM bookings b\n  INNER JOIN clients c ON c.id = b.client_id\n  CROSS JOIN params p\n  WHERE c.slug = 'wolfhouse-somo'\n    AND (\n      (p.airtable_record_id IS NOT NULL AND b.airtable_record_id = p.airtable_record_id)\n      OR (p.booking_code IS NOT NULL AND b.booking_code = p.booking_code)\n    )\n  LIMIT 1\n),\npairs AS (\n  SELECT\n    upper(trim(elem->>'bed_code')) AS bed_code,\n    NULLIF(trim(elem->>'airtable_record_id'), '') AS at_id\n  FROM params p\n  CROSS JOIN jsonb_array_elements(p.pairs_json) elem\n  WHERE upper(trim(COALESCE(elem->>'bed_code', ''))) <> ''\n    AND NULLIF(trim(elem->>'airtable_record_id'), '') IS NOT NULL\n),\nupdated AS (\n  UPDATE booking_beds bb\n  SET airtable_record_id = pr.at_id\n  FROM pairs pr\n  CROSS JOIN guard g\n  WHERE bb.booking_id = g.id\n    AND bb.client_id = g.client_id\n    AND upper(bb.bed_code) = pr.bed_code\n    AND (bb.airtable_record_id IS NULL OR bb.airtable_record_id = '')\n  RETURNING bb.id, bb.bed_code, bb.airtable_record_id\n)\nSELECT\n  (SELECT COUNT(*)::int FROM guard) AS booking_rows_matched,\n  (SELECT COUNT(*)::int FROM updated) AS pg_backfill_count,\n  COALESCE(\n    (SELECT jsonb_agg(jsonb_build_object('bed_code', u.bed_code, 'airtable_record_id', u.airtable_record_id) ORDER BY u.bed_code)\n     FROM updated u),\n    '[]'::jsonb\n  ) AS backfilled,\n  CASE\n    WHEN (SELECT COUNT(*)::int FROM guard) <> 1 THEN false\n    WHEN (SELECT COUNT(*)::int FROM pairs) = 0 THEN false\n    ELSE true\n  END AS pg_backfill_ok",
          "options": {
            "queryReplacement": "={{ ($('Code - Build PG Booking Bed Backfill Pairs').first().json.airtable_record_id) ? String($('Code - Build PG Booking Bed Backfill Pairs').first().json.airtable_record_id).trim() : '__NULL__' }},={{ ($('Code - Build PG Booking Bed Backfill Pairs').first().json.booking_code) ? String($('Code - Build PG Booking Bed Backfill Pairs').first().json.booking_code).trim() : '__NULL__' }},={{ $('Code - Build PG Booking Bed Backfill Pairs').first().json.pairs_json }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2008,
          -160
        ],
        "id": "96ba3117-80a0-4ec8-8fe2-6bc162619bdf",
        "name": "Postgres - Backfill Manual Entry Booking Bed AT Ids",
        "alwaysOutputData": true,
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "MnnrrLecI7oVoIGq",
            "name": "Postgres account"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "Webhook - Manual Entries Queue": {
        "main": [
          [
            {
              "node": "HTTP - Read Manual Entries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - Read Manual Entries": {
        "main": [
          [
            {
              "node": "Code - Pick Next Manual Queue Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Pick Next Manual Queue Item": {
        "main": [
          [
            {
              "node": "Switch - Queue Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch - Queue Action": {
        "main": [
          [
            {
              "node": "HTTP - Mark Create Processing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP - Mark Update Processing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP - Mark Delete Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - Mark Create Processing": {
        "main": [
          [
            {
              "node": "Code - Build PG Create Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Beds - Create": {
        "main": [
          [
            {
              "node": "Code - Validate Beds For Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate Beds For Create": {
        "main": [
          [
            {
              "node": "Create Airtable Booking - Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Airtable Booking - Queue": {
        "main": [
          [
            {
              "node": "Postgres - Backfill Manual Entry Booking AT Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build Booking Beds For Create": {
        "main": [
          [
            {
              "node": "Create Airtable Booking Bed - Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Airtable Booking Bed - Queue": {
        "main": [
          [
            {
              "node": "Code - Build PG Booking Bed Backfill Pairs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - One Item After Create": {
        "main": [
          [
            {
              "node": "HTTP - Mark Queue Item Synced",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - Mark Update Processing": {
        "main": [
          [
            {
              "node": "Postgres - Manual Entry Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Airtable Booking - Queue": {
        "main": [
          [
            {
              "node": "Code - One Item After Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - One Item After Update": {
        "main": [
          [
            {
              "node": "HTTP - Mark Queue Item Synced After Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - Mark Delete Processing": {
        "main": [
          [
            {
              "node": "Postgres - Manual Entry Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Booking Beds For Delete": {
        "main": [
          [
            {
              "node": "Code - Filter Booking Beds For Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Filter Booking Beds For Delete": {
        "main": [
          [
            {
              "node": "IF - Has Booking Beds To Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Has Booking Beds To Delete": {
        "main": [
          [
            {
              "node": "Delete Airtable Booking Beds - Queue",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - One Item After Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Airtable Booking Beds - Queue": {
        "main": [
          [
            {
              "node": "Code - One Item After Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - One Item After Delete": {
        "main": [
          [
            {
              "node": "Update Airtable Booking - Cancelled Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Airtable Booking - Cancelled Queue": {
        "main": [
          [
            {
              "node": "Code - One Item After Cancel Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - One Item After Cancel Booking": {
        "main": [
          [
            {
              "node": "HTTP - Mark Queue Item Deleted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Manual Entry Delete": {
        "main": [
          [
            {
              "node": "Code - Validate PG Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate PG Delete": {
        "main": [
          [
            {
              "node": "IF - PG Delete OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - PG Delete OK": {
        "main": [
          [
            {
              "node": "Search Booking Beds For Delete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Build PG Delete Sheet Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build PG Delete Sheet Error": {
        "main": [
          [
            {
              "node": "HTTP - Mark Queue Item PG Delete Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Manual Entry Update": {
        "main": [
          [
            {
              "node": "Code - Validate PG Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate PG Update": {
        "main": [
          [
            {
              "node": "IF - PG Update OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - PG Update OK": {
        "main": [
          [
            {
              "node": "Update Airtable Booking - Queue",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Build PG Update Sheet Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build PG Update Sheet Error": {
        "main": [
          [
            {
              "node": "HTTP - Mark Queue Item PG Update Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build PG Create Payload": {
        "main": [
          [
            {
              "node": "Postgres - Manual Entry Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Manual Entry Create": {
        "main": [
          [
            {
              "node": "Code - Validate PG Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate PG Create": {
        "main": [
          [
            {
              "node": "IF - PG Create OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - PG Create OK": {
        "main": [
          [
            {
              "node": "Search Beds - Create",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Build PG Create Sheet Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build PG Create Sheet Error": {
        "main": [
          [
            {
              "node": "HTTP - Mark Queue Item PG Create Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Backfill Manual Entry Booking AT Id": {
        "main": [
          [
            {
              "node": "Code - Build Booking Beds For Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build PG Booking Bed Backfill Pairs": {
        "main": [
          [
            {
              "node": "Postgres - Backfill Manual Entry Booking Bed AT Ids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Backfill Manual Entry Booking Bed AT Ids": {
        "main": [
          [
            {
              "node": "Code - One Item After Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "id": "B3c4ManualEntriesLocal01",
    "tags": [
      {
        "name": "phase3b"
      },
      {
        "name": "local-only"
      }
    ]
  }
]
