n8n/phase2/Wolfhouse - Create Payment Session.json
{
  "name": "Wolfhouse - Create Payment Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-payment-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "2b101001-0001-4000-8000-000000000001",
      "name": "Webhook - Create Payment Session",
      "webhookId": "2b101001-0001-4000-8000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst bookingId = body.booking_id || body.bookingId;\nif (!bookingId) {\n  throw new Error('booking_id is required');\n}\nconst rawKind = (body.payment_kind || body.paymentKind || 'deposit_only').toString();\nconst paymentKind = rawKind === 'full_amount' ? 'full_amount' : 'deposit_only';\nreturn [{ json: { booking_id: bookingId, payment_kind: paymentKind } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "2b101002-0002-4000-8000-000000000002",
      "name": "Code - Parse Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  b.id AS booking_id,\n  b.booking_code,\n  b.client_id,\n  b.guest_name,\n  b.email,\n  b.deposit_required_cents,\n  b.total_amount_cents,\n  b.payment_status,\n  p.id AS payment_row_id,\n  p.checkout_url AS existing_checkout_url,\n  p.stripe_checkout_session_id AS existing_session_id\nFROM bookings b\nJOIN clients c ON c.id = b.client_id\nLEFT JOIN LATERAL (\n  SELECT id, checkout_url, stripe_checkout_session_id\n  FROM payments\n  WHERE booking_id = b.id\n    AND payment_kind = $2::payment_kind\n    AND status IN ('checkout_created', 'pending')\n    AND checkout_url IS NOT NULL\n    AND (expires_at IS NULL OR expires_at > NOW())\n  ORDER BY created_at DESC\n  LIMIT 1\n) p ON true\nWHERE b.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.booking_id }},{{ $json.payment_kind }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 0],
      "id": "2b101003-0003-4000-8000-000000000003",
      "name": "Postgres - Load Booking",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Wolfhouse Postgres (local)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-existing",
              "leftValue": "={{ $json.existing_checkout_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "id": "2b101004-0004-4000-8000-000000000004",
      "name": "IF - Existing Checkout?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, reused: true, booking_id: $json.booking_id, payment_kind: $('Code - Parse Request').first().json.payment_kind, checkout_url: $json.existing_checkout_url, stripe_checkout_session_id: $json.existing_session_id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, -120],
      "id": "2b101005-0005-4000-8000-000000000005",
      "name": "Respond - Reuse Session"
    },
    {
      "parameters": {
        "jsCode": "// Uses this.helpers.httpRequest (not fetch/URLSearchParams — unavailable in n8n Code sandbox)\nconst row = $input.first().json;\nconst paymentKind = $('Code - Parse Request').first().json.payment_kind;\nconst defaultDeposit = parseInt($env.STRIPE_DEFAULT_DEPOSIT_CENTS || '20000', 10);\n\nlet stripeKey = $env.STRIPE_SECRET_KEY;\nif (!stripeKey) {\n  try {\n    const cred = await this.getCredentials('httpHeaderAuth');\n    const v = cred.value || '';\n    stripeKey = v.replace(/^Bearer\\s+/i, '').trim();\n  } catch (e) {}\n}\nif (!stripeKey) {\n  throw new Error('Set STRIPE_SECRET_KEY on the n8n container or attach Stripe API (test) credential');\n}\n\nif (!row.booking_id) {\n  throw new Error('Booking not found for booking_id');\n}\n\nlet amountCents;\nif (paymentKind === 'full_amount') {\n  amountCents = row.total_amount_cents;\n  if (!amountCents || Number(amountCents) < 1) {\n    throw new Error('full_amount requires bookings.total_amount_cents > 0');\n  }\n} else {\n  const dep = row.deposit_required_cents;\n  // 0 is treated as unset (CSV/sync often stores 0 instead of null)\n  amountCents = (dep != null && Number(dep) > 0) ? Number(dep) : defaultDeposit;\n}\n\nif (!amountCents || amountCents < 1) {\n  throw new Error('Checkout amount must be at least 1 cent');\n}\n\nconst successUrl = $env.STRIPE_CHECKOUT_SUCCESS_URL || 'http://localhost:5678/webhook/stripe-checkout-success?session_id={CHECKOUT_SESSION_ID}';\nconst cancelUrl = $env.STRIPE_CHECKOUT_CANCEL_URL || 'https://www.wolf-house.com/surfcampsomo';\n\nfunction enc(key, value) {\n  return encodeURIComponent(key) + '=' + encodeURIComponent(String(value));\n}\n\nconst productName = paymentKind === 'full_amount'\n  ? ('Wolfhouse stay — ' + (row.booking_code || row.booking_id))\n  : ('Wolfhouse deposit — ' + (row.booking_code || row.booking_id));\n\nconst formBody = [\n  enc('mode', 'payment'),\n  enc('success_url', successUrl),\n  enc('cancel_url', cancelUrl),\n  enc('client_reference_id', row.booking_id),\n  enc('metadata[client_id]', row.client_id),\n  enc('metadata[booking_id]', row.booking_id),\n  enc('metadata[booking_code]', row.booking_code || ''),\n  enc('metadata[payment_kind]', paymentKind),\n  enc('line_items[0][quantity]', '1'),\n  enc('line_items[0][price_data][currency]', 'eur'),\n  enc('line_items[0][price_data][unit_amount]', amountCents),\n  enc('line_items[0][price_data][product_data][name]', productName),\n].join('&');\n\nconst data = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.stripe.com/v1/checkout/sessions',\n  headers: {\n    Authorization: 'Bearer ' + stripeKey,\n    'Content-Type': 'application/x-www-form-urlencoded',\n  },\n  body: formBody,\n});\n\nif (data.error) {\n  throw new Error(data.error.message || 'Stripe API error');\n}\n\nreturn [{\n  json: {\n    ...row,\n    payment_kind: paymentKind,\n    amount_due_cents: amountCents,\n    stripe_checkout_session_id: data.id,\n    checkout_url: data.url,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 120],
      "id": "2b101006-0006-4000-8000-000000000006",
      "name": "Code - Stripe Create Session",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Stripe API (test)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO payments (\n  client_id, booking_id, payment_kind, currency,\n  amount_due_cents, amount_paid_cents, status,\n  stripe_checkout_session_id, checkout_url, metadata\n) VALUES (\n  $1::uuid, $2::uuid, $3::payment_kind, 'EUR',\n  $4, 0, 'checkout_created',\n  $5, $6, jsonb_build_object('stripe_mode', 'payment', 'created_by', 'n8n-create-payment-session')\n)\nRETURNING id AS payment_id;",
        "options": {
          "queryReplacement": "={{ $json.client_id }},{{ $json.booking_id }},{{ $json.payment_kind }},{{ $json.amount_due_cents }},{{ $json.stripe_checkout_session_id }},{{ $json.checkout_url }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 120],
      "id": "2b101007-0007-4000-8000-000000000007",
      "name": "Postgres - Insert Payment",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Wolfhouse Postgres (local)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings\nSET payment_status = 'payment_link_sent',\n    metadata = COALESCE(metadata, '{}'::jsonb) || jsonb_build_object(\n      'payment_link', $2,\n      'last_checkout_session_id', $3,\n      'last_payment_kind', $4\n    )\nWHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('Code - Stripe Create Session').first().json.booking_id }},{{ $('Code - Stripe Create Session').first().json.checkout_url }},{{ $('Code - Stripe Create Session').first().json.stripe_checkout_session_id }},{{ $('Code - Stripe Create Session').first().json.payment_kind }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 120],
      "id": "2b101008-0008-4000-8000-000000000008",
      "name": "Postgres - Update Booking Link Sent",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Wolfhouse Postgres (local)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, reused: false, booking_id: $('Code - Stripe Create Session').first().json.booking_id, payment_kind: $('Code - Stripe Create Session').first().json.payment_kind, amount_due_cents: $('Code - Stripe Create Session').first().json.amount_due_cents, checkout_url: $('Code - Stripe Create Session').first().json.checkout_url, stripe_checkout_session_id: $('Code - Stripe Create Session').first().json.stripe_checkout_session_id, payment_id: $json.payment_id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 120],
      "id": "2b101009-0009-4000-8000-000000000009",
      "name": "Respond - New Session"
    },
    {
      "parameters": {
        "content": "## Phase 2b — Create Payment Session\n\n- deposit_only amount: `deposit_required_cents` **only if > 0**, else `STRIPE_DEFAULT_DEPOSIT_CENTS` (20000)\n- Stripe via **this.helpers.httpRequest** (no fetch/URLSearchParams)\n- `stripe_payment_intent_id` set by webhook after pay",
        "height": 280,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -220],
      "id": "2b10100a-000a-4000-8000-00000000000a",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook - Create Payment Session": {
      "main": [[{ "node": "Code - Parse Request", "type": "main", "index": 0 }]]
    },
    "Code - Parse Request": {
      "main": [[{ "node": "Postgres - Load Booking", "type": "main", "index": 0 }]]
    },
    "Postgres - Load Booking": {
      "main": [[{ "node": "IF - Existing Checkout?", "type": "main", "index": 0 }]]
    },
    "IF - Existing Checkout?": {
      "main": [
        [{ "node": "Respond - Reuse Session", "type": "main", "index": 0 }],
        [{ "node": "Code - Stripe Create Session", "type": "main", "index": 0 }]
      ]
    },
    "Code - Stripe Create Session": {
      "main": [[{ "node": "Postgres - Insert Payment", "type": "main", "index": 0 }]]
    },
    "Postgres - Insert Payment": {
      "main": [[{ "node": "Postgres - Update Booking Link Sent", "type": "main", "index": 0 }]]
    },
    "Postgres - Update Booking Link Sent": {
      "main": [[{ "node": "Respond - New Session", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "phase2" },
    { "name": "stripe" },
    { "name": "local-only" }
  ]
}
