n8n/phase2/Wolfhouse - Create Payment Session (stub local).json
{
  "id": "whCreatePaymentStubLocal01",
  "name": "Wolfhouse - Create Payment Session (stub local)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-payment-session-stub-local",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "wh-stub-webhook",
      "name": "Webhook - Create Payment Session Stub",
      "webhookId": "wh-create-payment-session-stub-local"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json ?? {};\nconst bookingId = String(body.booking_id || '').trim();\nconst paymentKind = String(body.payment_kind || 'deposit_only').trim() || 'deposit_only';\n\nif (!bookingId) {\n  return [{\n    json: {\n      ok: false,\n      error: 'booking_id is required',\n    },\n  }];\n}\n\nconst shortBookingId = bookingId.replace(/[^a-zA-Z0-9]/g, '').slice(0, 12) || 'unknown';\n\nreturn [{\n  json: {\n    ok: true,\n    booking_id: bookingId,\n    payment_kind: paymentKind,\n    checkout_url: `https://example.test/checkout/session_stub_${bookingId}`,\n    reused: false,\n    amount_due_cents: 0,\n    stripe_checkout_session_id: `cs_test_stub_${shortBookingId}`,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "id": "wh-stub-build-response",
      "name": "Code - Build Stub Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        0
      ],
      "id": "wh-stub-respond",
      "name": "Respond - Stub Payment Session"
    }
  ],
  "connections": {
    "Webhook - Create Payment Session Stub": {
      "main": [
        [
          {
            "node": "Code - Build Stub Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Stub Response": {
      "main": [
        [
          {
            "node": "Respond - Stub Payment Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "phase3c"
    },
    {
      "name": "local-only"
    },
    {
      "name": "stub"
    }
  ]
}
